{% extends "gsl_programmation/programmation_projet_detail.html" %}
{% load static gsl_filters dsfr_tags %}
{% dsfr_theme_modale %}
{% load dsfr_tags static ui_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projet_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    <link rel="stylesheet" href="{% static 'ui/components/tiptap.css' %}">
{% endblock extra_css %}

{% block tab_projet %}
    <h1 class="fr-mb-8w fr-mr-10w">
        Génération des documents et envoi de la notification au demandeur
    </h1>

    {% block notification_content %}
        <div class="fond-gris fr-p-4w">
            <h2>
                <i class="fr-icon-folder-2-fill blue-color" aria-hidden="true"></i>
                Documents de notification
            </h2>
            <div class="notification-btns">
                {% if programmation_projet.arrete and programmation_projet.lettre_notification %}
                    <button class="fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-file-text-line"
                            disabled
                            aria-describedby="tooltip-import-arrete">
                        Générer un document
                    </button>
                    <span class="fr-tooltip fr-placement"
                          id="tooltip-import-arrete"
                          role="tooltip">
                        Un arrêté et une lettre de notification ont déjà été générés pour ce projet.
                    </span>
                {% else %}
                    <a href="{% url 'gsl_notification:choose-generated-document-type' programmation_projet.id %}"
                       class="fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-file-text-line">
                        Générer un document
                    </a>
                {% endif %}
                <a href="{% url 'gsl_notification:choose-uploaded-document-type' programmation_projet.id %}"
                   class="fr-btn fr-btn--icon-left fr-btn--tertiary fr-icon-upload-line">
                    Importer un document
                </a>
                <button class="fr-btn fr-btn--icon-left fr-btn--tertiary fr-icon-printer-line"
                        title="Cette action sera disponible une fois les documents générés."
                        disabled>
                    Imprimer tous les documents
                </button>
            </div>
            {% if programmation_projet.documents %}
                <ul class="arrete-list"
                    data-controller="delete-notification-document-modal"
                    data-delete-notification-document-modal-modal-id-value="delete-document-confirmation-modal"
                    data-delete-notification-document-modal-form-id-value="delete-document-form">
                    {% for document in programmation_projet.documents %}
                        {% include "includes/_document_card.html" %}
                    {% endfor %}
                </ul>
            {% else %}
                <div class="no-documents-info">
                    Il n’y a pas de document pour le moment.
                </div>
            {% endif %}
        </div>

        <h2 class="fr-mt-6w">
            <i class="fr-icon-mail-fill blue-color" aria-hidden="true"></i>
            Message de notification
        </h2>
        <p>
            <button disabled class="fr-btn fr-icon-check-line fr-btn--icon-left">
                Envoyer le message de notification
            </button>
        </p>
    {% endblock notification_content %}
{% endblock tab_projet %}

{% block extra_js %}
    <script type="module" src="{% static 'js/notification.js' %}"></script>
{% endblock extra_js %}

{% block modal %}
    {% ui_confirmation_modal modal_id="delete-document-confirmation-modal" title=arrete_modal_title text="Êtes-vous sûr(e) de vouloir supprimer cet arrêté ?<br>Cette action est irréversible." form="delete-document-form" action_text="Supprimer" %}
    <form method="post" id="delete-document-form">
        {% csrf_token %}
    </form>
{% endblock modal %}
