{% extends "gsl_projet/projet.html" %}
{% load static gsl_filters dsfr_tags %}
{% dsfr_theme_modale %}
{% load dsfr_tags static ui_tags notification_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projet_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    <link rel="stylesheet" href="{% static 'ui/components/tiptap.css' %}">
{% endblock extra_css %}

{% block tab_projet %}
    {% block notification_content %}
        <h3>
            1 - Générer
        </h3>
        {% generate_documents_form projet %}

        <div data-controller="delete-notification-document-modal"
             data-delete-notification-document-modal-modal-id-value="delete-document-confirmation-modal"
             data-delete-notification-document-modal-form-id-value="delete-document-form">
            {% include "includes/_documents_table.html" with documents=generated_documents caption="Documents générés" date_label="Date de génération" is_imported=False empty_message="Il n’y a pas de document généré pour le moment." %}

            <h3 class="fr-mt-6w">
                2 - Importer
            </h3>
            <a href="{% url 'gsl_notification:choose-uploaded-document-type' projet.id %}"
               class="fr-btn fr-btn--icon-left fr-btn--tertiary fr-icon-upload-line">
                Importer un document
            </a>
            {% include "includes/_documents_table.html" with documents=imported_documents caption="Documents importés" date_label="Date d'import" is_imported=True empty_message="Il n’y a pas de document importé pour le moment." %}
        </div>

        <h3 class="fr-mt-6w">
            3 - Notifier
        </h3>
        {% notification_message_form projet %}

        <h3 class="fr-mt-6w">
            4 - Notifié
        </h3>
        {% if projet.notified_at %}
            <p>
                Notifié le {{ projet.notified_at|date }} par TODO.
            </p>
        {% else %}
            <p class="fr-mt-3w fr-mb-1w">
                Aucune notification.
            </p>
        {% endif %}
    {% endblock notification_content %}
{% endblock tab_projet %}

{% block extra_js %}
    <script type="module" src="{% static 'js/notification.js' %}"></script>
{% endblock extra_js %}

{% block modal %}
    <div id="not-instructeur-modal" class="fr-modal" aria-hidden="true">
        {% include "includes/_not_instructeur_modal.html" with modal_id="not-instructeur-modal" %}
    </div>
    {% ui_confirmation_modal modal_id="delete-document-confirmation-modal" title=arrete_modal_title text="Êtes-vous sûr(e) de vouloir supprimer cet arrêté ?<br>Cette action est irréversible." form="delete-document-form" action_text="Supprimer" %}
    <form method="post" id="delete-document-form">
        {% csrf_token %}
    </form>
{% endblock modal %}
