{% extends "gsl_projet/projet.html" %}
{% load static gsl_filters dsfr_tags %}
{% dsfr_theme_modale %}
{% load dsfr_tags static ui_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projet_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    <link rel="stylesheet" href="{% static 'ui/components/tiptap.css' %}">
{% endblock extra_css %}

{% block tab_projet %}
    {% block notification_content %}
        <h3>
            1 - Générer
        </h3>
        <form method="post"
              data-controller="form-utils"
              data-action="submit->form-utils#disableButtons">
            {% csrf_token %}

            {% ui_form_errors form=generate_documents_form %}

            <div class="fr-grid-row fr-grid-row--gutters">
                {% for dotation, fields in generate_documents_form.dotation_fields.items %}
                    <div class="fr-col-12 fr-col-md-6">
                        <div class="fr-callout fr-background-alt--blue-france callout-without-left-border fr-p-4w fr-mb-3w">
                            <h4 class="fr-callout__title">
                                {{ dotation }}
                            </h4>
                            {% ui_status_badge type="accepted" dotation=dotation %}

                            <div class="fr-callout__text fr-mt-2w"
                                 data-controller="skip-document-toggle">
                                {{ fields.modele_arrete.as_field_group }}
                                {{ fields.skip_arrete.as_field_group }}
                            </div>
                            <div class="fr-callout__text" data-controller="skip-document-toggle">
                                {{ fields.modele_lettre.as_field_group }}
                                {{ fields.skip_lettre.as_field_group }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {{ generate_documents_form.hide_qr_code.as_field_group }}

            <button type="submit"
                    class="fr-btn fr-mt-3w fr-icon-file-text-line fr-btn--icon-left">
                Générer les documents
            </button>
        </form>

        <div data-controller="delete-notification-document-modal"
             data-delete-notification-document-modal-modal-id-value="delete-document-confirmation-modal"
             data-delete-notification-document-modal-form-id-value="delete-document-form">
            {% if generated_documents %}
                <div class="fr-table fr-mt-3w">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <caption class="fr-sr-only">Documents générés</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fr-cell--center">
                                                Date de génération
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                Dotation
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                Nom du document
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                Actions
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                <span class="fr-sr-only">Supprimer</span>
                                                <i class="fr-icon-delete-fill fr-mr-1w" aria-hidden="true"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for document in generated_documents %}
                                            <tr>
                                                <td>
                                                    {{ document.created_at|date:"d/m/Y H\hi" }}
                                                </td>
                                                <td>
                                                    {{ document.programmation_projet.dotation }}
                                                </td>
                                                <td>
                                                    <span class="document-name-cell" title="{{ document.name }}">{{ document.name }}</span>
                                                </td>
                                                <td>
                                                    <div class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--centers fr-btns-group--icon-left fr-btns-group--sm">
                                                        <a href="{{ document.get_view_url }}"
                                                           class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-eye-line"
                                                           data-qr-code-toggle-target="link">
                                                            Visualiser
                                                        </a>
                                                        <a href="{{ document.get_download_url }}"
                                                           class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-line"
                                                           data-qr-code-toggle-target="link">
                                                            Télécharger ({{ document.size|filesizeformat }})
                                                        </a>
                                                        <a href="{% url "notification:modifier-document" document.programmation_projet.projet.id document.programmation_projet.dotation document.document_type %}"
                                                           class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-edit-line">
                                                            Modifier
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="fr-btns-group fr-btns-group--sm fr-btns-group--centers">
                                                        <button type="button"
                                                                class="fr-btn fr-btn--secondary fr-btn--icon-only fr-icon-delete-line"
                                                                aria-controls="delete-document-confirmation-modal"
                                                                aria-expanded="false"
                                                                data-fr-opened="false"
                                                                data-name="{{ document.name }}"
                                                                data-type="{{ document.document_type }}"
                                                                data-form-action="{% url "notification:delete-document" document.document_type document.id %}"
                                                                data-delete-title="{{ document.delete_title }}"
                                                                data-delete-question="{{ document.delete_question }}"
                                                                data-action="delete-notification-document-modal#updateModaleTitleAndSubmitAction"
                                                                aria-label="Supprimer {{ document.name }}">
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="no-documents-info">
                    Il n’y a pas de document généré pour le moment.
                </div>
            {% endif %}

            <h3 class="fr-mt-6w">
                2 - Importer
            </h3>
            <a href="{% url 'gsl_notification:choose-uploaded-document-type' projet.id %}"
               class="fr-btn fr-btn--icon-left fr-btn--tertiary fr-icon-upload-line">
                Importer un document
            </a>
            {% if imported_documents %}
                <div class="fr-table fr-mt-3w">
                    <div class="fr-table__wrapper">
                        <div class="fr-table__container">
                            <div class="fr-table__content">
                                <table>
                                    <caption class="fr-sr-only">Documents importés</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" class="fr-cell--center">
                                                Date d'import
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                Dotation
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                Nom du document
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                Actions
                                            </th>
                                            <th scope="col" class="fr-cell--center">
                                                <span class="fr-sr-only">Supprimer</span>
                                                <i class="fr-icon-delete-fill fr-mr-1w" aria-hidden="true"></i>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for document in imported_documents %}
                                            <tr>
                                                <td>
                                                    {{ document.created_at|date:"d/m/Y H\hi" }}
                                                </td>
                                                <td>
                                                    {{ document.programmation_projet.dotation }}
                                                </td>
                                                <td>
                                                    <span class="document-name-cell" title="{{ document.name }}">{{ document.name }}</span>
                                                </td>
                                                <td>
                                                    {% if document.is_downloadable %}
                                                        <div class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--centers fr-btns-group--icon-left fr-btns-group--sm">
                                                            <a href="{{ document.get_view_url }}"
                                                               class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-eye-line fr-btn--icon-left">
                                                                Visualiser
                                                            </a>
                                                            <a href="{{ document.get_download_url }}"
                                                               class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-line fr-btn--icon-left">
                                                                Télécharger ({{ document.size|filesizeformat }})
                                                            </a>
                                                        </div>
                                                    {% elif document.is_infected %}
                                                        <span class="fr-error-text fr-text--sm">
                                                            Fichier infecté détecté par l'antivirus
                                                        </span>
                                                    {% else %}
                                                        <span class="fr-info-text fr-text--sm">
                                                            Analyse antivirus en cours…
                                                        </span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div class="fr-btns-group fr-btns-group--sm fr-btns-group--centers">
                                                        <button type="button"
                                                                class="fr-btn fr-btn--secondary fr-btn--icon-only fr-icon-delete-line"
                                                                aria-controls="delete-document-confirmation-modal"
                                                                aria-expanded="false"
                                                                data-fr-opened="false"
                                                                data-name="{{ document.name }}"
                                                                data-type="{{ document.document_type }}"
                                                                data-form-action="{% url "notification:delete-document" document.document_type document.id %}"
                                                                data-action="delete-notification-document-modal#updateModaleTitleAndSubmitAction"
                                                                aria-label="Supprimer {{ document.name }}">
                                                        </button>
                                                    </div>

                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="no-documents-info">
                    Il n’y a pas de document importé pour le moment.
                </div>
            {% endif %}
        </div>

        <h3 class="fr-mt-6w">
            3 - Notifier
        </h3>
        {% if projet.notified_at %}
            <p class="fr-text-default--success">
                Message de notification envoyé le {{ projet.notified_at|date }} sur Démarche Numérique.
            </p>
        {% elif not is_instructor %}
            <button class="fr-btn fr-mt-6w fr-icon-edit-line fr-btn--icon-right"
                    aria-controls="not-instructeur-modal"
                    data-fr-opened="false">
                Rédiger le message de notification
            </button>
        {% elif projet.dotation_not_treated %}
            <p class="fr-mt-3w fr-mb-1w">
                La dotation {{ projet.dotation_not_treated }} est en attente de traitement.
            </p>
        {% else %}
            <div class="fr-grid-row">
                <div class="fr-col-12 fr-col-md-9 fr-col-lg-6">
                    <form method="post"
                          data-controller="form-utils"
                          data-action="submit->form-utils#disableButtons">
                        {% csrf_token %}
                        <input type="hidden" name="send_notification" value="1">

                        {{ notification_message_form.message.as_field_group }}

                        {% if projet.dotationprojet_set.without_signed_document %}
                            <div role="alert" class="fr-alert fr-alert--warning fr-alert--sm fr-mb-2w">
                                <p>
                                    Documents manquants pour notifier&nbsp;:
                                </p>
                                <ul>
                                    {% for dotation_projet in projet.dotationprojet_set.without_signed_document %}
                                        <li>
                                            Lettre de notification et arrêté signés {{ dotation_projet.dotation }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        <button type="submit"
                                class="fr-btn fr-mt-3w fr-icon-mail-line fr-btn--icon-right"
                                {% if projet.dotationprojet_set.without_signed_document %}disabled{% endif %}>
                            Notifier
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}

        <h3 class="fr-mt-6w">
            4 - Notifié
        </h3>
        {% if projet.notified_at %}
            <p>
                Notifié le {{ projet.notified_at|date }} par TODO.
            </p>
        {% else %}
            <p class="fr-mt-3w fr-mb-1w">
                Aucune notification.
            </p>
        {% endif %}
    {% endblock notification_content %}
{% endblock tab_projet %}

{% block extra_js %}
    <script type="module" src="{% static 'js/notification.js' %}"></script>
{% endblock extra_js %}

{% block modal %}
    <div id="not-instructeur-modal" class="fr-modal" aria-hidden="true">
        {% include "includes/_not_instructeur_modal.html" with modal_id="not-instructeur-modal" %}
    </div>
    {% ui_confirmation_modal modal_id="delete-document-confirmation-modal" title=arrete_modal_title text="Êtes-vous sûr(e) de vouloir supprimer cet arrêté ?<br>Cette action est irréversible." form="delete-document-form" action_text="Supprimer" %}
    <form method="post" id="delete-document-form">
        {% csrf_token %}
    </form>
{% endblock modal %}
