.arrete-container {
  border: 1px solid var(--background-action-low-blue-france-active);
  padding: 2rem 4rem;
}

#arrete-signe-form {
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.fond-gris {
  background: #f7f7f7;
}

.empty-list {
  text-align: center;
  list-style: none;
}

.arrete-card {
  border: 1px solid var(--border-default-grey);
  background: #fff;
  padding: 1rem;
  width: fit-content;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrete-card__image {
  border: 1px solid var(--border-default-grey);
}
.show-on-hover {
  display: none;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 15%;
  background: #fff;
}
.arrete-card:hover .show-on-hover {
  display: flex;
}
.arrete-card .fr-enlarge-link a {
  display: block;
}

.next-step-buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
  align-items: center;
  margin-top:1rem;
}

#editor > div {
  border: 1px solid var(--border-default-grey);
  padding: 1rem;
  min-height: 200px;
  overflow-y: auto;
}