{% extends "base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
    <link rel="stylesheet" href="{% static 'css/tiptap.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>
        {% block notif_page_title %}
            Notification
        {% endblock notif_page_title %}
    </h1>
    <h2>
        <span class="blue-color">Projet :</span> {{ projet.dossier_ds.projet_intitule }}
    </h2>

    <div class="arrete-container">
        {% block upper_content %}
        {% endblock upper_content %}
        {% block arrete_content %}
        {% endblock arrete_content %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="module" src="{% static 'js/notification.js' %}"></script>
    <script type="module" src="{% static 'js/tiptap.js' %}"></script>
{% endblock extra_js %}
