{% extends "gsl_notification/tab_simulation_projet/tab_notifications.html" %}
{% load static gsl_filters %}
{% block notification_content %}
    <a class="fr-btn fr-btn--icon-left fr-btn--tertiary fr-icon-arrow-left-s-line fr-mb-4w"
       href="{% url 'gsl_notification:documents' programmation_projet.id %}">
        Annuler la génération
    </a>

    <div class="arrete-container" data-controller="choose-document-type">
        <h2 class="fr-mb-3w">
            Générer un document
        </h2>

        <div class="fr-radio-group fr-mb-2w">
            <input type="radio"
                   name="type"
                   value="arrete"
                   dsfr="dsfr"
                   id="arrete"
                   data-action="click->choose-document-type#setSelectedValue">
            <label class="fr-label" for="arrete">
                Arrêté attributif
            </label>
        </div>

        <div class="fr-radio-group">
            <input type="radio"
                   name="type"
                   value="lettre"
                   dsfr="dsfr"
                   id="lettre"
                   data-action="click->choose-document-type#setSelectedValue">
            <label class="fr-label" for="lettre">
                Lettre de notification
            </label>
        </div>

        <a class="fr-btn fr-btn--icon-left fr-icon-file-text-line fr-mt-4w"
           data-href="{% url 'gsl_notification:select-modele' programmation_projet.id %}"
           data-choose-document-type-target="button"
           data-action="click->choose-document-type#next">
            Créer sur Turgot
        </a>
    </div>
{% endblock notification_content %}
