{% extends "gsl_notification/base.html" %}
{% load static dsfr_tags gsl_filters %}
{% block arrete_content %}
    <div class="arrete-card fr-mt-4w">
        <img class="arrete-card__image"
             src="{% static 'img/arrete_vignette.png' %}"
             alt="Image d'un arrêté">
        <div>
            {% if arrete|get_class == "ArreteSigne" %}
                {% define "notification:arrete-signe-download" as download_url %}
            {% else %}
                {% define "notification:arrete-download" as download_url %}
            {% endif %}
            <a class="fr-link fr-link--download"
               href="{% url download_url arrete.id %}">
                {{ arrete.name }} -
                {{ arrete.type|upper }} -
                {{ arrete.size|filesizeformat }}
            </a>
        </div>
        <div>
            Ajouté le {{ arrete.created_at|date:"d/m/Y" }} à {{ arrete.created_at|time:"H:i" }} par {{ arrete.created_by }}
        </div>
    </div>

    <div class="next-step-buttons">
        {% if source_simulation_projet_id %}
            {% url 'simulation:simulation-projet-detail' source_simulation_projet_id as go_back_url %}
        {% else %}
            {% url 'projet:list' as go_back_url %}
        {% endif %}
        <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-save-line"
           href="{{ go_back_url }}">
            Enregistrer et revenir plus tard
        </a>
        <button class="fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line" disabled>
            Suivant
        </button>
    </div>
{% endblock arrete_content %}
