.separator {
  width: 2px;
  align-self: stretch;
  background-color: var(--border-default-blue-france); /* Couleur de la barre */
  margin-bottom: 1rem;
  margin-right: 4px;
  margin-left: 4px;

}

.fr-fieldset__element .fr-radio-rich input[type="radio"] ~ label {
  flex-direction: row;
  gap: 8px;
  font-size: calc(14rem /16);
  font-weight: 500;
}

.radio-input-provisionally_accepted label{
  color:var(--text-default-info);
}

.radio-input-provisionally_refused label{
  color:var(--text-action-high-orange-terre-battue);
}

.radio-input-valid label {
  color: var(--text-default-success);
}

.radio-input-cancelled label {
  color: var(--text-default-error);
}

.radio-input-dismissed label,
.radio-input-draft label {
  color: var(--text-default-grey);
}

.avis-commission-detr-block {
  grid-gap: 16px;
  align-items: baseline;
}

.avis-commission-detr-select-and-label {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avis-commission-detr-select-group {
  display: flex;
  align-items: center;
  gap: 4px;
  min-width: 150px;
}

#id_is_budget_vert {
  width:180px
}

.submit-projet-note-form-container {
  display: flex;
  justify-content: end;
}

#projet_note_form {
  display:none
}

.note-card {
  border: 1px solid var(--border-default-grey);
}
