/* table */
.gsl-projet-table__select {
  text-align: right;
  padding: 4px;
  padding-right: 20px;
  background-position: calc(100% - 4px) 50%;
  box-shadow: none
}

.gsl-projet-table__input-wrap {
  position: relative;
  display: inline-block;
}

.gsl-projet-table__input-wrap > input {
  text-align: right;
  padding: 4px;
  padding-right: 12px;
}

.gsl-projet-table__input-symbol {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  pointer-events: none; /* Ne pas interférer avec les clics */
  color: #333;
}

.gsl-projet-table__rate > input {
  padding-right: 16px;
}

.simulation-menu {
  display: inline-block;
}

.dotation-dropdown > button {
  line-height: inherit;
}

.dotation-select-content{
  text-align: left;
  gap: 0;
  display: none;
  position: absolute;
  background-color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 20%);
  padding: 10px;
  z-index: 1000;
}

.dotation-select-content .fr-label {
  font-size: small;
}


.gsl-projet-table table tbody tr.row-with-double-dotations td{ /* cette longue liste est utile pour être plus spécifique que .gsl-projet-table table tbody tr td */
  border-bottom: 1px solid var(--border-disabled-grey);
}


.gsl-projet-table table tbody td.other-simulation-status {
  text-align: end;
  padding-right: 26px;
}

.gsl-projet-table table tbody td.other-simulation-status.to_notify {
  text-align: end;
  padding-right: 8px;
}

.other-simulation-status > b {
  font-weight: 500;
}

.other-simulation-status > .projet__to_notify {
  margin-left: 10px;
  font-weight: 500;
}


/* buttons */

.accept-button{
  background-color: var(--background-action-high-success);
  color: var(--background-alt-blue-france)
}

.accept-button:hover:not(:disabled){
  background-color: var(--background-action-high-success-hover) !important;
}

.refuse-button{
  background-color: var(--background-action-high-error);
  color: var(--background-alt-blue-france)
}

.refuse-button:hover:not(:disabled){
  background-color: var(--background-action-high-error-hover) !important;
}

.dismiss-button{
  background-color: var(--background-action-high-warning);
  color: var(--background-alt-blue-france)
}

.dismiss-button:hover:not(:disabled){
  background-color: var(--background-action-high-warning-hover) !important;
}

/* status select */

.gsl-projet-table td.simulation-status {
  padding: 0;
  text-align: right;
}

.gsl-projet-table .input-status-select .fr-btn--sm,
.gsl-projet-table .input-status-select .fr-nav__link {
  font-size: .6rem;
  padding: .25rem 2rem .25rem .5rem;
  text-align: right;
}

.gsl-projet-table .status-select {
  font-weight: bold;
}

.gsl-projet-table .input-status-select .fr-btn--tertiary {
  color: var(--text-default-grey);
}

.gsl-projet-table .input-status-valid .fr-btn.fr-btn--tertiary {
  color: var(--text-default-success);
}

.gsl-projet-table .input-status-cancelled .fr-btn.fr-btn--tertiary {
  color: var(--text-default-error);
}

.gsl-projet-table .input-status-provisionally_accepted .fr-btn.fr-btn--tertiary {
  color: var(--text-default-info);
}

.gsl-projet-table .input-status-provisionally_refused .fr-btn.fr-btn--tertiary {
  color: var(--text-action-high-orange-terre-battue);
}

/* text inputs */

.input-status-color-valid{
  background-color: var(--background-alt-green-emeraude);
  box-shadow: inset 0 -2px 0 0 var(--background-action-high-success)
}

.input-status-color-provisionally_accepted{
  background-color: var(--text-inverted-blue-ecume);
  box-shadow: inset 0 -2px 0 0 var(--border-action-high-info)
}

.input-status-color-provisionally_refused{
  background-color: var(--background-contrast-brown-opera);
  box-shadow: inset 0 -2px 0 0 var(--text-action-high-orange-terre-battue)
}

.form-disabled-before-value-change > .fr-callout {
  background-image: linear-gradient(0deg, var(--background-action-high-blue-france), var(--background-action-high-blue-france))
}

/* export buttons */
.gsl-dropdown .export-btn-container {
  gap: 0;
}

.gsl-dropdown .export-btn {
  height: 100%;
  width: 200px;
}