
.success-color {
  color: var(--text-default-success);
}

.refuse-color {
  color: var(--text-default-error);
}

.processing-color {
  color: var(--text-mention-grey);
}

.dismiss-color {
  color: var(--text-default-warning);
}

.confirmation-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

/* buttons */

.accept-button{
  background-color: var(--background-action-high-success);
  color: var(--background-alt-blue-france)
}

.accept-button:hover{
  background-color: var(--background-action-high-success-hover) !important;
}

.refuse-button{
  background-color: var(--background-action-high-error);
  color: var(--background-alt-blue-france)
}

.refuse-button:hover{
  background-color: var(--background-action-high-error-hover) !important;
}

.dismiss-button{
  background-color: var(--background-action-high-warning);
  color: var(--background-alt-blue-france)
}

.dismiss-button:hover{
  background-color: var(--background-action-high-warning-hover) !important;
}

/* status select */

#status-select {
  font-weight: bold;
}

#status-select:has(> option[value="valid"]:checked){
  color: var(--text-default-success)
}

#status-select:has(> option[value="cancelled"]:checked){
  color: var(--text-default-error)
}

#status-select:has(> option[value="provisoire"]:checked){
  color: var(--text-default-info)
}