/* liste simulations */

.add-simulation-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.simulation-cards-list {
  display: grid;
  gap: 16px;
}

.simulation-card {
  border: 1px solid #ddd;
  padding: 1em !important;
  display: flex;
  box-shadow: 2px 3px 8px 0 #0000001A;
  gap: 16px;
  background-image: none;
}

a.simulation-card:hover {
  background-color: #F7F7F7;
}

.simulation-card__actions {
  color: var(--text-action-high-blue-france);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.simulation-card__content {
  flex: 1;
  min-width: 250px;
}

.simulation-card__title {
  color: var(--text-title-blue-france);
  margin-bottom: 0;
  font-size: 1.5rem;
}

.simulation-card__creation-info {
  display: grid;
  align-items: center;
}

.simulation-card .projet-states-count {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width:15%
}

.simulation-card__navigate {
  padding: 16px;
  display: grid;
  align-items: center;
  color: var(--text-action-high-blue-france);
  background-image: none;
}