/* liste simulations */

.add-simulation-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}


.simulation-card {
  border: 1px solid var(--border-default-grey);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.simulation-card__content {
  flex: 1;
  min-width: 15rem;
}

.simulation-card .projet-states-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:15%
}

.simulation-card__navigate {
  display: grid;
  align-items: center;
  align-self: stretch;
  border-left: 1px solid #ddd;
  color: var(--text-action-high-blue-france);
  background-image: none;
}

.simulation-card__navigate:hover {
  background-color: var(--background-contrast-blue-ecume) !important;
}
