/* table */
.gsl-projet-table__select {
  text-align: right;
  padding: 4px;
  padding-right: 20px;
  background-position: calc(100% - 4px) 50%;
  box-shadow: none
}

.gsl-projet-table__input-wrap {
  position: relative;
  display: inline-block;
}

.gsl-projet-table__input-wrap > input {
  text-align: right;
  padding: 4px;
  padding-right: 12px;
  /* box-shadow: none */
}

.gsl-projet-table__input-symbol {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  pointer-events: none; /* Ne pas interférer avec les clics */
  color: #333;
}

.gsl-projet-table__rate > input {
  padding-right: 16px;
}

.dotation-dropdown > button {
  line-height: inherit;
}

.dotation-select-content{
  text-align: left;
  gap: 0px;
  display: none;
  position: absolute;
  background-color: white;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.dotation-select-content .fr-label {
  font-size: small;
}

/* other dotation */
.other-simulation-row {
  background-color: var(--background-default-grey-hover);
  min-height: 40px;
  height: 40px;
}

.gsl-projet-table table tbody tr.row-with-double-dotations td{ /* cette longue liste est utile pour être plus spécifique que .gsl-projet-table table tbody tr td */
  border-bottom: 1px solid var(--border-disabled-grey);
}

.information-other-dotation {
  text-align: end;
  font-style: italic;
}

.gsl-projet-table table tbody td.other-simulation-status {
  text-align: end;
  padding-right: 26px;
}

/* colors */

.success-color {
  color: var(--text-default-success);
}

.refuse-color {
  color: var(--text-default-error);
}

.processing-color {
  color: var(--text-mention-grey);
}

.dismiss-color {
  color: var(--text-default-warning);
}

/* modal */

.confirmation-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

/* buttons */

.accept-button{
  background-color: var(--background-action-high-success);
  color: var(--background-alt-blue-france)
}

.accept-button:hover:not(:disabled){
  background-color: var(--background-action-high-success-hover) !important;
}

.refuse-button{
  background-color: var(--background-action-high-error);
  color: var(--background-alt-blue-france)
}

.refuse-button:hover:not(:disabled){
  background-color: var(--background-action-high-error-hover) !important;
}

.dismiss-button{
  background-color: var(--background-action-high-warning);
  color: var(--background-alt-blue-france)
}

.dismiss-button:hover:not(:disabled){
  background-color: var(--background-action-high-warning-hover) !important;
}

/* status select */

.status-select {
  font-weight: bold;
}

.status-select:has(> option[value="valid"]:checked){
  color: var(--text-default-success)
}

.status-select:has(> option[value="cancelled"]:checked){
  color: var(--text-default-error)
}

.status-select:has(> option[value="provisionally_accepted"]:checked){
  color: var(--text-default-info)
}

.status-select:has(> option[value="provisionally_refused"]:checked){
  color: var(--text-action-high-orange-terre-battue)
}

/* inputs */

.input-status-color-valid{
  background-color: var(--background-alt-green-emeraude);
  box-shadow: inset 0 -2px 0 0 var(--background-action-high-success)
}

.input-status-color-provisionally_accepted{
  background-color: var(--text-inverted-blue-ecume);
  box-shadow: inset 0 -2px 0 0 var(--border-action-high-info)
}

.input-status-color-provisionally_refused{
  background-color: var(--background-contrast-brown-opera);
  box-shadow: inset 0 -2px 0 0 var(--text-action-high-orange-terre-battue)
}

.form-disabled-before-value-change > .fr-callout {
  background-image: linear-gradient(0deg, var(--background-action-high-blue-france), var(--background-action-high-blue-france))
}

/* export buttons */
.gsl-dropdown .export-btn-container {
  gap: 0;
}

.gsl-dropdown .export-btn {
  height: 100%;
  width: 200px;
}