{% load gsl_filters %}
{% if projet.notified_at %}
    {{ simu.dotation_projet.assiette|euro_value:2 }}
{% else %}
    <form action="{% url 'simulation:patch-dotation-projet-assiette' simu.id %}"
          method="POST"
          id="id-assiette-{{ simu.id }}"
          hx-swap-oob="true">
        {% csrf_token %}
        <div class="gsl-projet-table__input-wrap">
            <input name="assiette"
                   type="text"
                   inputmode="numeric"
                   class="fr-input input-simulation-projet-{{ simu.pk }} gsl-projet-table__input--{{ simu.status }}"
                   hx-post="{% url 'simulation:patch-dotation-projet-assiette' simu.id %}"
                   hx-disabled-elt=".input-simulation-projet-{{ simu.pk }}"
                   value="{{ simu.dotation_projet.assiette|floatformat:"2g" }}"
                   {% if simu.status == 'cancelled' or simu.status == 'dismissed' %}disabled{% endif %}>
        </div>
        <input type="hidden" name="filter_params" value="{{ filter_params }}">
    </form>
{% endif %}
