{% load gsl_filters %}
{% if projet.notified_at %}
    {{ simu.montant|euro:2 }}
{% else %}
    <form action="{% url 'simulation:patch-simulation-projet-montant' simu.id %}"
          method="POST"
          id="id-montant-{{ simu.id }}"
          hx-swap-oob="true">
        {% csrf_token %}
        <div class="gsl-projet-table__input-wrap">
            <input name="montant"
                   type="text"
                   inputmode="numeric"
                   class="fr-input input-simulation-projet-{{ simu.pk }} gsl-projet-table__input--{{ simu.status }}"
                   hx-post="{% url 'simulation:patch-simulation-projet-montant' simu.id %}"
                   hx-disabled-elt=".input-simulation-projet-{{ simu.pk }}"
                   value="{{ simu.montant|floatformat:"2g" }}"
                   {% if simu.status == 'cancelled' or simu.status == 'dismissed' %}disabled{% endif %}>
            <span class="gsl-projet-table__input-symbol">€</span>
        </div>
        <input type="hidden" name="filter_params" value="{{ filter_params }}">
    </form>
{% endif %}
