{% load gsl_filters %}
<form action="{% url 'simulation:patch-simulation-projet-status' simu.id %}"
      method="POST"
      id="id-status-{{ simu.id }}"
      hx-post="{% url 'simulation:patch-simulation-projet-status' simu.id %}"
      hx-trigger="status-confirmed"
      hx-disabled-elt="find .input-simulation-projet-{{ simu.pk }}"
      hx-swap-oob="true">
    {% csrf_token %}
    <select class="fr-select gsl-projet-table__select input-simulation-projet-{{ simu.pk }} input-status-select-{{ simu.status }} status-select"
            name="status"
            data-original-value="{{ simu.status }}">
        {% for key, value in available_states %}
            <option value="{{ key }}"
                    {% if simu.status == key %} selected {% endif %}
                    {% if key == 'cancelled' %} hx-get="{% url 'gsl_simulation:refuse-form' simu.id %}" hx-trigger="refuse-confirmation-modal" hx-swap="innerHTML" hx-target="#refuse-confirmation-modal" {% elif key == 'dismissed' %} hx-get="{% url 'gsl_simulation:dismiss-form' simu.id %}" hx-trigger="dismiss-confirmation-modal" hx-swap="innerHTML" hx-target="#dismiss-confirmation-modal" {% endif %}>
                {{ value }}
            </option>
        {% endfor %}
    </select>
    <input type="hidden" name="filter_params" value="{{ filter_params }}">
    <input type="submit" hidden />
</form>
