<form action="{% url 'programmation:patch-simulation-projet-montant' simu.id %}"
      method="POST"
      hx-on="submit: event.preventDefault()">
    {% csrf_token %}
    <div div class="gsl-projet-table__input-wrap">
        <input name="montant"
               type="text"
               inputmode="numeric"
               class="fr-input input-simulation-projet-{{ simu.pk }}"
               hx-patch="{% url 'programmation:patch-simulation-projet-montant' simu.id %}"
               hx-disabled-elt=".input-simulation-projet-{{ simu.pk }}"
               hx-trigger="change, keyup[key=='Enter']"
               value="{{ simu.montant|floatformat:"2g" }}">
        <span class="gsl-projet-table__input-symbol">€</span>
    </div>
</form>
