<form action="{% url 'programmation:patch-simulation-projet-montant' %}"
      method="POST">
    {% csrf_token %}
    <input type="hidden" name="simulation_projet_id" value="{{ simu.id }}">
    <input type="hidden"
           name="filter_params"
           value="{{ request.GET.urlencode }}">
    <div div class="gsl-projet-table__input-wrap">
        <input name="montant"
               type="text"
               inputmode="numeric"
               class="fr-input"
               onfocusout="this.form.submit()"
               value="{{ simu.montant|floatformat:"2g" }}">
        <span class="gsl-projet-table__input-symbol">€</span>
    </div>
</form>
