{% load gsl_filters %}
<form hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-swap="outerHTML"
      hx-post="{% url 'programmation:patch-simulation-projet-status' %}"
      hx-trigger="change">
    {% csrf_token %}
    <select class="fr-select gsl-projet-table__select"
            id="status-select"
            name="status">
        {% for key, value in available_states %}
            <option value={{ key }} {% if simu.status == key %} selected {% endif %}>
                {{ value }}
            </option>
        {% endfor %}
    </select>
    <input type="hidden" name="simulation_projet_id" value="{{ simu.id }}">
    <input type="hidden"
           name="filter_params"
           value="{{ request.GET.urlencode }}">
</form>
