<form action="{% url 'programmation:patch-simulation-projet-taux' %}"
      method="POST">
    {% csrf_token %}
    <input type="hidden" name="simulation_projet_id" value="{{ simu.id }}">
    <input type="hidden"
           name="filter_params"
           value="{{ request.GET.urlencode }}">
    <div class="gsl-projet-table__input-wrap gsl-projet-table__rate">
        <input name="taux"
               type="text"
               inputmode="numeric"
               class="fr-input input-simulation-projet-{{ simu.pk }}"
               onfocusout="this.form.submit()"
               value="{{ simu.taux }}">
        <span class="gsl-projet-table__input-symbol">%</span>
    </div>
</form>
