{% load gsl_filters %}
<li>
    <span aria-hidden="true">💰</span> Assiette subventionnable : {{ dotation_projet.assiette|euro }}
</li>
<li>
    <span aria-hidden="true">🧾</span> Taux de subvention sollicité : {{ dotation_projet.taux_de_subvention_sollicite|percent|default:"—" }}
    <button class="fr-btn--tooltip fr-btn fr-m-0 fr-pv-0-5v gsl-tooltip"
            type="button"
            aria-describedby="tooltip-taux-{{ dotation_projet.dotation }}">
        en % de l'assiette subventionnable
    </button>
    <span class="fr-tooltip fr-placement"
          id="tooltip-taux-{{ dotation_projet.dotation }}"
          role="tooltip"
          aria-hidden="true">en % de l'assiette subventionnable</span>
</li>
