<div class="form-disabled-before-value-change fr-mb-2w"
     data-action="change->projet-form#enableSubmit">
    {% csrf_token %}
    <div class="fr-callout fr-background-alt--blue-france fr-pt-3w fr-px-2w fr-pb-1w">
        {{ projet_form.is_budget_vert.as_field_group }}
    </div>
    <button class="fr-btn fr-btn--secondary"
            id="submit-is-in-qpv-and-is-attached-to-a-crte"
            type="submit"
            disabled
            form="projet-form">
        Enregistrer
    </button>
</div>
