{% extends "includes/modals/modal_base.html" %}
{% block modal_id %}
    delete-confirmation-modal
{% endblock modal_id %}

{% block content %}
    <h1 class="fr-modal__title refuse-color">
        <span class="fr-icon-delete-fill fr-icon--lg" aria-hidden="true"></span> <span id="delete-note-modal-title">Suppression de la note</span>
    </h1>
    <p>
        Êtes-vous sûr(e) de vouloir supprimer cette note ? Personne ne pourra plus la voir dans Turgot. Cette action est irréversible.
    </p>
{% endblock content %}

{% block confirmation_button %}
    <button class="fr-btn fr-btn--primary" id="confirm-delete-note">
        Supprimer
    </button>
{% endblock confirmation_button %}
