{% extends "includes/modals/modal_base.html" %}
{% block modal_id %}
    dotation-confirmation-modal-content
{% endblock modal_id %}

{% block content %}
    <h1 class="fr-modal__title">
        <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span> <span id="modal-title">Modification de la dotation</span>
    </h1>
    <p id="modal-body">
        Ce projet sera aussi affiché dans les simulations DSIL.
    </p>
{% endblock content %}

{% block confirmation_button %}
    <button class="fr-btn fr-btn--primary" id="confirm-dotation-update">
        Je confirme
    </button>
{% endblock confirmation_button %}
