<dialog id="refuse-confirmation-modal" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button aria-controls="modal"
                                title="Fermer"
                                type="button"
                                class="fr-btn--close fr-btn"
                                data-close-modal="refuse-confirmation-modal">
                            Fermer
                        </button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 class="fr-modal__title refuse-color">
                            <span class="fr-icon-checkbox-fill fr-icon--lg" aria-hidden="true"></span> Refuser le financement du projet
                        </h1>
                        <p>
                            Ce projet va être refusé dans toutes les simulations dans lesquelles il a été ajouté.
                            Il n'apparaîtra pas dans la programmation officielle {{ enveloppe.type }} {{ simulation_year }}.
                        </p>
                        <p>
                            Êtes-vous sûr(e) de refuser ce projet ?
                        </p>
                    </div>
                    <div class="fr-modal__footer confirmation-modal-footer">
                        <button class="fr-btn fr-btn--secondary"
                                data-close-modal="refuse-confirmation-modal">
                            Annuler
                        </button>
                        <button class="fr-btn fr-btn--primary refuse-button" id="confirmChange">
                            Refuser
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
