{% load static %}

<div class="fr-nav fr-translate">
    <div class="fr-nav__item">
        <button class="fr-btn fr-btn--tertiary-no-outline fr-icon-more-fill"
                aria-controls="simulation-menu-{{ simulation.id }}"
                aria-expanded="false"
                aria-label="Modifier ou supprimer">
        </button>
        <div class="fr-menu fr-collapse" id="simulation-menu-{{ simulation.id }}">
            <ul class="fr-menu__list">
                <li>
                    <button class="fr-nav__link fr-icon-delete-bin-fill fr-icon--sm fr-btn--icon-left"
                            aria-controls="simulation-delete-modal-{{ simulation.id }}"
                            type="button"
                            data-fr-opened="false">
                        Supprimer
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<dialog id="simulation-delete-modal-{{ simulation.id }}"
        class="fr-modal confirmation-modal fr-text--regular">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 confirmation-modal-container">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button aria-controls="simulation-delete-modal-{{ simulation.id }}"
                                title="Fermer"
                                type="button"
                                class="fr-btn--close fr-btn close-modal">
                            Fermer
                        </button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 class="fr-modal__title ">
                            <span class="fr-icon-delete-fill fr-icon--lg" aria-hidden="true"></span>
                            <span class="modal-title">Suppression de la simulation «&nbsp;{{ simulation.title }}&nbsp;»</span>
                        </h1>
                        <p>
                            Cette action entraînera la suppression de la simulation. <b>Tous
                            les utilisateurs du même périmètre qui avaient accès à cette
                            simulation ne la verront plus non plus.</b> Cette action est
                            irréversible.
                        </p>
                        <p>
                            Êtes-vous sûr de supprimer cette simulation&nbsp;?
                        </p>
                        <form method="post"
                              id="simulation-delete-form-{{ simulation.id }}"
                              action="{% url 'gsl_simulation:simulation-delete' simulation.id %}">
                            {% csrf_token %}
                        </form>
                    </div>
                    <div class="fr-modal__footer confirmation-modal-footer">
                        <button class="fr-btn fr-btn--secondary close-modal"
                                aria-controls="simulation-delete-modal-{{ simulation.id }}">
                            Annuler
                        </button>

                        <button class="fr-btn fr-btn--primary confirm"
                                type="submit"
                                form="simulation-delete-form-{{ simulation.id }}">
                            Confirmer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
