<dialog id="{% spaceless %}{% block modal_id %}default-modal-id{% endblock modal_id %}{% endspaceless %}"
        class="fr-modal confirmation-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 confirmation-modal-container">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button aria-controls="modal"
                                title="Fermer"
                                type="button"
                                class="fr-btn--close fr-btn close-modal">
                            Fermer
                        </button>
                    </div>
                    <div class="fr-modal__content">
                        {% block content %}
                        {% endblock content %}
                    </div>

                    <div class="fr-modal__footer confirmation-modal-footer">
                        <button class="fr-btn fr-btn--secondary close-modal">
                            Annuler
                        </button>
                        {% block confirmation_button %}
                        {% endblock confirmation_button %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
