{% extends "base.html" %}
{% block breadcrumb %}
{% endblock breadcrumb %}
{% block content %}
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
            <h1>
                Aide à l'utilisation de Turgot
            </h1>
            <p>
                Vous avez besoin d'aide pour utiliser Turgot ? Nous sommes là pour vous aider. Vous pouvez nous contacter par email à
                <a class="fr-link" href="mailto:dgcl-turgot@dgcl.gouv.fr">dgcl-turgot@dgcl.gouv.fr</a>
                ou via le
                <a class="fr-link"
                   target="_blank"
                   rel="noopener external"
                   href="https://tchap.gouv.fr/#/room/#TURGOTGroupeUtilisateurskCbo3i42xCn:agent.interieur.tchap.gouv.fr">salon Tchap</a>.
            </p>

            <h2>
                Comment fonctionne Turgot ?
            </h2>
            <p>
                Vous trouverez la façon d'utiliser Turgot dans le <a class="fr-link"
    href="https://turgot-s3.s3.fr-par.scw.cloud/docs/Guide%20utilisateur%20-%20TURGOT.pdf">guide d'utilisation</a>.
            </p>
        </div>
    </div>

{% endblock content %}
