{% extends "base.html" %}
{% block breadcrumb %}
{% endblock breadcrumb %}
{% block content %}
    <h1>
        Aide à l'utilisation de Turgot
    </h1>
    <p>
        Vous avez besoin d'aide pour utiliser Turgot ? Nous sommes là pour vous aider. Vous pouvez nous contacter via le formulaire de contact ou par email à <a class="fr-link" href="mailto:dgcl-turgot@dgcl.gouv.fr">dgcl-turgot@dgcl.gouv.fr</a>.
    </p>

    <h2>
        Comment fonctionne Turgot ?
    </h2>
    <p>
        Vous trouverez la façon d'utiliser Turgot dans le <a class="fr-link"
    href="https://turgot-s3.s3.fr-par.scw.cloud/docs/Guide%20utilisateur%20-%20TURGOT.pdf">guide d'utilisation</a>.
    </p>

{% endblock content %}
