.tiptap.ProseMirror {
  --tt-checklist-bg-color:var(--tt-gray-light-a-100);
  --tt-checklist-bg-active-color:var(--tt-gray-light-a-900);
  --tt-checklist-border-color:var(--tt-gray-light-a-200);
  --tt-checklist-border-active-color:var(--tt-gray-light-a-900);
  --tt-checklist-check-icon-color:var(--white);
  --tt-checklist-text-active:var(--tt-gray-light-a-500)
}
.dark .tiptap.ProseMirror {
  --tt-checklist-bg-color:var(--tt-gray-dark-a-100);
  --tt-checklist-bg-active-color:var(--tt-gray-dark-a-900);
  --tt-checklist-border-color:var(--tt-gray-dark-a-200);
  --tt-checklist-border-active-color:var(--tt-gray-dark-a-900);
  --tt-checklist-check-icon-color:var(--black);
  --tt-checklist-text-active:var(--tt-gray-dark-a-500)
}
.tiptap.ProseMirror ol,
.tiptap.ProseMirror ul {
  margin-top:1.5em;
  margin-bottom:1.5em;
  padding-left:1.5em
}
.tiptap.ProseMirror ol:first-child,
.tiptap.ProseMirror ul:first-child {
  margin-top:0
}
.tiptap.ProseMirror ol:last-child,
.tiptap.ProseMirror ul:last-child {
  margin-bottom:0
}
.tiptap.ProseMirror ol ol,
.tiptap.ProseMirror ol ul,
.tiptap.ProseMirror ul ol,
.tiptap.ProseMirror ul ul {
  margin-top:0;
  margin-bottom:0
}
.tiptap.ProseMirror li p {
  margin-top:0;
  margin-bottom:0
}
.tiptap.ProseMirror ol {
  list-style:decimal
}
.tiptap.ProseMirror ol ol {
  list-style:lower-alpha
}
.tiptap.ProseMirror ol ol ol {
  list-style:lower-roman
}
.tiptap.ProseMirror ul:not([data-type=taskList]) {
  list-style:disc
}
.tiptap.ProseMirror ul:not([data-type=taskList]) ul {
  list-style:circle
}
.tiptap.ProseMirror ul:not([data-type=taskList]) ul ul {
  list-style:disc
}
.tiptap.ProseMirror ul[data-type=taskList] {
  padding-left:.25em
}
.tiptap.ProseMirror ul[data-type=taskList] li {
  display:flex;
  flex-direction:row;
  align-items:flex-start
}
.tiptap.ProseMirror ul[data-type=taskList] li:not(:has(>p:first-child)) {
  list-style-type:none
}
.tiptap.ProseMirror ul[data-type=taskList] li[data-checked=true]>div>p {
  opacity:.5;
  text-decoration:line-through
}
.tiptap.ProseMirror ul[data-type=taskList] li[data-checked=true]>div>p span {
  text-decoration:line-through
}
.tiptap.ProseMirror ul[data-type=taskList] li label {
  position:relative;
  padding-top:4px;
  padding-right:8px
}
.tiptap.ProseMirror ul[data-type=taskList] li label input[type=checkbox] {
  position:absolute;
  opacity:0;
  width:0;
  height:0
}
.tiptap.ProseMirror ul[data-type=taskList] li label span {
  display:block;
  width:1em;
  height:1em;
  border:1px solid var(--tt-checklist-border-color);
  border-radius:var(--tt-radius-xs,.25rem);
  position:relative;
  cursor:pointer;
  background-color:var(--tt-checklist-bg-color);
  transition:background-color 80ms ease-out,border-color 80ms ease-out
}
.tiptap.ProseMirror ul[data-type=taskList] li label span:before {
  content:"";
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:.75em;
  height:.75em;
  background-color:var(--tt-checklist-check-icon-color);
  opacity:0;
  -webkit-mask:url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E") center/contain no-repeat;
  mask:url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M21.4142%204.58579C22.1953%205.36683%2022.1953%206.63317%2021.4142%207.41421L10.4142%2018.4142C9.63317%2019.1953%208.36684%2019.1953%207.58579%2018.4142L2.58579%2013.4142C1.80474%2012.6332%201.80474%2011.3668%202.58579%2010.5858C3.36683%209.80474%204.63317%209.80474%205.41421%2010.5858L9%2014.1716L18.5858%204.58579C19.3668%203.80474%2020.6332%203.80474%2021.4142%204.58579Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E") center/contain no-repeat
}
.tiptap.ProseMirror ul[data-type=taskList] li label input[type=checkbox]:checked+span {
  background:var(--tt-checklist-bg-active-color);
  border-color:var(--tt-checklist-border-active-color)
}
.tiptap.ProseMirror ul[data-type=taskList] li label input[type=checkbox]:checked+span:before {
  opacity:1
}
.tiptap.ProseMirror ul[data-type=taskList] li div {
  flex:1 1;
  min-width:0
}


.mention {
  color: #0066cc;
  background-color: #e6f0ff;
  padding: 2px 4px;
  border-radius: 3px;
}

.mention-list {
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 0;

}

.mention-item {
  padding: 6px 12px;
  cursor: pointer;
}

.mention-item.selected {
  background: #d9e6ff;
}

#toolbar {
  display: flex;
}

#toolbar button {
  padding: 10px;
}

#toolbar > .toolbar-buttons-group:not(:last-child) {
    border-right:2px solid var(--background-alt-grey);
}