/* TODO: move all projet list class here */

.gsl_projet_table__montant_retenu {
  color: var(--text-default-success);
  font-weight: 500;
}

td.dotation_attribute span {
  display: block;
  font-weight: bold;
}

td.dotation_attribute > div:not(:last-child),
td.dotation_attribute > span:not(:last-child) {
  margin-bottom: 1rem;
}

/* other dotation */
.other-dotation-row {
  background-color: var(--background-default-grey-hover);
  min-height: 40px;
  height: 40px;
}

.information-other-dotation {
  text-align: end;
  font-style: italic;
}