/* TODO: move all projet list class here */

.gsl-projet-table__montant-retenu {
  color: var(--text-default-success);
  font-weight: 500;
}

td.gsl-projet-table__cell--dotation span {
  display: block;
  font-weight: bold;
}

td.gsl-projet-table__cell--dotation > div:not(:last-child),
td.gsl-projet-table__cell--dotation > span:not(:last-child) {
  margin-bottom: 1rem;
}

/* other dotation */
.gsl-projet-table .gsl-projet-table__row--other-dotation td {
  background-color: var(--background-default-grey-hover);
  min-height: 40px;
  height: 40px;
}

.gsl-projet-table__cell--other-dotation-info {
  text-align: end;
  font-style: italic;
}
