.simulation-projet-card {
  background-image: none;
}

.projet-header__status {
  display: flex;
  gap: 16px;
}

.submit-projet-note-form-container {
  display: flex;
  justify-content: end;
}

#projet_note_form {
  display: none;
}