.projets-filters-layout,
.projets-filters-layout .fr-select,
.projets-filters-layout .fr-input,
.projets-filters-layout .fr-label {
  font-size: calc(1rem * 14 / 16);
}

.filter-dropdown > button {
  text-align: start;
}

.filter-dropdown > .fr-input {
  display: flex;
}

.filter-dropdown > button > span {
  margin-top: 1px; /* Alignement vertical de l'icône */
}

.filter-dropdown .filter-content {
  gap: 6px;
  min-width: auto;
}

.filter-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 260px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
  gap: 1rem;
  --status-color-green: var(--text-default-success);
  --status-color-blue: var(--text-default-info);
  --status-color-brown: var(--text-action-high-orange-terre-battue);
  --status-color-red: var(--text-default-error);
}

.filter-content > button {
  width: 100%;
  justify-content: center;
}

.amount-filter-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.amount-filter-group > label {
  font-size: calc(1rem * 14 / 16);
  flex: 1;
}

.euro-input-wrap {
  position: relative;
  display: inline-block;
}
.euro-input-wrap > input {
  text-align: right;
  max-width: 130px;
}

.euro-input-wrap > input::-webkit-outer-spin-button,
.euro-input-wrap > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.euro-input-wrap > input[type="number"] {
  -moz-appearance: textfield;
}

.euro-input-symbol {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  pointer-events: none; /* Ne pas interférer avec les clics */
}

.separator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.separator hr {
  flex-grow: 1;
  border: none;
  height: 1px;
  background-color: lightgray;
  padding: 0;
}

.separator span {
  font-size: 12px;
  font-weight: bold;
  color: var(--text-disabled-grey);
}

.montant-demande-checkbox-container {
  display: flex;
  gap: 10px;
  font-size: small;
}

.filter-dropdown-button-active {
  border: 2px solid var(--artwork-major-blue-cumulus-active);
  padding-top: 6px;
}

.filter-field > select,
.filter-field > button,
.filter-dropdown > button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.territoire-type-d ~ .territoire-type-a,
.territoire-type-r ~ .territoire-type-d {
  margin-left: 1em;
}

.territoire-type-r ~ .territoire-type-a {
  margin-left: 2em;
}

#filter-territoire input[type="checkbox"]:indeterminate  ~ label::before {
  background-color: var(--background-alt-blue-france-active);
  --data-uri-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23f5f5fe' d='m10 15.17 9.2-9.2 1.4 1.42L10 18l-6.36-6.36 1.4-1.42z'/%3E%3C/svg%3E");
}

#filter-territoire {
  gap: 6px;
}

.reinit-filters {
  place-content: end;
}

.reinit-filters > button {
  width: 100%;
  gap: 8px;
  justify-content: center;
}