.projet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.projet-header__status {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#projet-panel {
  padding: 4rem
}

.status_action_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}