
<section class="fr-mt-2w fr-py-2w fr-px-4w note-card">
    <div class="note-card-header">
        <p class="fr-text--sm">
            Créé le {{ note.created_at|date:"d/m/Y" }} par {{ note.created_by.get_full_name }}
            {% if note.created_at|date:"d/m/Y" != note.updated_at|date:"d/m/Y" %}
                <br>
                <span>Modifié le {{ note.updated_at|date:"d/m/Y" }}</span>
            {% endif %}
        </p>

        {% if note.created_by == request.user %}
            <div class="note-card-header-actions">
                <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-edit-line"
                        id="edit_note_button_{{ note.id }}"
                        data-note-id="{{ note.id }}">
                    Modifier
                </button>
                <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-delete-bin-line red-button"
                        id="delete_note_button_{{ note.id }}"
                        type="submit"
                        data-note-id="{{ note.id }}">
                    Supprimer
                </button>
            </div>
        {% endif %}
    </div>

    <h4 class="fr-mb-1w">
        {{ note.title }}
    </h4>
    <p class="fr-mb-1w note-card-content">
        {{ note.content }}
    </p>
</section>
