{% load gsl_filters %}
<form action="{% url 'simulation:patch-simulation-projet-status' simu.id %}"
      method="POST"
      hx-patch="{% url 'simulation:patch-simulation-projet-status' simu.id %}"
      hx-trigger="status-confirmed"
      hx-disabled-elt="find .input-simulation-projet-{{ simu.pk }}">
    {% csrf_token %}
    <select class="fr-select gsl-projet-table__select input-simulation-projet-{{ simu.pk }}"
            id="status-select"
            name="status"
            onchange="handleStatusChange(this)"
            {% if simu.status == 'valid' %}disabled{% endif %}>
        {% for key, value in available_states %}
            <option value={{ key }} {% if simu.status == key %} selected {% endif %}>
                {{ value }}
            </option>
        {% endfor %}
    </select>
    <input type="hidden" name="filter_params" value="{{ filter_params }}">
    <input type="submit" hidden />
</form>
