{% load simulation_filters %}
<div class="fr-nav fr-translate input-status-select input-status-{{ simu.status }}">
    <div class="fr-nav__item{% if table %}fr-nav__item--align-right{% endif %}">
        <button class="fr-btn fr-btn--tertiary fr-btn--{% if table %}sm{% else %}lg{% endif %} fr-dropdown__button"
                aria-expanded="false"
                aria-controls="status-dropdown-{{ simu.pk }}"
                aria-label="Changer le statut du projet">
            {{ simu.get_status_display }}
            <span class="fr-icon-arrow-down-s-line" aria-hidden="true"></span>
        </button>
        <div class="fr-collapse fr-menu"
             aria-label="Options de statut"
             id="status-dropdown-{{ simu.pk }}">
            <ul class="fr-menu__list">
                {% for key, value in simu.STATUS_CHOICES %}
                    <li>
                        <button class="fr-nav__link"
                                {% if simu|status_needs_modal:key %} hx-get="{{ simu|status_url:key }}" hx-swap="outerHTML" {% else %} hx-post="{{ simu|status_url:key }}" hx-vals='{"status": "{{ key }}"}' {% endif %}>
                            {{ value }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
