<div class="fr-fieldset__element">
    <div class="fr-radio-group fr-radio-group--sm radio-input-{{ status_value }}">
        <input value="{{ status_value }}"
               type="radio"
               id="{{ status_value }}"
               name="status"
               class="status-radio-button"
               {% if simu.status == status_value %}checked{% endif %}
               data-original-value="{{ simu.status }}"
               {% if status_value == 'cancelled' or status_value == 'dismissed' %} hx-get="{% url form_url simu.id %}" hx-trigger="{{ modal_id }}" hx-swap="innerHTML" hx-target="#{{ modal_id }}" hx-disabled-elt="self" {% endif %}>
        <label class="fr-label" for="{{ status_value }}">
            {{ status_label }}
            <i class="{{ icon }}" aria-hidden="true"></i>
        </label>
    </div>
</div>
