{% load static addstr custom_pluralize %}
<ul class="fr-badges-group projet-states-count"
    id="projet-states-count"
    hx-swap-oob="{{ hx_swap_oob }}">
    <li>
        <p class="fr-badge fr-badge--green-menthe">
            {{ status_summary.valid }} projet{{ status_summary.valid|custom_pluralize }}
            validé{{ status_summary.valid|custom_pluralize }}
        </p>
    </li>
    <li>
        <p class="fr-badge fr-badge--pink-macaron">
            {{ status_summary.cancelled }} projet{{ status_summary.cancelled|custom_pluralize }}
            refusé{{ status_summary.cancelled|custom_pluralize }}
        </p>
    </li>
    <li>
        <p class="fr-badge fr-badge--blue-cumulus">
            {{ status_summary.notified }} projet{{ status_summary.notified|custom_pluralize }}
            notifié{{ status_summary.notified|custom_pluralize }}
        </p>
    </li>
</ul>
