<form action="{% url 'simulation:patch-simulation-projet-taux' simu.id %}"
      method="POST"
      hx-on="submit: event.preventDefault()">
    {% csrf_token %}
    <div class="gsl-projet-table__input-wrap gsl-projet-table__rate">
        <input name="taux"
               type="text"
               inputmode="numeric"
               class="fr-input input-simulation-projet-{{ simu.pk }}"
               hx-patch="{% url 'simulation:patch-simulation-projet-taux' simu.id %}"
               hx-disabled-elt=".input-simulation-projet-{{ simu.pk }}"
               hx-trigger="change, keyup[key=='Enter']"
               value="{{ simu.taux }}">
        <span class="gsl-projet-table__input-symbol">%</span>
    </div>
    <input type="hidden" name="filter_params" value="{{ filter_params }}">
</form>
