{% load i18n %}
{% translate "Opens a new window" as new_window_label %}
<footer class="fr-footer" role="contentinfo" id="footer">
    {% block footer_top %}
    {% endblock footer_top %}
    <div class="fr-container">
        {% block footer_partners %}
        {% endblock footer_partners %}
        <div class="fr-footer__bottom">
            <ul class="fr-footer__bottom-list">
                {% block footer_links %}
                    <li class="fr-footer__bottom-item">
                        <!-- @TODO -->
                        <a class="fr-footer__bottom-link" href="#">{% translate "Sitemap" %}</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="{% url 'accessibilite' %}">Accessibilité : non conforme</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link" href="{% url 'mentions-legales' %}">{% translate "Legal notice" %}</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link"
                           href="{% url 'donnees-personnelles' %}">{% translate "Personal data" %}</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <a class="fr-footer__bottom-link"
                           href="{% url 'donnees-personnelles' %}#cookies">{% translate "Cookie management" %}</a>
                    </li>
                    <li class="fr-footer__bottom-item">
                        <button id="footer__bottom-link__parametres-affichage"
                                aria-controls="fr-theme-modal"
                                data-fr-opened="false"
                                class="fr-icon-theme-fill fr-link--icon-left fr-footer__bottom-link"
                                data-fr-js-modal-button="true">
                            {% translate "Display settings" %}
                        </button>
                    </li>
                {% endblock footer_links %}
            </ul>
            <div class="fr-footer__bottom-copy">
                <p>
                    {% translate "etalab-2.0 license" as etalab_license %}
                    {% translate "Unless explicit mention of intellectual property held by third parties, the contents of this site are offered under" %}
                    <a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md"
                       target="_blank"
                       rel="noopener external"
                       title="{{ etalab_license|capfirst }} - {{ new_window_label }}">{{ etalab_license }}</a>
                    {% block footer_bottom_extra %}
                    {% endblock footer_bottom_extra %}
                </p>
            </div>
        </div>
    </div>
</footer>
