{% extends "dsfr/footer.html" %}
{% load i18n static %}

{% block footer_links %}
    <li class="fr-footer__bottom-item">
        <!-- @TODO -->
        <a class="fr-footer__bottom-link" href="#">{% translate "Sitemap" %}</a>
    </li>
    <li class="fr-footer__bottom-item">
        <a class="fr-footer__bottom-link" href="{% url 'accessibilite' %}">Accessibilité : non conforme</a>
    </li>
    <li class="fr-footer__bottom-item">
        <!-- @TODO -->
        <a class="fr-footer__bottom-link" href="#">{% translate "Legal notice" %}</a>
    </li>
    <li class="fr-footer__bottom-item">
        <!-- @TODO -->
        <a class="fr-footer__bottom-link" href="#">{% translate "Personal data" %}</a>
    </li>
    <li class="fr-footer__bottom-item">
        <!-- @TODO -->
        <a class="fr-footer__bottom-link" href="#">{% translate "Cookie management" %}</a>
    </li>
    <li class="fr-footer__bottom-item">
        <button id="footer__bottom-link__parametres-affichage"
                aria-controls="fr-theme-modal"
                data-fr-opened="false"
                class="fr-icon-theme-fill fr-link--icon-left fr-footer__bottom-link"
                data-fr-js-modal-button="true">
            {% translate "Display settings" %}
        </button>
    </li>
{% endblock footer_links %}

{% block footer_brand %}
    {% translate "Back to home page" as back_to_home_label %}
    {% url 'index' as home_url %}

    <div class="fr-footer__brand fr-enlarge-link">
        <p class="fr-logo"
           title="{{ SITE_CONFIG.footer_brand|default:'république française' }}">
            {{ SITE_CONFIG.footer_brand_html| default_if_none:'république<br />française' | safe }}
        </p>
        <a class="fr-footer__brand-link"
           href="{{ home_url }}"
           title="{{ back_to_home_label }} - {{ SITE_CONFIG.operator_logo_alt }} - {{ SITE_CONFIG.footer_brand|default:'république française' }}">
            <img class="fr-responsive-img dgcl-logo-footer" src="{% static "img/logo-collectivites-locales.png" %}" alt="Direction Générale des Collectivités Locales" />
        </a>
    </div>

{% endblock footer_brand %}
