{% extends "dsfr/header.html" %}
{% load i18n static %}
{% url 'index' as home_url %}

{% block header_tools %}
    <li>
        <a href="https://jedonnemonavis.numerique.gouv.fr/Demarches/3340?button=3614"
           target='_blank'
           title="Je donne mon avis - nouvelle fenêtre"
           class="fr-btn">
            Je donne mon avis
        </a>
    </li>
    <li>
        <button class="fr-btn--display fr-btn"
                aria-controls="fr-theme-modal"
                data-fr-opened="false">
            {% translate "Display settings" %}
        </button>
    </li>
    <li>
        {% if user.is_authenticated %}
            <div class="header-items fr-nav">
                <div class="fr-nav">
                    <div class="fr-nav__item fr-nav__item--align-right"
                         data-fr-js-navigation-item="true">
                        <button aria-controls="user-menu"
                                aria-expanded="false"
                                title="Menu utilisateur"
                                type="button"
                                class="fr-btn fr-icon-user-fill">
                            {{ user.first_name }} {{ user.last_name }} <span class="fr-ml-1w fr-icon--sm fr-icon-arrow-down-s-line"></span>
                        </button>

                        <div class="fr-collapse fr-menu" id="user-menu">
                            <ul class="fr-menu__list">
                                <li>
                                    <a class="fr-nav__link blue-color" href="{% url 'oidc_logout' %}">
                                        Se déconnecter
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <a class="fr-btn fr-icon-lock-line" href="{% url "login" %}">Se connecter</a>
        {% endif %}
    </li>
{% endblock header_tools %}

{% block operator_logo %}
    <div class="fr-header__operator">
        <img class="fr-responsive-img"
             src="{% static "img/logo-collectivites-locales.png" %}"
             alt="Direction Générale des Collectivités Locales" />
    </div>
{% endblock operator_logo %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{% block burger_menu %}
    {% translate "Search" as search_label %}
    <div class="fr-header__navbar">
        {% translate "Menu" as menu_label %}
        <button class="fr-btn--menu fr-btn"
                data-fr-opened="false"
                aria-controls="fr-menu-mobile"
                id="fr-btn-menu-mobile"
                title="{{ menu_label }}">
            {{ menu_label }}
        </button>
    </div>
{% endblock burger_menu %}

{% block main_menu %}
    {% include "blocks/main_menu.html" %}
{% endblock main_menu %}

{% block header_search %}
{% endblock header_search %}
