{% extends "dsfr/header.html" %}
{% load i18n static %}
{% url 'index' as home_url %}

{% block header_tools %}
    <li>
        <button class="fr-btn--display fr-btn"
                aria-controls="fr-theme-modal"
                data-fr-opened="false">
            {% translate "Display settings" %}
        </button>
    </li>
    <li>
        {% if user.is_authenticated %}
            <span class="fr-btn--display fr-btn fr-icon-user-fill">{{ user.first_name }} {{ user.last_name }}</span>
            <form action="{% url 'oidc_logout' %}" method="post" class="sr-only">
                {% csrf_token %}
                <button class="fr-btn--display fr-btn fr-icon-lock-unlock-fill" type="submit">
                    Déconnexion
                </button>
            </form>
        {% else %}
            <a class="fr-btn fr-icon-lock-line" href="{% url "login" %}">Se connecter</a>
        {% endif %}
    </li>
{% endblock header_tools %}

{% block operator_logo %}
    <div class="fr-header__operator">
        <img class="fr-responsive-img" src="{% static "img/logo-collectivites-locales.png" %}" alt="Direction Générale des Collectivités Locales" />
    </div>
{% endblock operator_logo %}

{# Leave burger_menu and main_menu blocks empty if the main menu is not used #}
{% block burger_menu %}
    {% translate "Search" as search_label %}
    <div class="fr-header__navbar">
        <button class="fr-btn--search fr-btn"
                data-fr-opened="false"
                aria-controls="modal-search"
                id="fr-btn-search-mobile"
                title="{{ search_label }}">
            {{ search_label }}
        </button>
        {% translate "Menu" as menu_label %}
        <button class="fr-btn--menu fr-btn"
                data-fr-opened="false"
                aria-controls="fr-menu-mobile"
                id="fr-btn-menu-mobile"
                title="{{ menu_label }}">
            {{ menu_label }}
        </button>
    </div>
{% endblock burger_menu %}

{% block main_menu %}
    {% include "blocks/main_menu.html" %}
{% endblock main_menu %}

{% block header_search %}
{% endblock header_search %}
