{% load i18n %}
<div class="fr-header__menu fr-modal"
     id="fr-menu-mobile"
     aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
        <button type="button"
                class="fr-btn--close fr-btn"
                aria-controls="fr-menu-mobile">
            Fermer
        </button>
        <div class="fr-header__menu-links">
        </div>
        {% translate "Main menu" as main_menu_label %}
        <nav role="navigation"
             class="fr-nav"
             id="fr-navigation"
             aria-label="{{ main_menu_label }}">
            <ul class="fr-nav__list">
                <li class="fr-nav__item">
                    {% url 'index' as home_url %}
                    <a class="fr-nav__link"
                       href="{{ home_url }}"
                       target="_self"
                       {% if request.path == home_url %}aria-current="true"{% endif %}>Accueil</a>
                </li>
                <li class="fr-nav__item">
                    {% url 'projet:list' as projets_url %}
                    <a class="fr-nav__link"
                       href="{{ projets_url }}"
                       target="_self"
                       {% if request.path == projet_url %}aria-current="true"{% endif %}>Projets 2025</a>
                </li>
                <li class="fr-nav__item">
                    {% url 'simulation:simulation-list' as simulations_url %}
                    <a class="fr-nav__link"
                       href="{{ simulations_url }}"
                       target="_self"
                       {% if request.path == simulations_url %}aria-current="true"{% endif %}>Simulations</a>
                </li>
                {% if request.user.is_staff %}
                    <li class="fr-nav__item">
                        <button class="fr-nav__btn"
                                aria-expanded="false"
                                aria-controls="menu-resources"
                                {% if '/ds' in request.path %}aria-current="true"{% endif %}>
                            ⚙️ Administration DS ⚙️
                        </button>
                        <div class="fr-collapse fr-menu" id="menu-resources">
                            <ul class="fr-menu__list">
                                <li>
                                    {% url 'ds:liste-demarches' as liste_demarches_url %}
                                    <a class="fr-nav__link"
                                       href="{{ liste_demarches_url }}"
                                       target="_self"
                                       {% if request.path == liste_demarches_url %}aria-current="true"{% endif %}>Démarches</a>
                                </li>
                                <li>
                                    {% url 'ds:add-demarches' as add_demarches_url %}
                                    <a class="fr-nav__link"
                                       href="{{ add_demarches_url }}"
                                       target="_self"
                                       {% if request.path == add_demarches_url %}aria-current="true"{% endif %}>
                                        Ajouter des démarches
                                    </a>
                                </li>
                                <li>
                                    {% url 'ds:task-results' as task_results_url %}
                                    <a class="fr-nav__link"
                                       href="{{ task_results_url }}"
                                       target="_self"
                                       {% if request.path == task_results_url %}aria-current="true"{% endif %}>Erreurs</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
