{% load i18n %}
<div class="fr-header__menu fr-modal"
     id="fr-menu-mobile"
     aria-labelledby="fr-btn-menu-mobile">
    <div class="fr-container">
        <button type="button"
                class="fr-btn--close fr-btn"
                aria-controls="fr-menu-mobile">
            Fermer
        </button>
        <div class="fr-header__menu-links">
        </div>
        {% translate "Main menu" as main_menu_label %}
        <nav role="navigation"
             class="fr-nav"
             id="fr-navigation"
             aria-label="{{ main_menu_label }}">
            <ul class="fr-nav__list">
                <li class="fr-nav__item">
                    {% url 'index' as home_url %}
                    <a class="fr-nav__link"
                       href="{{ home_url }}"
                       target="_self"
                       {% if request.path == home_url %}aria-current="true"{% endif %}>Accueil</a>
                </li>
                {% if request.user.is_staff %}
                <li class="fr-nav__item">
                    <button class="fr-nav__btn"
                            aria-expanded="false"
                            aria-controls="menu-resources"
                            {% if '/ds' in request.path %}aria-current="true"{% endif %}
                    >
                        Administration
                    </button>
                    <div class="fr-collapse fr-menu" id="menu-resources">
                        <ul class="fr-menu__list">
                            <li>
                                {% url 'ds:add-demarches' as add_demarches_url %}
                                <a class="fr-nav__link"
                                   href="{{ add_demarches_url }}"
                                   target="_self"
                                   {% if request.path == add_demarches_url %}aria-current="true"{% endif %}>
                                    Ajouter des démarches DS
                                </a>
                            </li>
                            <li>
                                {% url 'resource_icons' as resource_icons_url %}
                                <a class="fr-nav__link"
                                   href="{{ resource_icons_url }}"
                                   target="_self"
                                   {% if request.path == resource_icons_url %}aria-current="true"{% endif %}>Pour voir à
                                    quoi ça ressemble</a>
                            </li>
                            <li>
                                {% url 'resource_pictograms' as resource_pictograms_url %}
                                <a class="fr-nav__link"
                                   href="{{ resource_pictograms_url }}"
                                   target="_self"
                                   {% if request.path == resource_pictograms_url %}aria-current="true"{% endif %}>Quand
                                    il faudra mettre un vrai menu</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endif %}
            </ul>
        </nav>
    </div>
</div>