{% load static i18n dsfr_tags gsl_filters %}
<html lang="fr">
    <head>
        <title>Arrêté d'attribution</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        {% dsfr_css %}
        <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
    </head>
    <body id="weasy">
        <div class="fr-header__brand">
            <div class="fr-header__brand-top">
                <div class="fr-header__logo">
                    {% block brand %}
                        <p class="fr-logo">
                            Préfète du Rhône
                        </p>
                    {% endblock brand %}
                </div>
                {% block operator_logo %}
                {% endblock operator_logo %}

            </div>
            <div class="fr-header__service">
                <p class="fr-header__service-title">
                    Titre
                </p>
                <p class="fr-header__service-tagline">
                    Tagline
                </p>
            </div>
        </div>
        <main>
            <div>
                {{ content }}
            </div>
        </main>
    </body>

</html>
