{% load static i18n dsfr_tags gsl_filters %}
<html lang="fr">
    <head>
        <title>{{ doc_title }}</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet"
              href="{% static 'dsfr/dist/dsfr/dsfr.print.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
    </head>
    <body id="weasy">
        <header class="header">
            <div class="head-left">
                <img class="logo" src="{{ logo.url }}" alt="{{ alt_logo }}" width="120">
            </div>
            <div class="head-right">
                {{ top_right_text|linebreaksbr }}
            </div>
        </header>
        <main>
            <div>
                {{ content }}
            </div>
        </main>
    </body>

</html>
