{% extends "base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/simulation_list.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>
        {{ title }}
    </h1>
    {% if object_list|length == 0 %}
        <p>
            Aucune programmation n'est en cours ! Voulez-vous <a href="{% url 'gsl_simulation:simulation-form' %}">en
            commencer une</a> ?
        </p>
    {% else %}
        <div class="add-simulation-button-container">
            <a href="{% url 'gsl_simulation:simulation-form' %}"
               class="fr-btn fr-mr-1w fr-pl-3v"><i class="fr-icon-add-line"></i> Nouvelle simulation</a>
        </div>
        <ul class="simulation-cards-list no-list-style">
            {% for simulation in object_list %}
                <li class="fr-mb-2w">
                    <div class="simulation-card fr-pl-2w">
                        <div class="simulation-card__actions fr-px-2w">
                            <span class="fr-icon-more-fill" />
                        </div>
                        <div class="simulation-card__content fr-py-2w">
                            {% dsfr_tag label=simulation.enveloppe.dotation extra_classes="fr-icon-money-euro-box-fill fr-icon--sm fr-tag--icon-left fr-mr-1v" %}

                            <h2 class="fr-h6 fr-mt-1v fr-mb-3v fr-text-label--blue-france">
                                <a href="{{ simulation.get_absolute_url }}">{{ simulation.title }}</a>
                            </h2>
                            <span>
                                {{ simulation.enveloppe.perimetre }}
                            </span>
                        </div>
                        <div class="simulation-card__creation-info fr-py-2w">
                            <p class="fr-text--sm fr-m-0">
                                Créée par {{ simulation.created_by }}
                                <br>
                                Le {{ simulation.created_at|date:"j F Y" }}
                                <br>
                                <span class="fr-text--xs fr-m-0">
                                    Modifiée le {{ simulation.updated_at|date:"j F Y" }} à {{ simulation.updated_at|date:"H\Hi" }}
                                </span>
                            </p>
                        </div>

                        {% include "includes/_status_summary.html" with status_summary=simulation.get_projet_status_summary %}
                        <a class="simulation-card__navigate fr-p-4w"
                           href="{{ simulation.get_absolute_url }}">
                            <div class="fr-sr-only">
                                Voir la simulation {{ simulation.title }}
                            </div>
                            <i class="fr-icon-arrow-right-line"></i>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% dsfr_pagination page_obj %}
    {% endif %}

{% endblock content %}
