{% extends "base.html" %}
{% load static dsfr_tags gsl_filters custom_pluralize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projet_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/simulation_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/enveloppe_summary.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>
        {{ title }}
        <div class="simulation-menu">
            {% include "includes/modals/_simulation_actions_menu.html" %}
        </div>
    </h1>
    {% include "includes/_status_summary.html" %}
    <div class="gsl-dropdown fr-mt-2w fr-mb-2w">
        <button class="fr-btn fr-btn--secondary"
                aria-haspopup="menu"
                aria-expanded="false">
            Exporter le tableau
            <span class="fr-icon-arrow-down-s-line fr-btn--icon-right"></span>
        </button>
        <div class="gsl-dropdown-content fr-p-0 export-btn-container" role="menu">
            {% for export_type in export_types %}
                <a class="fr-btn fr-btn--secondary export-btn"
                   href="{% url 'gsl_simulation:simulation-projets-export' slug=simulation.slug type=export_type %}?{{ filter_params }}"
                   role="menuitem">
                    format .{{ export_type }} <span class="fr-icon-download-line fr-icon--sm fr-btn--icon-right"
       aria-hidden="true"></span>
                </a>
            {% endfor %}
        </div>
    </div>
    {% include "includes/_enveloppe_summary.html" %}
    {% include "includes/_projet_list_filters.html" %}

    <p class="fr-mb-0 fr-mt-1w">
        {{ simulation_paginator.paginator.count }} projet{{ simulation_paginator.paginator.count|custom_pluralize }}
    </p>

    <div class="fr-table fr-table--multiline fr-table--sm fr-table--no-caption gsl-projet-table">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table id="table-simulation">
                        <caption>Détails de la simulation</caption>
                        <thead>
                            <tr>
                                <th scope="col">
                                    Date de dépôt
                                </th>
                                <th scope="col" class="gsl-projet-table__col--w180">
                                    Intitulé du projet
                                </th>
                                <th scope="col">
                                    Demandeur
                                </th>
                                <th scope="col">
                                    Dotation
                                </th>
                                <th scope="col" class="gsl-projet-table__col--w80">
                                    Coût total du projet
                                    <br>
                                    <span class="gsl-projet-table__total gsl-money gsl-projet-table__total--cost">{{ total_cost | euro }}</span>
                                </th>
                                <th scope="col" class="gsl-projet-table__col--w80">
                                    Montant sollicité
                                    <br>
                                    <span class="gsl-projet-table__total gsl-projet-table__total--asked">{{ total_amount_asked | euro }}</span>
                                </th>
                                <th scope="col" class="gsl-projet-table__col--w80">
                                    Montant prévisionnel accordé
                                    <br>
                                    <span class="gsl-projet-table__total gsl-projet-table__total--granted"
                                          id="total-amount-granted">{{ total_amount_granted | euro }}</span>
                                </th>
                                <th scope="col" class="gsl-projet-table__col--w80">
                                    Taux de subvention
                                </th>
                                <th scope="col" class="gsl-projet-table__col--w160">
                                    Catégorie d'opération
                                </th>
                                <th scope="col" class="gsl-projet-table__col--w180">
                                    Statut
                                </th>
                                <th scope="col">
                                    <span class="fr-sr-only">Actions</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for projet in simulation_projets_list %}
                                {% with projet.dotation_projet.0 as dotation_projet %}
                                    {% with dotation_projet.simu.0 as simu %}
                                        {% include "includes/_simulation_detail_row.html" with simu=simu projet=projet dotation_projet=dotation_projet %}
                                    {% endwith %}
                                {% endwith %}
                            {% empty %}
                                <tr>
                                    <td colspan="12">
                                        Liste vide.
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="fr-table__footer">
            <div class="fr-table__footer--middle">
                {% dsfr_pagination simulation_paginator %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block modal %}
    {% include "includes/modals/_dotation_update_confirmation_modal.html" %}
{% endblock modal %}

{% block extra_js %}
    <script type="module"
            src="{% static 'js/handleInteractionsInSimulation.js' %}"></script>
{% endblock extra_js %}
