{% extends "base.html" %}
{% load static dsfr_tags gsl_filters custom_pluralize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projet_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/simulation_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/enveloppe_summary.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>
        {{ title }}
        <div class="simulation-menu">
            {% include "includes/modals/_simulation_actions_menu.html" %}
        </div>
    </h1>
    {% include "includes/_status_summary.html" %}
    <div class="gsl-dropdown fr-mt-2w fr-mb-2w">
        <button class="fr-btn fr-btn--secondary"
                aria-haspopup="menu"
                aria-expanded="false">
            Exporter le tableau
            <span class="fr-icon-arrow-down-s-line fr-btn--icon-right"></span>
        </button>
        <div class="gsl-dropdown-content fr-p-0 export-btn-container" role="menu">
            {% for export_type in export_types %}
                <a class="fr-btn fr-btn--secondary export-btn"
                   href="{% url 'gsl_simulation:simulation-projets-export' slug=simulation.slug type=export_type %}?{{ filter_params }}"
                   role="menuitem">
                    format .{{ export_type }} <span class="fr-icon-download-line fr-icon--sm fr-btn--icon-right"
       aria-hidden="true"></span>
                </a>
            {% endfor %}
        </div>
    </div>
    {% include "includes/_enveloppe_summary.html" %}
    {% include "includes/_projet_list_filters.html" %}

    <div id="simulation-table-wrapper">
        <div class="gsl-table-toolbar fr-my-1w">
            <span>
                {{ simulation_paginator.paginator.count }}
                projet{{ simulation_paginator.paginator.count|custom_pluralize }}
            </span>
            {% include "gsl_core/_column_visibility_dropdown.html" with table_wrapper_id="simulation-table-wrapper" simulation=simulation %}
        </div>
        <div class="fr-table fr-table--multiline fr-table--sm fr-table--no-caption gsl-projet-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        <table id="table-simulation">
                            <caption>Détails de la simulation</caption>
                            <thead>
                                <tr>
                                    {% for column in columns %}
                                        <th scope="col" class="{{ column.th_classes }}">
                                            {% if column.header_template_name %}
                                                {% include column.header_template_name %}
                                            {% else %}
                                                {% include "gsl_core/table_cells/_default_header.html" %}
                                            {% endif %}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for projet in simulation_projets_list %}
                                    {% with projet.dotation_projet.0 as dotation_projet %}
                                        {% with dotation_projet.simu.0 as simu %}
                                            {% include "includes/_simulation_detail_row.html" with simu=simu projet=projet dotation_projet=dotation_projet %}
                                        {% endwith %}
                                    {% endwith %}
                                {% empty %}
                                    <tr>
                                        <td colspan="{{ columns|length }}">
                                            Liste vide.
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="fr-table__footer">
                <div class="fr-table__footer--middle">
                    {% dsfr_pagination simulation_paginator %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block modal %}
    {% include "includes/modals/_dotation_update_confirmation_modal.html" %}
{% endblock modal %}

{% block extra_js %}
    <script type="module"
            src="{% static 'js/handleInteractionsInSimulation.js' %}"></script>
{% endblock extra_js %}
