{% extends "base.html" %}
{% load static dsfr_tags gsl_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/simulation_detail.css' %}">
{% endblock extra_css %}

{% block content %}
    <h1>
        {{ title }}
    </h1>
    {% include "includes/_status_summary.html" %}
    <div class="gsl-dropdown fr-mt-2w fr-mb-2w">
        <button class="fr-btn fr-btn--secondary"
                aria-haspopup="menu"
                aria-expanded="false">
            Exporter le tableau
            <span class="fr-icon-arrow-down-s-line fr-btn--icon-right"></span>
        </button>
        <div class="gsl-dropdown-content fr-p-0 export-btn-container" role="menu">
            {% for export_type in export_types %}
                <a class="fr-btn fr-btn--secondary export-btn"
                   href="{% url 'gsl_simulation:simulation-projets-export' slug=simulation.slug type=export_type %}?{{ filter_params }}"
                   role="menuitem">
                    format .{{ export_type }} <span class="fr-icon-download-line fr-icon--sm fr-btn--icon-right"
       aria-hidden="true"></span>
                </a>
            {% endfor %}
        </div>
    </div>
    {% include "includes/_enveloppe_summary.html" %}
    {% include "includes/_projet_list_filters.html" %}

    <div class="fr-table--lg gsl-projet-table">
        <table>
            <thead>
                <tr>
                    <th>
                        <span class="fr-sr-only">Sélectionner</span>
                    </th>
                    <th>
                        Date de dépôt
                    </th>
                    <th class="max_180_width">
                        Intitulé du projet
                    </th>
                    <th>
                        Demandeur
                    </th>
                    <th>
                        Dotation
                    </th>
                    <th class="max_80_width">
                        Coût total du projet
                        <br>
                        <span class="gsl_projet_table__total gsl-money gsl-projet-table__total-cost">{{ total_cost | euro }}</span>
                    </th>
                    <th class="max_80_width">
                        Montant sollicité
                        <br>
                        <span class="gsl_projet_table__total gsl-projet-table__total-asked">{{ total_amount_asked | euro }}</span>
                    </th>
                    <th class="max_80_width">
                        Montant prévisionnel accordé
                        <br>
                        <span class="gsl_projet_table__total gsl-projet-table__total-granted"
                              id="total-amount-granted">{{ total_amount_granted | euro }}</span>
                    </th>
                    <th class="max_80_width">
                        Taux de subvention
                    </th>
                    <th class="max_160_width">
                        Choix de la catégorie d’opération
                    </th>
                    <th class="max_160_width">
                        Statut
                    </th>
                    <th>
                        <span class="fr-sr-only">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for projet in simulation_projets_list %}
                    {% with projet.dotation_projet.0 as dotation_projet %}
                        {% with dotation_projet.simu.0 as simu %}
                            {% include "includes/_simulation_detail_row.html" with simu=simu projet=projet dotation_projet=dotation_projet %}
                        {% endwith %}
                    {% endwith %}
                {% empty %}
                    <tr>
                        <td colspan="12">
                            Liste vide.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% dsfr_pagination simulations_paginator %}

{% endblock content %}

{% block modal %}
    {% include "includes/modals/_accept_confirmation_modal.html" %}
    {% include "includes/modals/_refuse_confirmation_modal.html" %}
    {% include "includes/modals/_dismiss_confirmation_modal.html" %}
    {% include "includes/modals/_go_back_to_processing_modal.html" %}
    {% include "includes/modals/_go_back_to_provisionally_accepted_modal.html" %}
    {% include "includes/modals/_go_back_to_provisionally_refused_modal.html" %}
    {% include "includes/modals/_dotation_update_confirmation_modal.html" %}
{% endblock modal %}

{% block extra_js %}
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/simulationProjetStatusConfirmation.js' %}"></script>
    <script type="module"
            src="{% static 'js/handleInteractionsInSimulation.js' %}"></script>
{% endblock extra_js %}
