{% extends "base.html" %}

{% block content %}
    <h1>
        {{ title }}
    </h1>
    <h2>
        <span class="fr-icon-booklet-fill fr-icon--lg blue-color"
              aria-hidden="true"></span>
        Campagne 2025
    </h2>
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <p class="text-align-right">
                    <a class="fr-link"
                       href="{% url 'gsl_projet:enveloppe-create' %}?next={{ request.path }}">Créer une nouvelle sous-enveloppe</a>
                </p>
                <button class="fr-btn" type="submit">
                    Créer une simulation
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
