{% extends "base.html" %}
{% load dsfr_tags %}
{% block breadcrumb %}
    {% dsfr_breadcrumb breadcrumb_dict %}
{% endblock breadcrumb %}

{% block content %}
    <h1>
        {{ title }}
    </h1>
    <h2>
        <span class="fr-icon-booklet-fill fr-icon--lg blue-icon" aria-hidden="true"></span>
        Campagne 2025
    </h2>
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="fr-btn" type="submit">
                    Créer une simulation
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
