{% extends "base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock extra_css %}

{% block content %}
    {% if source_simulation_projet_id %}

        <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-s-line fr-mb-2w"
           href="{% url 'simulation:simulation-projet-detail' source_simulation_projet_id %}">
            Retour au projet
        </a>
    {% endif %}
    <h1>
        Génération des documents et envoi de la notification au demandeur
    </h1>
    <h2>
        <span class="blue-color">Projet :</span> {{ projet.dossier_ds.projet_intitule }}
    </h2>

    <div class="form-container">
        {% dsfr_stepper stepper_dict %}
        <h3>
            Génération de l'arrêté
        </h3>
        <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-file-text-line">
            Créer l'arrêté
        </button>
        <span class="fr-mx-2w">
            ou
        </span>
        <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-upload-line"
                id="show-arrete-signe-form">
            <span class="" aria-hidden="true"></span>
            Ajouter l’arrêté déjà prêt et signé
        </button>

        <form method="post"
              enctype="multipart/form-data"
              id="arrete-signe-form"
              class="{% if not form.errors %}hidden{% endif %}">

            {% if form.errors %}
                <div class="fr-alert fr-alert--error fr-mb-1w">
                    <p class="fr-alert__title">
                        Erreur dans le formulaire
                    </p>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>
                                    {{ error }}
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% csrf_token %}
            <div class="fr-input-group">
                <label class="fr-label" for="id_file">
                    Ajouter l'arrêté signé
                </label>
                <span class="fr-hint-text fr-mb-1w" id="id_file_helptext">
                    Taille maximale : 20 Mo. Formats supportés : jpg, png, pdf.
                </span>

                {{ form.file }}

            </div>
            <button class="fr-btn" type="submit" id="submit-arrete-signe-form" disabled>
                Envoyer
            </button>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="module" src="{% static 'js/notification.js' %}"></script>
{% endblock extra_js %}
