{% extends "base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock extra_css %}

{% block content %}
    {% if source_simulation_projet_id %}
        <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-arrow-left-s-line fr-mb-2w"
           href="{% url 'simulation:simulation-projet-detail' source_simulation_projet_id %}">
            Retour au projet
        </a>
    {% endif %}
    <h1>
        Génération des documents et envoi de la notification au demandeur
    </h1>
    <h2>
        <span class="blue-color">Projet :</span> {{ projet.dossier_ds.projet_intitule }}
    </h2>

    <div class="arrete-container">
        {% dsfr_stepper stepper_dict %}
        <h3>
            Génération de l'arrêté
        </h3>
        <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-file-text-line"
                disabled>
            Créer l'arrêté
        </button>
        <span class="fr-mx-2w">
            ou
        </span>
        <button class="fr-btn fr-btn--tertiary fr-btn--icon-left fr-icon-upload-line"
                id="show-arrete-signe-form"
                disabled>
            <span class="" aria-hidden="true"></span>
            Ajouter l’arrêté déjà prêt et signé
        </button>

        <div class="arrete-card fr-mt-4w">
            <img class="arrete-card__image"
                 src="{% static 'img/arrete_vignette.png' %}"
                 alt="Image d'un arrêté">
            <div>
                <a class="fr-link fr-link--download" href="{{ arrete_signe.file.url }}">
                    {{ arrete_signe.name }} -
                    {{ arrete_signe.type|upper }} -
                    {{ arrete_signe.size|filesizeformat }}
                </a>
            </div>
            <div>
                Ajoutée le {{ arrete_signe.uploaded_at|date:"d/m/Y" }} à {{ arrete_signe.uploaded_at|time:"H:i" }} par {{ arrete_signe.created_by }}
            </div>
        </div>

        <div class="next-step-buttons">
            {% if source_simulation_projet_id %}
                {% url 'simulation:simulation-projet-detail' source_simulation_projet_id as go_back_url %}
            {% else %}
                {% url 'projet:list' as go_back_url %}
            {% endif %}
            <a class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-save-line"
               href="{{ go_back_url }}">
                Enregistrer et revenir plus tard
            </a>
            <button class="fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line" disabled>
                Suivant
            </button>
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script type="module" src="{% static 'js/notification.js' %}"></script>
{% endblock extra_js %}
