.tab-submenu ul {
  display: flex;
}

.tab-submenu ul li + li {
  margin-left: 2em;
}

.tab-submenu .active-link {
  color: var(--text-title-blue-france);
}


.gsl-projet-table__header--checkbox {
  height: 30px;
  display: flex;
  align-items: center;
}

.gsl-projet-table__action-menu {
  position: absolute;
  left: 32px;
  top: 2px;
}

.gsl-projet-table__action-menu > summary {
  padding: 1rem 0.5rem;
}

.gsl-projet-table__action-menu > summary::marker {
  content: "";
}

.gsl-projet-table__action-menu > ul {
  text-transform: none;
}

.gsl-projet-table__checkbox-label {
  position: absolute;
  top: -14px;
}

.gsl-projet-table__row--select-all {
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  display: none;
}

.gsl-projet-table__row--select-all > td {
  background-color: var(--background-alt-grey);
  color: var(--text-default-grey);
}