{% extends 'base.html' %}
{% load static dsfr_tags %}
{% block content %}
    <h1>Correspondances de champs Django / DS pour la démarche {{ demarche.ds_number }}</h1>
    <h2>{{ demarche.ds_title }}</h2>

    <table>
        <tr>
            <th>Champ Django</th>
            <th>Type</th>
            <th>Champ DS</th>
            <th>Type DS</th>
        </tr>
        {% for mapping in existing_mappings %}
            <tr>
                <td>
                    {{ mapping.django_field }} <br> {{ mapping.django_field_label }}
                </td>
                <td>Liste déroulante</td>
                <td>{{ mapping.ds_field_label }}</td><td>{{ mapping.ds_field_type }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}