{% extends 'base.html' %}
{% load static dsfr_tags %}
{% block content %}
    <h1>Démarches DS</h1>
    <ul>
        {% for demarche in object_list %}
            <li class="fr-tile fr-tile--sm fr-tile--horizontal fr-enlarge-link fr-mb-3w">
                <div class="fr-tile__body">
                    <div class="fr-tile__content">
                        <h3 class="fr-tile__title">
                            <a href="{% url "ds:get-demarche-mapping" demarche_ds_number=demarche.ds_number %}">{{ demarche.ds_title }}</a>
                        </h3>
                        <p class="fr-tile__detail">{{ demarche.ds_number }}</p>
                        <div class="fr-tile__start">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">{{ demarche.ds_state }}</p>
                        </div>
                    </div>
                </div>
                <div class="fr-tile__header">
                    <div class="fr-tile__pictogram">
                        <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                            <use class="fr-artwork-decorative"
                                 href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                            <use class="fr-artwork-minor"
                                 href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                            <use class="fr-artwork-major"
                                 href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                        </svg>
                    </div>
                </div>
            </li>
        {% empty %}
            <li>Aucune démarche à afficher.</li>
        {% endfor %}
    </ul>
    {% dsfr_pagination page_obj %}


{% endblock %}