{% extends 'base.html' %}
{% load static dsfr_tags %}
{% block content %}
    <h1>Démarches DS</h1>
    <ul>
        {% for demarche in object_list %}
            <li class="fr-tile fr-tile--sm fr-tile--horizontal fr-mb-3w">
                <div class="fr-tile__body">
                    <div class="fr-tile__content">
                        <h3 class="fr-tile__title">
                            {{ demarche.ds_title }}
                        </h3>
                        <p class="fr-tile__desc">{{ demarche.ds_number }}</p>
                        <div class="fr-tile__detail">
                            <a href="{% url "ds:get-demarche-mapping" demarche_ds_number=demarche.ds_number %}"
                               class="fr-btn fr-btn--sm  fr-mr-3v">
                                    <span class="fr-icon-git-pull-request-fill fr-icon--sm fr-mr-2v"
                                          aria-hidden="true"></span>
                                Correspondances de champs
                            </a>
                            <form action="{% url "ds:fetch-demarche-dossiers" %}" method="POST" id="get_dossiers_demarche_{{ demarche.ds_number }}">
                                {% csrf_token %}
                                <input type="hidden" name="demarche_ds_number" value="{{ demarche.ds_number }}">
                                <button type="submit" href="#" class="fr-btn fr-btn--sm fr-mr-3v">
                                    <span class="fr-icon-download-line fr-icon--sm fr-mr-2v" aria-hidden="true"></span>
                                    Chercher les dossiers
                                    <span class="fr-sr-only">de la démarche {{ demarche.ds_number }}</span>
                                </button>
                            </form>
                            <a href="{% url "admin:gsl_demarches_simplifiees_dossier_changelist" %}{% querystring ds_demarche__ds_number=demarche.ds_number %}"
                               class="fr-btn fr-btn--sm fr-mr-3v">
                                <span class="fr-icon-folder-2-fill fr-icon--sm fr-mr-2v" aria-hidden="true"></span>
                                Liste des dossiers
                            </a>
                        </div>

                        <div class="fr-tile__start">
                            <p class="fr-badge fr-badge--sm fr-badge--purple-glycine">{{ demarche.ds_state }}</p>
                        </div>
                    </div>
                </div>
                <div class="fr-tile__header">
                    <div class="fr-tile__pictogram">
                        <svg aria-hidden="true" class="fr-artwork" viewBox="0 0 80 80" width="80px" height="80px">
                            <use class="fr-artwork-decorative"
                                 href="/img/artwork/pictograms/city-hall.svg#artwork-decorative"></use>
                            <use class="fr-artwork-minor"
                                 href="/img/artwork/pictograms/city-hall.svg#artwork-minor"></use>
                            <use class="fr-artwork-major"
                                 href="/img/artwork/pictograms/city-hall.svg#artwork-major"></use>
                        </svg>
                    </div>
                </div>
            </li>
        {% empty %}
            <li>Aucune démarche à afficher.</li>
        {% endfor %}
    </ul>
    {% dsfr_pagination page_obj %}


{% endblock %}