{% extends "base.html" %}
{% load static dsfr_tags %}
{% block content %}

    <h1>
        Résultat des recherches sur DS
    </h1>
    {% dsfr_django_messages %}
    <p>
        Ce tableau n’indique que les recherches de démarches qui ont échoué sur DN.
        Consultez-le si vous ne voyez pas certaines démarches dans la liste.
    </p>
    {% if request.user.is_superuser %}
        <div>
            <a href="{% url "admin:django_celery_results_taskresult_changelist" %}"
               class="fr-button">Tout voir dans l’admin</a>
        </div>
    {% endif %}
    <div class="fr-table fr-table--bordered">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table>
                        <tr>
                            <th scope="col">
                                Numéro de démarche
                            </th>
                            <th scope="col">
                                Tâche
                            </th>
                            <th scope="col">
                                État
                            </th>
                            <th scope="col">
                                Résultat
                            </th>
                        </tr>
                        {% for task in tasks %}
                            <tr>
                                <th scope="row">
                                    {{ task.task_args|slice:"2:-3" }}
                                </th>
                                <td>
                                    {{ task.task_name }}
                                </td>
                                <td>
                                    {{ task.status }}
                                </td>
                                <td>
                                    {{ task.result }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
