{% if programmation_projet.projet.to_notify %}
    <a href="{% if programmation_projet.projet.has_accepted_dotation %}{% url 'gsl_notification:documents' programmation_projet.projet.id %}?back={{ request.get_full_path|urlencode }}{% else %}#{% endif %}"
       class="fr-link fr-link--icon-right fr-icon-mail-line"
       {% if not programmation_projet.projet.has_accepted_dotation %}role="button" hx-get="{% url 'gsl_notification:notify-refused-dismissed' programmation_projet.projet.id %}" hx-swap="outerHTML" id="notify-refused-dismissed-link-{{ programmation_projet.projet.id }}" name="notify-refused-dismissed-link"{% endif %}>
        À notifier
    </a>
{% elif programmation_projet.projet.notified_at %}
    <p class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon">
        Notifié
    </p>
{% elif programmation_projet.dotation_projet.other_dotations %}
    <p class="fr-badge fr-badge--sm fr-badge--info fr-badge--no-icon">
        En attente de la décision {{ programmation_projet.dotation_projet.other_dotations.0.dotation }}
    </p>
{% endif %}
