{% if programmation_projet.projet.to_notify %}
    <a href="{% url 'gsl_notification:documents' programmation_projet.projet.id %}"
       class="fr-link fr-link--icon-right fr-icon-mail-line">À notifier</a>
{% elif programmation_projet.projet.notified_at %}
    <p class="fr-badge fr-badge--sm fr-badge--success fr-badge--no-icon">
        Notifié
    </p>
{% elif programmation_projet.dotation_projet.other_dotations %}
    <p class="fr-badge fr-badge--sm fr-badge--info fr-badge--no-icon">
        En attente de la décision {{ programmation_projet.dotation_projet.other_dotations.0.dotation }}
    </p>
{% endif %}
