{% extends 'base.html' %}
{% load static dsfr_tags %}
{% block content %}

    <h1>Chercher des démarches sur Démarches Simplifiées</h1>
                {% dsfr_django_messages %}
    <form action="{% url 'ds:post-add-demarches' %}" method="POST">
        {% csrf_token %}
        <div class="fr-input-group">
            <label class="fr-label" for="ds_numbers">
                Numéros des démarches DS
                <span class="fr-hint-text">Un numéro par ligne</span>
            </label>
            <textarea class="fr-input" name="ds_numbers" autocomplete="on" id="ds_numbers" rows="5"></textarea>
        </div>

        <div class="fr-input-group">
            <button type="submit" class="fr-btn">Chercher les démarches sur DS</button>
        </div>
    </form>
{% endblock %}