{% comment %}
    Column visibility dropdown.
    Requires `columns` (list of Column) and `table_wrapper_id` (str) in context.
{% endcomment %}

<div class="gsl-dropdown gsl-column-visibility-dropdown"
     data-table-id="{{ table_wrapper_id }}">
    <button type="button"
            class="fr-btn fr-btn--secondary fr-btn--sm fr-btn--icon-right fr-icon-arrow-down-s-line">
        Colonnes affichées
    </button>
    <div class="gsl-dropdown-content gsl-column-visibility-list">
        <form>
            {% for column in columns %}
                {% if column.hideable %}
                    <div class="fr-checkbox-group fr-checkbox-group--sm">
                        <input type="checkbox"
                               id="toggle-col-{{ column.css_key }}"
                               {% if column.displayed_by_default %}checked{% endif %}>
                        <label class="fr-label" for="toggle-col-{{ column.css_key }}">
                            {{ column.label }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="reset"
                    class="fr-btn fr-btn--tertiary-no-outline fr-btn--icon-left fr-btn--sm fr-icon-arrow-go-back-line gsl-column-visibility-reset">
                Réinitialiser le tableau par défaut
            </button>
        </form>
    </div>
</div>

<style nonce="{{ request.csp_nonce }}">
    {% for column in columns %}
        {% if column.hideable %}
            #{{ table_wrapper_id }}:has(#toggle-col-{{ column.css_key }}:not(:checked)) .{{ column.css_class }} {
            display: none;
        }
        {% endif %}
    {% endfor %}
</style>
