{% extends "base.html" %}
{% load static dsfr_tags %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block title %}
    <title>Politique de confidentialité</title>
{% endblock title %}

{% block content %}
    <div class="fr-container fr-container--fluid fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                <h1>
                    Politique de confidentialité
                </h1>

                <h2>
                    Traitement des données à caractère personnel
                </h2>
                <p>
                    Turgot stocke uniquement les noms, prénoms et adresses email professionnels de ses utilisateurs. Ce
                    sont des données nécessaires pour fournir le service.
                </p>
                <p>
                    Vous avez un droit d’accès, de rectification et de suppression de vos données. Pour l’exercer,
                    faites-nous parvenir une demande en précisant la date et l’heure précise de la requête et tout
                    élément permettant d’attester que vous êtes bien l’auteur du message — ces éléments sont
                    indispensables pour nous permettre de retrouver votre recherche — par voie électronique à l’adresse
                    <a href="mailto:dgcl-turgot@dgcl.gouv.fr">dgcl-turgot@dgcl.gouv.fr</a>.
                </p>
                <p>
                    Vous êtes également en droit de <a href="https://www.cnil.fr/fr/saisir-la-cnil/nous-contacter">saisir
                    la Commission Nationale de l’Informatique et des Libertés</a> pour toute réclamation.
                </p>
                <p>
                    La CNIL ne reçoit pas le public et n'assure aucun renseignement sur place
                </p>
                <p>
                    Nous nous engageons à ne jamais céder ces informations à des tiers.
                </p>

                <h2 id="cookies">
                    Cookies
                </h2>
                <p>
                    Nous collectons également des données anonymes d’audience. Cela nous permet d’analyser les
                    comportements utilisateurs pour améliorer le service.
                </p>
                <p>
                    Nous collectons donc des données par l’intermédiaire de dispositifs appelés “cookies” permettant
                    d’établir des mesures statistiques. Un cookie est un fichier déposé sur votre terminal lors de la
                    visite d’un site. Il a pour but de collecter des informations relatives à votre navigation.
                </p>
                <p>
                    L’accès aux informations contenues dans les cookies est limité aux seules équipes de Turgot. En
                    outre, l’éditeur peut utiliser certaines données pour des finalités qui lui sont propres.
                </p>
                <p>
                    À tout moment, vous pouvez refuser l’utilisation des cookies et désactiver le dépôt sur votre
                    ordinateur en utilisant la fonction dédiée de votre navigateur (fonction disponible notamment sur
                    Microsoft Edge, Google Chrome, Mozilla Firefox, Apple Safari et Opera).
                </p>
                <p>
                    Pour l’outil Matomo, vous pouvez décider de ne jamais être suivi, y compris anonymement&nbsp;: vous
                    n'êtes pas suivi car votre navigateur indique que vous ne le souhaitez pas. Il s'agit d'un paramètre
                    de votre navigateur&nbsp;; vous ne pourrez donc pas activer le suivi tant que vous aurez activé la
                    fonction «&nbsp;Ne pas suivre&nbsp;».
                </p>
                <p>
                    Pour aller plus loin, vous pouvez consulter <a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/que-dit-la-loi">les fiches proposées par
                    la Commission Nationale de l’Informatique et des Libertés (CNIL)</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
