{% extends "base.html" %}
{% load static dsfr_tags %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block title %}
    <title>Mentions légales et conditions générales d'utilisation</title>
{% endblock title %}

{% block content %}
    <div class="fr-container fr-container--fluid fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                <h1>
                    Mentions légales
                </h1>

                <h2>
                    Éditeur
                </h2>
                <p>
                    Direction Générale des Collectivités Locales (DGCL)
                    <br />
                    2 place des Saussaies
                    <br />
                    75008 Paris
                    <br />
                </p>

                <h2>
                    Hébergement du site
                </h2>
                <p>
                    <b>SCALINGO SAS</b>
                    <br />
                    13 rue Jacques Peirotes
                    <br />
                    67000 Strasbourg France
                    <br />
                    SIRET 80866548300018
                </p>

                <h2>
                    Sécurité
                </h2>
                <p>
                    Le site est protégé par un certificat électronique SSL, matérialisé pour la grande majorité des
                    navigateurs par un cadenas.
                </p>
                <p>
                    Cette protection participe à la confidentialité des échanges. En aucun cas les services associés à
                    la plateforme ne seront à l’origine d’envoi de courriels pour demander la saisie d’informations
                    personnelles.
                </p>

                <h1>
                    Conditions générales d'utilisation
                </h1>

                <h2>
                    Présentation
                </h2>
                <p>
                    Turgot est une application de gestion des subventions de dotations à l’investissement local (DETR et
                    DSIL) portées par le programme 119 «&nbsp;Concours financiers aux collectivités territoriales et à
                    leurs
                    groupements&nbsp;» dont la Direction Générale des Collectivités Locales est responsable.
                </p>
                <p>
                    Elle est destinée aux services instructeurs en Préfectures et sous-préfectures.
                </p>
                <p>
                    Elle vise principalement à effectuer la programmation de ses dotations ainsi que leur notification
                    aux
                    demandeurs.
                </p>
                <p>
                    Le code du logiciel est libre, et peut donc être vérifié et amélioré par toutes et tous.
                </p>

                <h2>
                    Vocabulaire
                </h2>
                <p>
                    «&nbsp;Nous&nbsp;» se réfère à l’éditeur de Turgot - la Direction Générale des Collectivités
                    Locales
                </p>
                <p>
                    «&nbsp;Vous&nbsp;» se réfère à un·e usager de Turgot,
                </p>
                <p>
                    «&nbsp;Partenaires&nbsp;» se réfère aux prestataires, sous-traitants ou services tiers avec lesquels
                    l’éditeur
                    collabore dans le cadre de la fourniture du Service
                </p>

                <h2>
                    Droits des utilisateurs
                </h2>

                <h3>
                    Demande et attribution d'un compte individuel
                </h3>
                <p>
                    La demande de compte individuel pour accéder au service se fait au moyen de Pro Connect.
                </p>
                <p>
                    Les droits de visualisation de dossiers sont accordés par les administrateurs du service en fonction
                    de leur périmètre géographique après vérification.
                </p>
                <p>
                    Les droits de modification des dossiers sont repris à partir des droits implémentés dans le service
                    tiers partenaire Démarche Numérique.
                </p>

                <h3>
                    Usage du service et des informations délivrées par le service
                </h3>
                <p>
                    L'usage du service et des informations qu'il délivre est limité à l'accomplissement des missions de
                    service public de l'organisation à laquelle l'utilisateur appartient. Tout autre usage est prohibé.
                </p>
                <p>
                    L'utilisateur prend toutes précautions pour que les informations fournies par le service, sous
                    quelque forme que ce soit, ne soient pas diffusées à un tiers autre que les partenaires.
                </p>
                <p>
                    En cas de diffusion des informations ou suspicion de diffusion des informations à un tiers autre que
                    les organisations partenaires, l'utilisateur s'engage à prévenir immédiatement les administrateurs
                    du service.
                </p>

                <h2>
                    Absence de garantie
                </h2>
                <p>
                    Nous ne garantissons pas l’exactitude des données des sites à partir desquelles nous collectons les
                    données (Démarche Numérique). Nous nous chargeons de les restituer.
                </p>
                <p>
                    Nous ne garantissons pas l’exactitude du contenu des sites externes vers lesquels nous redirigeons
                    la navigation (Démarche Numérique).
                </p>
                <p>
                    Ces sites ne sont pas régis par les mêmes conditions d’utilisation, notamment en ce qui concerne
                    leur traitement des données à caractère personnel.
                </p>
                <p>
                    Nous mettons Turgot à disposition sans garantie sur sa disponibilité, en «&nbsp;best effort&nbsp;».
                    Cela signifie que d’éventuelles indisponibilités n’ouvriront pas droit à compensation.
                </p>

                <h2>
                    Traitement des données
                </h2>
                <p>
                    Nous nous engageons à ne jamais exploiter les données présentes dans Turgot dans un but
                    commercial ou publicitaire. De manière générale, Turgot n’accepte aucune forme de publicité.
                </p>
                <p>
                    Les données enregistrées sont enregistrées dans un centre de données sécurisé hébergé en France.
                    Seules nos équipes techniques et celles de nos partenaires peuvent y accéder.
                </p>

                <h2>
                    Évolution
                </h2>
                <p>
                    Nous pouvons faire évoluer Turgot sans information préalable. Nous ajoutons régulièrement des
                    fonctionnalités, améliorons l’interface et modifions des formulations sur la base de vos retours et
                    des évolutions réglementaires.
                </p>
                <p>
                    Nous pouvons suspendre l’accès à Turgot sans information préalable, notamment pour des raisons de
                    maintenance. Nous pouvons mettre à jour l’application à jour à fréquence régulière.
                </p>
                <p>
                    Nous pouvons amender ces conditions d’utilisation à tout moment. Les utilisateurs seront informés de
                    toute modification.
                </p>

                <h2>
                    Utilisation
                </h2>
                <p>
                    Son utilisation est gratuite et facultative. L'utilisation de l'outil implique le consentement
                    implicite des GCU en vigueur.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
