<div class="filter-field fr-col-12 fr-col-md-4 fr-col-lg-3">
    <div class="filter-dropdown">
        <label class="fr-label" for="dotation">
            Dotation
        </label>
        <button type="button"
                class="fr-select {% if is_dotation_active %}filter-dropdown-button-active{% endif %}">
            {{ dotation_placeholder }}
        </button>
        <div class="filter-content">
            {{ filter.form.dotation }}
            <button type="submit" class="fr-btn fr-btn--sm">
                Filtrer
            </button>
        </div>
    </div>
</div>
