<div class="filter-field fr-col-12 fr-col-md-6 fr-col-lg-3">
    <div class="filter-dropdown fr-mt-4w">
        <button type="button"
                class="fr-input {% if is_montant_demande_active %}filter-dropdown-button-active{% endif %}"
                id="filter-montant-demande-button">
            Montant demandé
            <span class="fr-icon-money-euro-circle-fill fr-icon--sm blue-color fr-ml-1w" />
        </button>
        <div class="filter-content">
            <div class="amount-filter-group">
                <label class="fr-label" for="id_montant_demande_min">
                    Montant minimum
                </label>
                <div class="euro-input-wrap">
                    {{ filter.form.montant_demande_min }}
                    <span class="euro-input-symbol">€</span>
                </div>
            </div>
            <div class="amount-filter-group">
                <label class="fr-label" for="id_montant_demande_max">
                    Montant maximum
                </label>
                <div class="euro-input-wrap">
                    {{ filter.form.montant_demande_max }}
                    <span class="euro-input-symbol">€</span>
                </div>
            </div>
            <button type="submit" class="fr-btn fr-btn--sm">
                Filtrer
            </button>
            <div class="separator">
                <hr aria-hidden="true" />
                <span>ou</span>
                <hr aria-hidden="true" />
            </div>
            <div class="montant-demande-checkbox-container">
                <input type="checkbox"
                       id="montant_demande_sup_100k"
                       class="fr-checkbox"
                       {% if request.GET.montant_demande_min == "100000" %}checked{% endif %}>
                <label for="montant_demande_sup_100k">
                    Montant <b><span aria-hidden="true">&gt;</span> Supérieur</b> à 100 000 €
                </label>
            </div>

            <div class="montant-demande-checkbox-container">
                <input type="checkbox"
                       id="montant_demande_inf_100k"
                       class="fr-checkbox"
                       {% if request.GET.montant_demande_max == "100000" %}checked{% endif %}>
                <label for="montant_demande_inf_100k">
                    Montant <b><span aria-hidden="true">&lt;</span> Inférieur</b> à 100 000 €
                </label>
            </div>
        </div>
    </div>
</div>
{% block extra_js %}
    <script>
    // If the montant_demande_sup_100k checkbox is checked or unchecked, update the montant_demande_min and montant_demande_max inputs
    document.getElementById('montant_demande_sup_100k').addEventListener('change', function() {
        if (this.checked) {
            document.getElementById('id_montant_demande_min').value = '100000';
            document.getElementById('id_montant_demande_max').value = '';
            document.getElementById('montant_demande_inf_100k').checked = false;
        } else {
            document.getElementById('id_montant_demande_min').value = '';
            document.getElementById('id_montant_demande_max').value = '';
        }
    });

    // Uncheck the montant_demande_sup_100k if id_montant_demande_min is not 100000
    document.getElementById('id_montant_demande_min').addEventListener('change', function() {
        if (this.value != 100000) {
            document.getElementById('montant_demande_sup_100k').checked = false;
        }
    });


    // If the montant_demande_inf_100k checkbox is checked or unchecked, update the montant_demande_min and montant_demande_max inputs
    document.getElementById('montant_demande_inf_100k').addEventListener('change', function() {
        if (this.checked) {
            document.getElementById('id_montant_demande_min').value = '';
            document.getElementById('id_montant_demande_max').value = '100000';
            document.getElementById('montant_demande_sup_100k').checked = false;
        } else {
            document.getElementById('id_montant_demande_min').value = '';
            document.getElementById('id_montant_demande_max').value = '';
        }
    });

    // Uncheck the montant_demande_inf_100k if id_montant_demande_max is not 100000
    document.getElementById('id_montant_demande_max').addEventListener('change', function() {
        if (this.value != 100000) {
            document.getElementById('montant_demande_inf_100k').checked = false;
        }
    });
    </script>
{% endblock extra_js %}
