<div class="filter-field fr-col-12 fr-col-md-6 fr-col-lg-3">
    <div class="gsl-dropdown fr-mt-4w">
        <button type="button"
                class="fr-input {% if is_montant_retenu_active %}filter-dropdown-button-active{% endif %}"
                id="filter-montant-retenu-button">
            <span class="fr-icon-money-euro-box-fill fr-icon--sm blue-color fr-mr-1w"></span>
            Montant retenu
        </button>
        <div class="gsl-dropdown-content">
            <div class="amount-filter-group">
                <label class="fr-label" for="id_montant_retenu_min">
                    Montant retenu minimum
                </label>
                <div class="euro-input-wrap">
                    {{ filter.form.montant_retenu_min }}
                    <span class="euro-input-symbol">€</span>
                </div>
            </div>
            <div class="amount-filter-group">
                <label class="fr-label" for="id_montant_retenu_max">
                    Montant retenu maximum
                </label>
                <div class="euro-input-wrap">
                    {{ filter.form.montant_retenu_max }}
                    <span class="euro-input-symbol">€</span>
                </div>
            </div>
            <button type="submit" class="fr-btn fr-btn--sm">
                Filtrer
            </button>
        </div>
    </div>
</div>
