<div class="filter-field filter-field--search" role="search">
    <label class="fr-label" for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>
    <div class="fr-search-bar" id="search-{{ field.name }}">
        <input type="search"
               class="fr-input"
               name="{{ field.name }}"
               id="{{ field.id_for_label }}"
               value="{{ field.value|default_if_none:'' }}">
        <button class="fr-btn" type="submit" aria-label="Lancer la recherche">
            Rechercher
        </button>
    </div>
</div>
