<div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
    <label class="fr-label" for="tri">
        Trier par
    </label>
    <select name="tri" id="tri" class="fr-select" onchange="this.form.submit()">
        <option value="" selected disabled hidden>
            Tri
        </option>
        <optgroup label="Date">
            <option value="date_desc"
                    {% if request.GET.tri == 'date_desc' %}selected{% endif %}>
                Les plus récentes en premier
            </option>
            <option value="date_asc"
                    {% if request.GET.tri == 'date_asc' %}selected{% endif %}>
                Les plus anciennes en premier
            </option>
        </optgroup>
        <optgroup label="Coût total">
            <option value="cout_asc"
                    {% if request.GET.tri == 'cout_asc' %}selected{% endif %}>
                Croissant
            </option>
            <option value="cout_desc"
                    {% if request.GET.tri == 'cout_desc' %}selected{% endif %}>
                Décroissant
            </option>
        </optgroup>
        <optgroup label="Commune">
            <option value="commune_asc"
                    {% if request.GET.tri == 'commune_asc' %}selected{% endif %}>
                A → Z
            </option>
            <option value="commune_desc"
                    {% if request.GET.tri == 'commune_desc' %}selected{% endif %}>
                Z → A
            </option>
        </optgroup>
    </select>
</div>
