{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projet_list_filters.css' %}">
{% endblock extra_css %}

<form method="get"
      action="{{ request.path }}{% querystring %}"
      class="fr-background-alt--blue-france">

    <div class="projets-filters-layout fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                <label class="fr-label" for="tri">
                    Trier par
                </label>
                <select name="tri" id="tri" class="fr-select" onchange="this.form.submit()">
                    <option value="" selected disabled hidden>
                        Tri
                    </option>
                    <optgroup label="Date">
                        <option value="date_desc"
                                {% if request.GET.tri == 'date_desc' %}selected{% endif %}>
                            Les plus récentes en premier
                        </option>
                        <option value="date_asc"
                                {% if request.GET.tri == 'date_asc' %}selected{% endif %}>
                            Les plus anciennes en premier
                        </option>
                    </optgroup>
                    <optgroup label="Coût total">
                        <option value="cout_asc"
                                {% if request.GET.tri == 'cout_asc' %}selected{% endif %}>
                            Croissant
                        </option>
                        <option value="cout_desc"
                                {% if request.GET.tri == 'cout_desc' %}selected{% endif %}>
                            Décroissant
                        </option>
                    </optgroup>
                    <optgroup label="Commune">
                        <option value="commune_asc"
                                {% if request.GET.tri == 'commune_asc' %}selected{% endif %}>
                            A → Z
                        </option>
                        <option value="commune_desc"
                                {% if request.GET.tri == 'commune_desc' %}selected{% endif %}>
                            Z → A
                        </option>
                    </optgroup>
                </select>
            </div>

            <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                <label class="fr-label" for="dotation">
                    Dotation
                </label>
                {{ filter.form.dotation }}
            </div>

            <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                <label class="fr-label" for="porteur">
                    Porteur de projet
                </label>
                {{ filter.form.porteur }}
            </div>

            <div class="filter-dropdown">
                <button type="button" class="fr-input" id="filter-total-cost-button">
                    Coût total
                    <span class="fr-icon-coin-fill fr-icon--sm blue-icon fr-ml-1w" />
                </button>
                <div class="filter-content">
                    <div class="amount-filter-group">
                        <label class="fr-label" for="id_cost_min">
                            Coût minimum
                        </label>
                        <div div class="euro-input-wrap">
                            {{ filter.form.cout_min }}
                            <span class="euro-input-symbol">€</span>
                        </div>
                    </div>
                    <div class="amount-filter-group">
                        <label class="fr-label" for="id_cost_max">
                            Coût maximum
                        </label>
                        <div div class="euro-input-wrap">
                            {{ filter.form.cout_max }}
                            <span class="euro-input-symbol">€</span>
                        </div>
                    </div>
                    <button type="submit" class="fr-btn fr-btn--sm">
                        Filtrer
                    </button>
                </div>
            </div>

            {% comment %} <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                <label class="fr-label" for="cout_min">
                    Coût total minimum
                </label>
                <input type="number" name="cout_min" id="cout_min" class="fr-input" placeholder="Montant minimum" onfocusout="this.form.submit()" value="{{ request.GET.cout_min }}">
            </div>
            <div class="fr-col-12 fr-col-md-6 fr-col-lg-3">
                <label class="fr-label" for="cout_max">
                    Coût total maximum
                </label>
                <input type="number" name="cout_max" id="cout_max" class="fr-input" placeholder="Montant maximum" onfocusout="this.form.submit()" value="{{ request.GET.cout_max }}">
            </div> {% endcomment %}
        </div>
    </div>
</form>


<script>
        // Permet de fermer le dropdown quand on clique à l'extérieur
        document.addEventListener('click', function(event) {
            let dropdown = document.querySelector('.filter-dropdown');
            if (!dropdown.contains(event.target)) {
                document.querySelector('.filter-content').style.display = 'none';
            }
        });
    
        document.querySelector('#filter-total-cost-button').addEventListener('click', function(event) {
            console.log('click');
            event.stopPropagation();
            let content = document.querySelector('.filter-content');
            content.style.display = content.style.display === 'grid' ? 'none' : 'grid';
        });

        document.querySelectorAll('.euro-input-wrap > input').forEach(input => {
            input.addEventListener('input', function() {
                formatMoney(this);
            });
        });
</script>
