{% load static gsl_filters dsfr_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/projet_list.css" %}">
{% endblock extra_css %}

<div class="fr-table--lg gsl-projet-table" id="projet-table">
    <table>
        <thead>
            <tr>
                <th>
                    Date de dépôt
                </th>
                <th>
                    Intitulé du projet
                </th>
                <th>
                    Demandeur
                </th>
                <th>
                    N° D.S.
                </th>
                <th>
                    Dotation
                </th>
                <th>
                    Coût total du projet
                    <br>
                    <span class="gsl-money gsl_projet_table__total gsl-money gsl-projet-table__total-cost">{{ total_cost | euro:0 }}</span>
                </th>
                <th>
                    Montant et taux sollicités
                    <br>
                    <span class="gsl-money gsl_projet_table__total gsl-projet-table__total-asked">{{ total_amount_asked | euro:0 }}</span>
                </th>
                <th>
                    Montant retenu
                    <br>
                    <span class="gsl-money gsl_projet_table__total gsl-projet-table__total-granted">{{ total_amount_granted | euro:0 }}</span>
                </th>
                <th>
                    Taux de subvention
                </th>
                <th>
                    Catégorie d'opération
                </th>
                <th class="max_120_width">
                    Statut
                </th>
                <th>
                    <span class="fr-sr-only">Actions</span>
                </th>
            </tr>
        </thead>
        <tbody id="projet-list">
            {% for projet in object_list %}
                <tr>
                    <td>
                        {{ projet.dossier_ds.ds_date_depot|date:"d/m/Y" }}
                    </td>
                    <td>
                        {{ projet.dossier_ds.projet_intitule }}
                    </td>
                    <td>
                        {{ projet.demandeur.name | format_demandeur_nom }}
                    </td>
                    <td>
                        {{ projet.dossier_ds.ds_number }}
                    </td>
                    <td>
                        {{ projet.dossier_ds.demande_dispositif_sollicite }}
                    </td>
                    <td class="gsl-money">
                        {{ projet.dossier_ds.finance_cout_total|euro:2 }}
                    </td>
                    <td class="gsl-money">
                        {{ projet.dossier_ds.demande_montant|euro:2 }}
                        <br>
                        {% comment %} todo pr_dotation handle dotation projet with a line for each dotation projet ? {% endcomment %}
                        {{ projet.dotation_projet.0.taux_de_subvention_sollicite|percent }}
                    </td>
                    <td class="gsl-money {% if projet.montant_retenu is not None %} gsl_projet_table__montant_retenu {% endif %}">
                        {{ projet.montant_retenu|euro:2 }}
                        <br>
                    </td>
                    <td class="gsl-money">
                        {{ projet.taux_retenu|percent }}
                    </td>
                    <td>
                        <ul class="no-list-style">
                            {% for categorie in projet.categorie_doperation %}
                                <li>
                                    {{ categorie }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="projet_status__{{ projet.status }}">
                        <b>{{ projet.get_status_display }}</b>
                    </td>
                    <td class="fr-cell--right">
                        <a class="fr-btn--tertiary-no-outline gsl-no-underline"
                           href="{{ projet.get_absolute_url }}">
                            <span class="fr-sr-only">Voir le projet {{ projet.dossier_ds.ds_number }}</span>
                            <span class="fr-icon-arrow-right-s-line" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="12">
                        Liste vide.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
