{% load static gsl_filters %}

<link rel="stylesheet" href="{% static 'css/projet_list_filters.css' %}">

<form method="get"
      action="{{ request.path }}{% querystring %}"
      class="fr-background-alt--blue-france">
    {% comment %}
      Le premier bouton est utile lorsqu'on tape sur Entrée. Le formulaire agit alors en fonction du premier bouton rencontré.
      Ça évite que le bouton Entrée ne réinitialise les filtres
    {% endcomment %}
    <button type="submit" hidden>
    </button>

    <div class="projets-filters-layout {% if component_included_in_parent %} projet-filters-in-parent{% endif %} fr-container--fluid">
        <div class="filters-flex-row">
            <div class="fr-col-12 fr-col-md-4 fr-col-lg-3 reinit-filters">
                <button class="fr-btn fr-btn--tertiary"
                        type="submit"
                        name="reset_filters"
                        value="1">
                    <span class="fr-icon-arrow-go-back-fill fr-icon--sm"></span> Réinitialiser les filtres
                </button>
            </div>
            {% if current_order %}
                {% active_sort_label columns current_order as sort_label %}
                {% if sort_label %}
                    <div class="filter-field">
                        <label class="fr-label">
                            Tri
                        </label>
                        <a href="{% querystring order='' %}"
                           class="fr-tag fr-tag--dismiss filter-dropdown-button-active"
                           aria-label="Retirer le tri">
                            {% if current_order|first == "-" %}
                                ↓
                            {% else %}
                                ↑
                            {% endif %}
                            {{ sort_label }}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            {% for filter_name in filter_templates %}
                {% include filter_name %}
            {% endfor %}
        </div>
    </div>
</form>
<script src="{% static "js/projectFilters.js" %}" defer></script>
<script src="{% static 'js/territoireFilter.js' %}" defer></script>
