{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/projet_list_filters.css' %}">
{% endblock extra_css %}

<form method="get"
      action="{{ request.path }}{% querystring %}"
      class="fr-background-alt--blue-france">

    <div class="projets-filters-layout fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
            {% include "includes/_filter_trier_par.html" %}
            {% for filter_name in filter_templates %}
                {% include filter_name %}
            {% endfor %}
        </div>
    </div>
</form>
{% block extra_js %}
    <script nonce="{{ request.csp_nonce }}">
        // Close dropdowns when clicking outside
        document.addEventListener('click', function(event) {
            document.querySelectorAll('.filter-dropdown').forEach(dropdown => {
                if (!dropdown.contains(event.target)) {
                    dropdown.querySelector('.filter-content').style.display = 'none';
                }
            });
        });

        // Toggle dropdowns
        document.querySelectorAll('.filter-dropdown button').forEach(button => {
            button.addEventListener('click', function(event) {
                event.stopPropagation();
                let content = this.nextElementSibling;
                content.style.display = content.style.display === 'grid' ? 'none' : 'grid';
            });
        });

    </script>
{% endblock extra_js %}
