{% extends "base.html" %}

{% load static dsfr_tags gsl_filters %}

{% block content %}
    <h1>
        {% if object %}
            Modification
        {% else %}
            Ajout
        {% endif %}
        d'une sous-enveloppe
    </h1>
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
            {% if object %}
                <p>
                    {{ object }}
                </p>
            {% endif %}
            <form id="enveloppe-form" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="fr-btn">
                    {% if object %}
                        Modifier
                    {% else %}
                        Ajouter
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
