{% extends "base.html" %}

{% load static dsfr_tags gsl_filters %}

{% block content %}
    <h1>
        Ajout d'une sous enveloppe
    </h1>
    <div class="fr-grid-row">
        <div class="fr-col-12 fr-col-md-6">
            <form action="{% url 'gsl_projet:enveloppe-create' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="fr-btn">
                    Ajouter
                </button>
            </form>
        </div>
    </div>
{% endblock content %}
