{% extends "base.html" %}
{% load static dsfr_tags %}

{% block breadcrumb %}
    {% dsfr_breadcrumb breadcrumb_dict %}
{% endblock breadcrumb %}

{% block content %}
    <h1>
        {{ title }}
    </h1>
    <ul class="no-list-style">
        {% for simulation in object_list %}
            <li class="simulation-card">
                {% dsfr_badge label=simulation.enveloppe.type %}
                <h2>
                    {{ simulation.title }}
                </h2>
                <p>
                    {{ simulation.enveloppe.perimetre }}
                </p>
                <p>
                    {% dsfr_badge label="112 projets acceptés" extra_classes="fr-badge--green-menthe" %}
                    {% dsfr_badge label="18 projets refusés" extra_classes="fr-badge--pink-macaron" %}
                    {% dsfr_badge label="5 projets notifiés" extra_classes="fr-badge--blue-cumulus" %}
                </p>
                <a href="{{ simulation.get_absolute_url }}">{{ simulation }}</a>
            </li>
        {% empty %}
            <li>
                Aucune programmation n'est en cours ! Voulez-vous <a href="#todo">en commencer une</a> ?
            </li>
        {% endfor %}
    </ul>
    {% dsfr_pagination page_obj %}

{% endblock content %}
