{% extends "base.html" %}
{% load static dsfr_tags gsl_filters %}

{% block breadcrumb %}
    {% dsfr_breadcrumb breadcrumb_dict %}
{% endblock breadcrumb %}

{% block content %}
    <h1>
        {{ title }}
    </h1>
    <h2>
        Simulation de programmation
    </h2>
    <details class="ahr-todo">
        <summary>
            À faire sur cette page :
        </summary>
        <ul>
            <li>
                Liste de badges sous le titre : 3 projets validés, 18 projets refusés, 5 projets notifiés
            </li>
            <li>
                Synthèse de la simulation : hors scope pour l'instant
            </li>
            <li>
                Bouton modifier
            </li>
            <li>
                Bouton "ajouter des projets au tableau"
            </li>
            <li>
                Rappel de la dotation/des dotations
            </li>
            <li>
                Filtres et tri : reporté à Janvier / à mutualiser avec les filtres des projets ?
            </li>
            <li>
                tableau : colonnes case à cocher pour sélectionner, date de dépôt, intitulé du projet, commune,
                dotation,
                coût total, montant sollicité, montant prévi accordé, taux de subvention, choix de la catégorie, statut,
                modifier ?, lien détail ?
            </li>
        </ul>
    </details>
    <div class="fr-table--lg gsl-projet-table">
        <table>
            <thead>
                <tr>
                    <th>
                        <span class="fr-sr-only">Sélectionner</span>
                    </th>
                    <th>
                        Date de dépôt
                    </th>
                    <th>
                        Intitulé du projet
                    </th>
                    <th>
                        Commune
                    </th>
                    <th>
                        Dotation
                    </th>
                    <th>
                        Coût total du projet
                        <br>
                        <span class="fr-badge">10&nbsp;834&nbsp;000&nbsp;€</span>
                    </th>
                    <th>
                        Montant sollicité
                        <span class="fr-badge">2&nbsp;830&nbsp;000&nbsp;€</span>
                    </th>
                    <th>
                        Montant prévisionnel accordé
                        <span class="fr-badge">930&nbsp;000&nbsp;€</span>
                    </th>
                    <th>
                        Taux de subvention
                    </th>
                    <th>
                        Choix de la catégorie d’opération
                    </th>
                    <th>
                        Statut
                    </th>
                    <th>
                        <span class="fr-sr-only">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for projet in simulations_list %}
                    {% with projet.simu.0 as simu %}
                        <tr>
                            <td>
                                <input type="checkbox"
                                       name="simu[{{ simu.pk }}]"
                                       aria-label="Sélectionner le projet {{ projet.dossier_ds.projet_intitule }}">
                            </td>
                            <td>
                                {{ projet.dossier_ds.ds_date_depot|date:"d/m/Y" }}
                            </td>
                            <td>
                                {{ projet.dossier_ds.projet_intitule }}
                            </td>
                            <td>
                                {{ projet.address.commune.name }}
                            </td>
                            <td>
                                <select>
                                    <option value="DETR">
                                        DETR
                                    </option>
                                    <option value="DSIL">
                                        DSIL
                                    </option>
                                </select>
                            </td>
                            <td class="gsl-money">
                                {{ projet.assiette_or_cout_total|floatformat:"2g"|default:"—" }}&nbsp;€
                                <br>
                                &nbsp;
                            </td>
                            <td class="gsl-money">
                                {{ projet.dossier_ds.demande_montant|floatformat:"2g"|default:"—" }}&nbsp;€
                                <br>
                                {{ projet.get_taux_de_subvention_sollicite|percent }}
                            </td>
                            <td class="gsl-money">
                                <input type="text" class="fr-input" value="{{ simu.montant }}">
                            </td>
                            <td class="gsl-money">
                                <input type="text"
                                       inputmode="numeric"
                                       class="fr-input"
                                       value="{{ simu.taux }}">
                            </td>
                            <td>
                                <select class="fr-select" name="" id="">
                                    <option value="">
                                        {{ projet.categorie_doperation.first }}
                                    </option>
                                </select>
                            </td>
                            <td>
                                <span class="status-{{ simu.status }}">{{ simu.get_status_display }}</span>
                            </td>
                            <td class="fr-cell--right gsl-nowrap">
                                <a class="fr-btn--tertiary-no-outline gsl-no-underline"
                                   href="{{ projet.get_absolute_url }}">
                                    <span class="fr-sr-only">Modifier le projet {{ projet.dossier_ds.ds_number }}</span>
                                    <span class="fr-icon-edit-fill" aria-hidden="true"></span>
                                </a>
                                <a class="fr-btn--tertiary-no-outline gsl-no-underline"
                                   href="{{ projet.get_absolute_url }}">
                                    <span class="fr-sr-only">Voir le projet {{ projet.dossier_ds.ds_number }}</span>
                                    <span class="fr-icon-arrow-right-s-line" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    {% endwith %}
                {% empty %}
                    <tr>
                        <td colspan="12">
                            Liste vide.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% dsfr_pagination simulations_paginator %}

{% endblock content %}
