{% extends "base.html" %}
{% load static dsfr_tags gsl_filters %}

{% block breadcrumb %}
    {% dsfr_breadcrumb breadcrumb_dict %}
{% endblock breadcrumb %}

{% block content %}
    <h1>
        {{ title }}
    </h1>
    {% include "includes/_status_summary.html" with status_summary=status_summary %}
    {% include "includes/_enveloppe_summary.html" with enveloppe=enveloppe %}

    <details class="ahr-todo">
        <summary>
            À faire sur cette page :
        </summary>
        <ul>
            <li class='ahr-todo__check'>
                Liste de badges sous le titre : 3 projets validés, 18 projets refusés, 5 projets notifiés
            </li>
            <li>
                Synthèse de la simulation : hors scope pour l'instant
            </li>
            <li>
                Bouton modifier
            </li>
            <li>
                Bouton "ajouter des projets au tableau"
            </li>
            <li>
                Rappel de la dotation/des dotations
            </li>
            <li class='ahr-todo__check'>
                tableau : colonnes case à cocher pour sélectionner, date de dépôt, intitulé du projet, commune,
                dotation,
                coût total, montant sollicité, montant prévi accordé, taux de subvention, choix de la catégorie, statut,
                modifier ?, lien détail ?
            </li>
            <li class='ahr-todo__check'>
                Lorsqu'on modifie le champ montant prévisionnel accordé, l'info est enregistrée et le taux est bien recalculé
            </li>
            <li class='ahr-todo__check'>
                Lorsqu'on modifie le champ taux de subvention, l'info est enregistrée et le champ montant prévisionnel est bien recalculé
            </li>
        </ul>
    </details>
    {% include "gsl_projet/includes/_projet_list_filters.html" %}
    <div class="fr-table--lg gsl-projet-table">
        <table>
            <thead>
                <tr>
                    <th>
                        <span class="fr-sr-only">Sélectionner</span>
                    </th>
                    <th>
                        Date de dépôt
                    </th>
                    <th class="max_180_width">
                        Intitulé du projet
                    </th>
                    <th>
                        Commune
                    </th>
                    <th>
                        Dotation
                    </th>
                    <th class="max_80_width">
                        Coût total du projet
                        <br>
                        <span class="gsl_projet_table__total gsl-money gsl-projet-table__total-cost">{{ total_cost | euro }}</span>
                    </th>
                    <th class="max_80_width">
                        Montant sollicité
                        <br>
                        <span class="gsl_projet_table__total gsl-projet-table__total-asked">{{ total_amount_asked | euro }}</span>
                    </th>
                    <th class="max_80_width">
                        Montant prévisionnel accordé
                        <br>
                        <span class="gsl_projet_table__total gsl-projet-table__total-granted"
                              id="total-amount-granted">{{ total_amount_granted | euro }}</span>
                    </th>
                    <th class="max_80_width">
                        Taux de subvention
                    </th>
                    <th>
                        Choix de la catégorie d’opération
                    </th>
                    <th class="max_180_width">
                        Statut
                    </th>
                    <th>
                        <span class="fr-sr-only">Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for projet in simulations_list %}
                    {% with projet.simu.0 as simu %}
                        {% include "includes/_simulation_detail_row.html" with simu=simu projet=projet %}
                    {% endwith %}
                {% empty %}
                    <tr>
                        <td colspan="12">
                            Liste vide.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% dsfr_pagination simulations_paginator %}

{% endblock content %}
