
<div class="form-disabled-before-value-change">
    {% csrf_token %}
    <div class="fr-callout fr-background-alt--blue-france fr-py-2w fr-px-2w">
        {% for field in projet_form %}
            {% if field.name != "dotations" and field.name != "is_budget_vert" %}
                {% if field.name == "autre_zonage_local" or field.name == "contrat_local" %}
                    <div class="fr-fieldset__element hidden" id="{{ field.name }}-wrapper">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="fr-messages-group">
                                {% for error in field.errors %}
                                    <p class="fr-message fr-message--error">
                                        {{ error }}
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% include "includes/forms/_boolean_field.html" with field=field %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <button class="fr-btn" type="submit" form="projet_form" disabled>
        Enregistrer
    </button>
</div>
