<div class="form-disabled-before-value-change fr-mb-2w">
    {% csrf_token %}
    <div class="gsl-dropdown fr-callout fr-background-alt--blue-france fr-py-2w fr-pl-3w">
        <div class="fr-mb-2w">
            <p class="fr-mb-2w" id="detr_categories_form_title">
                <b>
                    Modifier la/les catégorie(s)
                </b>
            </p>

            {{ dotation_projet_form.detr_categories.label_tag }}
            <button type="button"
                    class="fr-select"
                    id="categorie-detr-select-button"
                    aria-haspopup="group"
                    aria-expanded="false"
                    aria-controls="categorie-detr-select">
                Sélectionner une/des catégorie(s)
            </button>
            <div id="categorie-detr-select"
                 class="gsl-dropdown-content categories-detr-dropdown"
                 role="group"
                 aria-describedby="detr_categories_form_title">
                {% for checkbox in dotation_projet_form.detr_categories %}
                    <div class="fr-checkbox-group fr-checkbox-group--sm">
                        {{ checkbox.tag }}
                        <label for="{{ checkbox.id_for_label }}" class="fr-label">
                            {{ checkbox.choice_label }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            {% if dotation_projet_form.errors.detr_categories %}
                <div class="fr-messages-group">
                    {% for err in dotation_projet_form.errors.detr_categories %}
                        <p class="fr-message fr-message--error">
                            {{ err }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    <button class="fr-btn" type="submit" form='dotation_projet_form' disabled>
        Enregistrer
    </button>
</div>
