<form method="POST"
      class="form-disabled-before-value-change fr-mb-2w"
      action="{% url 'simulation:patch-is-budget-vert-simulation-projet' simu.id %}">
    {% csrf_token %}
    <div class="fr-callout fr-background-alt--blue-france fr-py-2w fr-pl-3w">
        <label for="is_budget_vert" class="fr-label">
            Transition écologique
        </label>
        <select name="is_budget_vert" id="is-budget-vert" class="fr-select">
            <option value='None'
                    {% if simu.projet.is_budget_vert is None %}selected{% endif %}>
                Non renseigné
            </option>
            <option value='True' {% if simu.projet.is_budget_vert %}selected{% endif %}>
                Oui
            </option>
            <option value='False'
                    {% if simu.projet.is_budget_vert is False %}selected{% endif %}>
                Non
            </option>
        </select>
    </div>
    <button class="fr-btn"
            id="submit-is-in-qpv-and-is-attached-to-a-crte"
            type="submit"
            disabled
            data-is-in-qpv="{{ simu.projet.is_in_qpv }}"
            data-is-attached-to-a-crte="{{ simu.projet.is_attached_to_a_crte }}">
        Enregistrer
    </button>
</form>
