
<form method="POST" class="form-disabled-before-value-change">
    {% csrf_token %}
    <div class="fr-callout fr-background-alt--blue-france fr-py-2w fr-px-2w">
        <div class="fr-fieldset__element">
            <div class="fr-checkbox-group">
                {{ projet_form.is_in_qpv }}
                {{ projet_form.is_in_qpv.label_tag }}
            </div>
        </div>

        <div class="fr-fieldset__element fr-mb-0">
            <div class="fr-checkbox-group">
                {{ projet_form.is_attached_to_a_crte }}
                {{ projet_form.is_attached_to_a_crte.label_tag }}
            </div>
        </div>
    </div>
    <button class="fr-btn" type="submit" disabled>
        Enregistrer
    </button>
</form>
