<form action="{% url 'simulation:patch-simulation-projet-status' simu.id %}"
      method="POST"
      id='status-form'>
    {% csrf_token %}
    <fieldset class="fr-fieldset fr-mb-0">
        <legend class="fr-sr-only">
            Décision de financement du projet
        </legend>

        {% include "includes/_status_radio_button.html" with status_value="provisionally_accepted" status_label="Accepté provisoirement" icon="fr-icon-check-line" %}
        {% include "includes/_status_radio_button.html" with status_value="provisionally_refused" status_label="Refusé provisoirement" icon="fr-icon-close-line" %}
        <div class="separator" aria-hidden="true">
        </div>
        {% include "includes/_status_radio_button.html" with status_value="valid" status_label="Accepté" icon="fr-icon-checkbox-circle-line" %}
        {% include "includes/_status_radio_button.html" with status_value="cancelled" status_label="Refusé" icon="fr-icon-close-line" %}
        {% include "includes/_status_radio_button.html" with status_value="dismissed" status_label="Classé sans suite" icon="fr-icon-subtract-line" %}
        <div class="separator" aria-hidden="true">
        </div>
        {% include "includes/_status_radio_button.html" with status_value="draft" status_label="En traitement" icon="fr-icon-draft-line" %}
    </fieldset>
    <input type="submit" hidden />
</form>
