{% load static i18n dsfr_tags gsl_filters %}
<!DOCTYPE html>
<html lang="{% block lang %} {% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }} {% endblock lang %}"
      data-fr-scheme="system"
      {% if SITE_CONFIG.mourning %}data-fr-mourning{% endif %}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        {% dsfr_css %}
        {% dsfr_favicon %}

        <link rel="stylesheet" href="{% static "css/gsl.css" %}">
        <link rel="stylesheet" href="{% static "css/messages.css" %}">
        {% block extra_css %}
        {% endblock extra_css %}

        {% block title %}
            <title>
                {% if title %}
                    {{ title }} — Gestion des Subventions Locales
                {% else %}
                    Gestion des Subventions Locales
                {% endif %}
            </title>
        {% endblock title %}

        {% block meta_description %}
            <meta name="description"
                  content="La plateforme Gestion des Subventions Locales (GSL) est un outil numérique qui permet aux services des préfectures françaises de gérer les subventions locales.">
        {% endblock meta_description %}

        {% block meta_keywords %}
            <meta name="keywords"
                  content="GSL, subventions, locales, préfectures, gestion, numérique, turgot">
        {% endblock meta_keywords %}

        <meta name="format-detection"
              content="telephone=no,date=no,address=no,email=no,url=no">

        {% block opengraph %}
        {% endblock opengraph %}

        {% block importmap %}
            <script type="importmap" nonce="{{ request.csp_nonce }}">
            {
                "imports": {
                    "stimulus": "/static/vendor/stimulus.js",
                    "tiptapEditor": "/static/ui/controllers/tiptapEditor.js",
                    "modal": "/static/ui/controllers/modal.js",
                    "doubleDotation": "/static/js/controllers/doubleDotation.js",
                    "modeleArreteForm": "/static/js/modeleArreteForm.js",
                    "deleteNotificationDocumentModal": "/static/js/deleteNotificationDocumentModal.js",
                    "chooseDocumentType": "/static/js/chooseDocumentType.js"
                }
            }
            </script>
        {% endblock importmap %}
        <script type="module" src="{% static 'vendor/htmx.esm.js' %}"></script>
        <meta name="htmx-config"
              content='{"includeIndicatorStyles":false,"allowScriptTags":false,"allowEval":false}'>

        {% if ENV == "prod" %}
            <script src="{% static "js/matomo.js" %}" nonce="{{request.csp_nonce}}" defer></script>
        {% endif %}

        {% block extra_head_js %}
        {% endblock extra_head_js %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block skiplinks %}
            {% dsfr_skiplinks skiplinks %}
        {% endblock skiplinks %}

        {% block header %}
            {% include "blocks/header.html" %}
        {% endblock header %}

        {% dsfr_theme_modale %}

        {% if SITE_CONFIG.notice_title or SITE_CONFIG.notice_description %}
            {% dsfr_notice title=SITE_CONFIG.notice_title description=SITE_CONFIG.notice_description link=SITE_CONFIG.notice_link type=SITE_CONFIG.notice_type icon=SITE_CONFIG.notice_icon_class is_collapsible=SITE_CONFIG.notice_is_collapsible %}
        {% endif %}

        {% block messages %}
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message--{{ message.extra_tags }}">
                            {% with message|create_alert_data as data_dict %}
                                {% dsfr_notice data_dict %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock messages %}

        <div class="fr-container fr-mt-4w fr-mb-6w">
            {% block breadcrumb %}
                {% include "blocks/breadcrumb.html" %}
            {% endblock breadcrumb %}
            <main id="content" role="main">
                {% block content %}
                {% endblock content %}
            </main>
        </div>

        {% block follow_newsletter_social_media %}
        {% endblock follow_newsletter_social_media %}

        {% block footer %}
            {% include "blocks/footer.html" %}
        {% endblock footer %}

        {% dsfr_js nonce=request.csp_nonce %}

        {% block modal %}
        {% endblock modal %}

        <script src="{% static "js/gsl.js" %}" defer></script>
        <script type="module" nonce="{{ request.csp_nonce }}">
            import { Application } from "stimulus"
            import { DoubleDotation } from "doubleDotation"
            import { Modal } from "modal"
            import { TipTapEditor } from "tiptapEditor"
            import { ModeleArreteForm } from "modeleArreteForm"
            import { DeleteNotificationDocumentModal } from "deleteNotificationDocumentModal"
            import { ChooseDocumentType } from "chooseDocumentType"

            window.Stimulus = Application.start()

            Stimulus.register("double-dotation", DoubleDotation)
            Stimulus.register("modal", Modal)
            Stimulus.register("tiptap-editor", TipTapEditor)
            Stimulus.register("modele-arrete-form", ModeleArreteForm)
            Stimulus.register("delete-notification-document-modal", DeleteNotificationDocumentModal)
            Stimulus.register("choose-document-type", ChooseDocumentType)
        </script>

        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
