{% extends "dsfr/base.html" %}
{% load static i18n %}

{% block header %}
    {% include "blocks/header.html" %}
{% endblock header %}

{% block breadcrumb %}
    {# no dsfr_breadcrumb by default #}
{% endblock breadcrumb %}

{% block footer %}
    {% include "blocks/footer.html" %}
{% endblock footer %}

{% block extra_js %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
{% endblock extra_js %}

{% block lang %}
    {% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}
{% endblock lang %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/gsl.css" %}">
{% endblock extra_css %}
