{% extends "base.html" %}
{% load static dsfr_tags gsl_filters %}

{% block content %}
    <h1>
        Liste des projets
    </h1>

    <a href="{% url 'gsl_simulation:simulation-form' %}"
       class="fr-btn fr-mb-4w">Effectuer une simulation</a>
    <a href="{% url 'gsl_simulation:simulation-list' %}"
       class="fr-btn fr-btn--secondary fr-mb-4w">Voir les simulations</a>

    <h4>
        Enveloppes de dotations
    </h4>

    {% include "includes/_enveloppe_summary.html" %}

    {% include "includes/_projet_list_filters.html" %}

    {% include "includes/_projets_table.html" %}

    <div class="fr-table__footer">
        <div class="fr-table__footer--middle">
            {% dsfr_pagination page_obj %}
        </div>
    </div>

{% endblock content %}
