{% extends "base.html" %}
{% load static ui_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/projet_detail.css" %}">
{% endblock extra_css %}

{% block content %}
    <div class="fr-container--fluid">
        <div class="fr-grid-row">
            <div class="fr-col">
                <div class="fr-mb-4w">
                    {% if go_back_link and "/simulation/" in go_back_link %}
                        <a href="{{ go_back_link }}"
                           class="fr-btn fr-btn--icon-left fr-icon-arrow-left-s-line fr-btn--tertiary">
                            Retour à la simulation
                        </a>
                    {% elif go_back_link and "/programmation/" in go_back_link %}
                        <a href="{{ go_back_link }}"
                           class="fr-btn fr-btn--icon-left fr-icon-arrow-left-s-line fr-btn--tertiary">
                            Retour à la liste des projets programmés
                        </a>
                    {% else %}
                        <a href="{% url "projet:list" %}{% querystring %}"
                           class="fr-btn fr-btn--icon-left fr-icon-arrow-left-s-line fr-btn--tertiary">
                            Retour à la liste des projets
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if dossier and not dossier.is_active %}
        <div class="fr-alert fr-alert--info fr-mb-4w">
            <h3 class="fr-alert__title">
                Dossier {{ dossier.get_raison_desactivation_display|lower }}
            </h3>
            <p>
                Ce dossier n'est plus actif sur Démarches Simplifiées et n'apparaît pas dans la liste des projets.
                {% if dossier.url_on_ds %}
                    <a href="{{ dossier.url_on_ds }}"
                       target="_blank"
                       rel="noopener noreferrer">Voir sur Démarches Simplifiées</a>
                {% endif %}
            </p>
            <button title="Masquer le message"
                    onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)"
                    type="button"
                    class="fr-btn--close fr-btn">
                Masquer le message
            </button>
        </div>
    {% endif %}
    <h1>
        {{ dossier.projet_intitule|lower|capfirst }}
    </h1>
    <div class="projet-header__status">
        {% for dotation_projet in dotation_projets %}
            {% ui_status_badge type=dotation_projet.status dotation=dotation_projet.dotation %}
        {% endfor %}
        {% if projet.dossier_ds.demande_numero_demande_precedente %}
            {% ui_status_badge type="reported" %}
        {% endif %}
    </div>

    <ul class="fr-btns-group--right fr-btns-group--inline fr-mt-3w fr-mb-3w">
        {% if projet.notified_at %}
            <li class="fr-mb-2w">
                <button class="fr-btn fr-btn--secondary"
                        hx-get="{% url 'gsl_projet:revert-to-processing' projet_id=projet.id %}"
                        hx-swap="outerHTML">
                    Repasser en traitement
                </button>
            </li>
        {% endif %}
        {% if dossier.ds_number %}
            <li>
                <a href="{{ dossier.url_on_ds }}"
                   target="_blank"
                   rel="noreferrer noopener"
                   title="Voir le dossier sur Démarche Numérique - nouvelle fenêtre"
                   class="fr-btn fr-btn--icon-right fr-icon-external-link-line fr-btn--secondary">
                    Voir le dossier sur Démarche Numérique
                    <span class="fr-sr-only">(nouvelle fenêtre)</span>
                </a>
            </li>
            <li>
                <form action="{% url "ds:refresh-one-dossier" dossier.ds_number %}"
                      method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    {# la maquette disait fr-icon-arrow-left-right-line mais on ne l’a pas dans notre DSFR ? #}
                    <button type="submit"
                            class="fr-btn fr-btn--icon-right fr-icon-refresh-line"
                            aria-describedby="info-refresh-from-ds">
                        Actualiser depuis DN
                    </button>
                    <span class="fr-tooltip fr-placement"
                          id="info-refresh-from-ds"
                          role="tooltip">
                        Rafraîchir le dossier sur Turgot à partir des données
                        provenant de Démarche Numérique
                    </span>
                </form>
            </li>
        {% endif %}
        {% comment %}
        <li>
            <a href="@todo" class="fr-btn fr-btn--icon-right fr-icon-article-line fr-btn--secondary">
                Exporter une synthèse du projet PDF
            </a>
        </li>
        {% endcomment %}
    </ul>

    {% if dossier.has_missing_annotations %}
        <div role="alert" class="fr-alert fr-alert--error fr-mb-4w">
            <p class="fr-alert__title">
                Annotations manquantes
            </p>
            {% with dossier.url_on_ds|add:"/annotations-privees" as annotations_url %}
                <p>
                    Le projet est accepté sur DN mais les annotations sont manquantes. Nous ne pouvons pas mettre correctement à jour le projet. Veuillez renseigner les annotations manquantes <a href="{{ annotations_url }}"
    target="_blank"
    rel="noreferrer noopener">directement sur DN</a>.
                </p>
            {% endwith %}
        </div>
    {% endif %}

    {% include "gsl_projet/projet/tabs.html" %}
    <div id="projet-panel" class="fake-tab-panel" role="tabpanel" tabindex="0">
        {% block tab_projet %}
            {% include "gsl_projet/projet/tab_projet.html" %}
        {% endblock tab_projet %}
    </div>
{% endblock content %}

{% block modal %}
    {% ui_confirmation_modal modal_id="dotation-confirmation-modal-content" title="Modification de la dotation" icon="fr-icon-arrow-right-line" text="Ce projet sera aussi affiché dans les simulations DSIL." action_text="Je confirme" form="projet-form" is_title_red=False %}
{% endblock modal %}
