{% extends "base.html" %}
{% load static gsl_filters %}

{% block content %}
    {% block go_back_button %}
        <div class="fr-mb-4w">
            <a href="{% url "projet:list" %}"
               class="fr-btn fr-btn--icon-left fr-icon-arrow-left-s-line fr-btn--tertiary">
                Retour à la liste des projets
            </a>
        </div>
    {% endblock go_back_button %}
    <h1>
        {% block status_badge %}
            <span class="fr-badge fr-text--xl gsl-pull-right fr-mt-2v fr-ml-5w badge-projet-status__{{ projet.status }}">{{ projet.status|get_projet_status_display|remove_first_word }}</span>
        {% endblock status_badge %}
        {{ dossier.projet_intitule|lower|capfirst }}
    </h1>

    <ul class="fr-btns-group--right fr-btns-group--inline fr-mt-6w fr-mb-5w">
        <li>
            <a href="{{ dossier.url_on_ds }}"
               target="_blank"
               rel="noreferrer noopener"
               class="fr-btn fr-btn--icon-right fr-icon-external-link-line">
                Voir le dossier sur Démarches Simplifiées
                <span class="fr-sr-only">(nouvelle fenêtre)</span>
            </a>
        </li>
        {% comment %}
        <li>
            <a href="@todo" class="fr-btn fr-btn--icon-right fr-icon-article-line fr-btn--secondary">
                Exporter une synthèse du projet PDF
            </a>
        </li>
        {% endcomment %}
    </ul>

    {% block tabs_list %}
        {% include "gsl_projet/projet/tabs.html" %}
    {% endblock tabs_list %}
    <div id="projet-panel" class="fake-tab-panel" role="tabpanel" tabindex="0">
        {% block tab_projet %}
            {% include "gsl_projet/projet/tab_projet.html" %}
        {% endblock tab_projet %}
    </div>
{% endblock content %}
