{% load gsl_filters %}

<tr class="{% if level == 2 %}sous-enveloppe{% else %}fr-text--bold{% endif %}">
    <td>
        {% if enveloppe.is_deleguee %}
            <div class="sub">
            </div>
        {% endif %}
        <b>{{ enveloppe.dotation }}</b>
    </td>
    <td>
        {{ enveloppe.perimetre.type }}
    </td>
    <td>
        {{ enveloppe.perimetre.entity_name }}
    </td>
    <td>
        {{ enveloppe.montant | euro }}
    </td>
    <td class="color-green-archipel">
        {{ enveloppe.montant_asked | euro }}
    </td>
    <td class="color-green-bourgeon">
        {{ enveloppe.accepted_montant | euro }}
    </td>
    <td class="color-success fr-text--sm">
        {{ enveloppe.validated_projets_count }}
    </td>
    <td class="color-error fr-text--sm">
        {{ enveloppe.refused_projets_count }}
    </td>
    <td class="color-blue fr-text--sm">
        {{ enveloppe.demandeurs_count }}
    </td>
    <td class="color-blue fr-text--sm">
        {{ enveloppe.projets_count }}
    </td>
    <td class="fr-text--sm">
        {% if enveloppe.is_deleguee %}
            <div class="fr-nav fr-translate">
                <div class="fr-nav__item">
                    <button class="fr-btn fr-btn--sm fr-btn--tertiary-no-outline fr-icon-more-line"
                            aria-controls="enveloppe-menu-{{ enveloppe.id }}"
                            aria-expanded="false"
                            aria-label="Modifier ou supprimer">
                    </button>
                    <div class="fr-menu fr-collapse" id="enveloppe-menu-{{ enveloppe.id }}">
                        <ul class="fr-menu__list">
                            <li>
                                <a class="fr-nav__link fr-icon-settings-5-fill fr-icon--sm"
                                   href="{% url 'gsl_projet:enveloppe-update' enveloppe.id %}">Modifier</a>
                            </li>
                            <li>
                                <button class="fr-nav__link fr-icon-delete-bin-fill fr-icon--sm"
                                        aria-controls="enveloppe-delete-modal-{{ enveloppe.id }}"
                                        type="button"
                                        data-fr-opened="false">
                                    Supprimer
                                </button>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <form method="post"
                  action="{% url 'gsl_projet:enveloppe-delete' enveloppe.id %}">
                {% csrf_token %}
                <dialog id="enveloppe-delete-modal-{{ enveloppe.id }}"
                        class="fr-modal confirmation-modal fr-text--regular">
                    <div class="fr-container fr-container--fluid fr-container-md">
                        <div class="fr-grid-row fr-grid-row--center">
                            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6 confirmation-modal-container">
                                <div class="fr-modal__body">
                                    <div class="fr-modal__header">
                                        <button aria-controls="enveloppe-delete-modal-{{ enveloppe.id }}"
                                                title="Fermer"
                                                type="button"
                                                class="fr-btn--close fr-btn close-modal">
                                            Fermer
                                        </button>
                                    </div>
                                    <div class="fr-modal__content">
                                        <h1 class="fr-modal__title ">
                                            <span class="fr-icon-delete-fill fr-icon--lg" aria-hidden="true"></span>
                                            <span class="modal-title">Suppression d'une sous-enveloppe {{ enveloppe.dotation }}</span>
                                        </h1>
                                        <p class="modal-body">
                                            Souhaitez-vous supprimer la sous-enveloppe de
                                            dotation {{ enveloppe.dotation }}
                                            pour {{ enveloppe.perimetre }}&nbsp;?
                                        </p>
                                    </div>
                                    <div class="fr-modal__footer confirmation-modal-footer">
                                        <button class="fr-btn fr-btn--secondary close-modal"
                                                aria-controls="enveloppe-delete-modal-{{ enveloppe.id }}">
                                            Annuler
                                        </button>

                                        <button class="fr-btn fr-btn--primary confirm">
                                            Confirmer
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </dialog>
            </form>
        {% endif %}
    </td>
</tr>
