{% load gsl_filters %}

<tr>
    <td>
        <b>{{ enveloppe.dotation }}</b>
    </td>
    <td>
        {{ enveloppe.perimetre.type }}
    </td>
    <td>
        {{ enveloppe.perimetre.entity_name }}
    </td>
    <td>
        {{ enveloppe.montant | euro }}
    </td>
    <td class="color-green-archipel">
        {{ enveloppe.montant_asked | euro }}
    </td>
    <td class="color-green-bourgeon">
        {{ enveloppe.accepted_montant | euro }}
    </td>
    <td class="color-success fr-text--sm">
        {{ enveloppe.validated_projets_count }}
    </td>
    <td class="color-error fr-text--sm">
        {{ enveloppe.refused_projets_count }}
    </td>
    <td class="color-blue fr-text--sm">
        {{ enveloppe.demandeurs_count }}
    </td>
    <td class="color-blue fr-text--sm">
        {{ enveloppe.projets_count }}
    </td>
</tr>
