{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/enveloppe_summary.css' %}">
{% endblock extra_css %}

<div class="fr-table--lg enveloppe-summary">
    <table>
        <thead>
            <tr>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-mail-fill fr-icon--sm icon"></span>
                        </div>
                        <div class="text">
                            Dotation
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-road-map-fill fr-icon--sm"></span>
                        </div>
                        <div class="text">
                            Territoire
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-map-pin-2-fill fr-icon--sm"></span>
                        </div>
                        <div class="text">
                            Nom territoire
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-coin-fill fr-icon--sm"></span>
                        </div>
                        <div class="text min-width-90">
                            Enveloppe de dotation
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-coin-fill fr-icon--sm"></span>
                        </div>
                        Montant total demandé
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-money-euro-circle-fill fr-icon--sm"></span>
                        </div>
                        <div class="text">
                            Montant accepté
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-success-fill fr-icon--sm color-icon-success"></span>
                        </div>
                        <div class="text">
                            Projets acceptés
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-close-circle-fill fr-icon--sm color-icon-error"></span>
                        </div>
                        <div class="text">
                            Projets refusés
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-folder-2-fill fr-icon--sm"></span>
                        </div>
                        <div class="text">
                            Demandeurs
                        </div>
                    </div>
                </th>
                <th>
                    <div>
                        <div class="icon">
                            <span class="fr-icon-folder-2-fill fr-icon--sm"></span>
                        </div>
                        <div class="text">
                            Projets déposés
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for enveloppe in enveloppes %}
                {% include "includes/_enveloppe_summary_line.html" %}
            {% empty %}
                {% include "includes/_enveloppe_summary_line.html" %}
            {% endfor %}
        </tbody>
    </table>
</div>
