{% extends "gsl_projet/projet/tab_projet.html" %}
{% load gsl_filters %}

{% block status_action %}
    <div class="fr-callout fr-background-alt--blue-france callout-without-left-border fr-container fr-pb-2w fr-pt-3w fr-px-3w fr-m-0">
        <div class='status_action_header'>
            <h2 class="fr-callout__title">
                <i class="fr-icon-coin-fill blue-color" aria-hidden="true"></i>
                Décision de financement du projet
            </h2>
            {% if projet.to_notify %}
                <span class="fr-text--xl projet__to_notify">À notifier <span class="fr-icon-mail-fill"></span></span>
            {% elif projet.notified_at %}
                <span class="fr-text--xl projet__to_notify blue-color">Notifié <span class="fr-icon-checkbox-fill"></span></span>
            {% else %}
                <b><em>En attente de la décision {{ projet.dotation_not_treated }}.</em></b>
            {% endif %}
        </div>

        {% if projet.to_notify %}
            <button class="fr-mt-0 fr-btn fr-btn--icon-left fr-icon-mail-line"
                    id="to_notify_button"
                    type="button"
                    hx-get="{% url 'gsl_notification:check-ds-dossier-up-to-date' projet.id %}"
                    hx-swap="outerHTML">
                Notifier le demandeur
            </button>
        {% endif %}
    </div>
{% endblock status_action %}
