{% load dsfr_tags %}
{% load static gsl_filters %}
<div class="fr-callout fr-background-alt--blue-france">
    <h2 class="fr-callout__title fr-mb-3w">
        Informations sur le projet
    </h2>
    <div class="fr-callout__text">
        <ul class="no-list-style">
            <li>
                <b><span class="blue-color">Numéro de dossier (Démarches Simplifiées)</span> : {{ dossier.ds_number }}</b>
            </li>
            <li>
                <span aria-hidden="true">📍</span> Département : {{ projet.perimetre.departement.name|default:"-" }}
            </li>
            <li>
                <span aria-hidden="true">📍</span> Arrondissement : {{ projet.perimetre.arrondissement.name|default:"-" }}
            </li>
            <li>
                <span aria-hidden="true">📆</span> Date de dépôt : {{ dossier.ds_date_depot|date }}
            </li>
            <li>
                <span aria-hidden="true">📆</span> Date de modification Démarches Simplifiées : {{ dossier.ds_date_derniere_modification|date }}
            </li>
        </ul>
        <h6>
            Financements :
        </h6>

        {% if projet.dotationprojet_set.all|length > 1 %}
            <ul class="no-list-style">
                {% include "includes/projet_detail/_projet_financial_informations.html" %}
            </ul>
            {% for dotation_projet in projet.dotationprojet_set.all %}
                <p>
                    <b>{{ dotation_projet.dotation }}</b>
                </p>
                <ul class="no-list-style">
                    {% include "includes/projet_detail/_dotation_projet_financial_informations.html" %}
                </ul>
            {% endfor %}
        {% else %}
            <ul class="no-list-style">
                {% include "includes/projet_detail/_projet_financial_informations.html" %}
                {% include "includes/projet_detail/_dotation_projet_financial_informations.html" with dotation_projet=projet.dotationprojet_set.first %}
            </ul>
        {% endif %}
    </div>
</div>

{% block form_for_simulation_projet %}
{% endblock form_for_simulation_projet %}

{% block detr_avis_commission %}
    {% if projet.is_asking_for_detr %}
        <div class="fr-callout fr-background-alt--blue-france callout-without-left-border block-avis-commission-detr fr-p-2w">
            <h2 class="fr-callout__title fr-text--lg">
                <span class="fr-icon fr-icon-team-fill blue-color fr-mr-3v"
                      aria-hidden="true"></span>Avis de la commission DETR
            </h2>
            <p class="fr-callout__text">
                {% if projet.detr_avis_commission %}
                    <span class="fr-icon-chat-check-fill green-color" aria-hidden="true"></span> Oui
                {% elif projet.detr_avis_commission is False %}
                    <span class="fr-icon-chat-delete-fill red-color" aria-hidden="true"></span> Non
                {% else %}
                    <span class="fr-icon-message-2-fill grey-color" aria-hidden="true"></span> En cours
                {% endif %}
            </p>
        </div>
    {% endif %}
{% endblock detr_avis_commission %}

{% block status_action %}
{% endblock status_action %}

<div class="fr-container fr-mt-2w">
    <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center gsl-projet-container">
        <div class="fr-col-4 gsl-projet-menu">
            <div class="sticky-menu">
                {% dsfr_sidemenu menu_dict %}
            </div>
        </div>
        <div class="fr-col gsl-projet">
            <section>
                <h3 id="porteur_de_projet">
                    <i class="fr-icon-user-fill blue-color" aria-hidden="true"></i>
                    1 - Porteur de projet
                </h3>
                <ul>
                    <li>
                        <b>Nature du porteur de projet</b> : {{ dossier.porteur_de_projet_nature }}
                    </li>
                    <li>
                        <b>Département et arrondissement :</b> {{ dossier.porteur_de_projet_arrondissement }}
                    </li>
                    <li>
                        <b>La maîtrise d’ouvrage de l’opération sera-t-elle déléguée ?</b> {{ dossier.maitrise_douvrage_deleguee|yesno:"Oui,Non,Non renseigné" }}
                    </li>
                </ul>
            </section>
            <section>
                <h3>
                    <i class="fr-icon-article-fill blue-color" aria-hidden="true"></i>
                    2 - Présentation de l’opération
                </h3>
                <h4 id="presentation_projet">
                    Projet
                </h4>
                <ul>
                    <li>
                        <b>Intitulé :</b> {{ dossier.projet_intitule }}
                    </li>
                    <li>
                        <b>Adresse principale :</b> {{ dossier.projet_adresse }}
                    </li>
                    <li>
                        <b>Code INSEE :</b> {{ dossier.projet_adresse.commune.insee_code|default:"—" }}
                    </li>
                    <li>
                        <b>Département :</b> {{ dossier.projet_adresse.commune.departement|default:"—" }}
                    </li>
                    {# <li><b>Délibération du conseil municipal ou de l’organe délibérant de l’EPCI :</b> todo </li>#}
                    {# <li><b>Document de présentation du projet :</b> </li>#}
                </ul>
                <h4 id="presentation_dates">
                    Dates
                </h4>
                <ul>
                    <li>
                        Début des travaux : {{ dossier.date_debut }}
                    </li>
                    <li>
                        Achèvement : {{ dossier.date_achevement }}
                    </li>
                </ul>
                <h4 id="presentation_details_proj">
                    Détails du projet
                </h4>
                <ul>
                    <li>
                        Acquisitions immobilières au sein du projet
                        : {{ dossier.projet_immo|yesno:"Oui,Non,Non renseigné" }}
                    </li>
                    <li>
                        Travaux au sein du projet : {{ dossier.projet_travaux|yesno:"Oui,Non,Non renseigné" }}
                    </li>
                </ul>
                {% if dossier.projet_zonage.count > 0 or projet.is_in_qpv %}
                    <div class="fr-highlight fr-highlight--beige-gris-galet fr-ml-0 fr-mb-4w">
                        <h5 class="fr-text--md fr-mb-1v">
                            Zonage spécifique :
                        </h5>
                        <ul>
                            {% for zone in dossier.projet_zonage.all %}
                                <li>
                                    {{ zone }}
                                </li>
                            {% endfor %}
                            {% if projet.is_in_qpv %}
                                <li>
                                    Projet situé en QPV
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                {% if dossier.projet_contractualisation.count > 0 or projet.is_attached_to_a_crte %}
                    <div class="fr-highlight fr-highlight--beige-gris-galet fr-ml-0">
                        <h5 class="fr-text--md fr-mb-1v">
                            Contractualisation avec l’État :
                        </h5>
                        <ul>
                            {% for contrat in dossier.projet_contractualisation.all %}
                                <li>
                                    {{ contrat }}
                                </li>
                            {% endfor %}
                            {% if projet.is_attached_to_a_crte %}
                                <li>
                                    Projet rattaché à un CRTE
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                {% block projet_detail_form %}
                {% endblock projet_detail_form %}

                <h4 id="presentation_transition_eco">
                    Transition écologique
                </h4>
                {% block transition_ecologique_content %}
                    <p>
                        <b>Le projet concourt-il aux enjeux de la transition écologique au sens budget vert : </b>{{ projet.is_budget_vert|yesno:"Oui,Non,Non renseigné" }}
                    </p>
                {% endblock transition_ecologique_content %}
                {% if dossier.environnement_objectifs.count > 0 %}
                    <p>
                        Objectifs environnementaux impactés favorablement
                    </p>
                    <ul>
                        {% for obj in dossier.environnement_objectifs.all %}
                            <li>
                                {{ obj }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {# todo : justification ? #}
                <p>
                    <b>Artificialisation des sols ?</b>
                    {{ dossier.environnement_artif_sols|yesno:"Oui,Non,Non renseigné" }}
                </p>
            </section>
            <section>
                <h3>
                    <i class="fr-icon-money-euro-circle-fill blue-color" aria-hidden="true"></i>
                    3 - Plan de financement prévisionnel
                </h3>

                <h4 id="detail_financement">
                    Détail du financement
                </h4>
                {# todo: justificatif des dépenses prévisionnelles #}
                <p>
                    Le projet va-t-il générer des recettes
                    ? {{ dossier.finance_recettes|yesno:"Oui,Non,Non renseigné" }}
                </p>

                {# todo: plan de financement détaillé #}
                <h4 id="dispositifs_sollicites">
                    Dispositifs de financement sollicités
                </h4>
                <p>
                    <b>Opération présentée dans la campagne DETR/DSIL précédente :</b>
                    {{ dossier.demande_annee_precedente|yesno:"Oui,Non,Non renseigné" }}
                </p>
                <p>
                    <b>Dispositif de financement sollicité :</b>
                    {{ dossier.demande_dispositif_sollicite }}
                </p>
                {% if dossier.demande_dispositif_sollicite == "DSIL" %}
                    <p>
                        <b>Éligibilité de l'opération à la DSIL :</b>
                    </p>
                    <ul>
                        {% for critere in dossier.demande_eligibilite_dsil.all %}
                            <li>
                                {{ critere }}
                            </li>
                        {% endfor %}
                    </ul>
                {% elif dossier.demande_dispositif_sollicite == "DETR" %}
                    <p>
                        <b>Éligibilité de l'opération à la DETR :</b>
                    </p>
                    <ul>
                        {% for critere in dossier.demande_eligibilite_detr.all %}
                            <li>
                                {{ critere }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block dotations_form %}
                {% endblock dotations_form %}

                <h4 id="couts_financement">
                    Coûts de financement
                </h4>
                <div class="fr-highlight fr-highlight--beige-gris-galet fr-ml-0 fr-mb-4w">
                    <p>
                        <b>Coût total de l’opération :</b>
                        {{ dossier.finance_cout_total|euro:2 }}
                    </p>
                    <p>
                        <b>Montant de la subvention demandée : </b>{{ dossier.demande_montant|euro:2 }}
                    </p>
                </div>
                {% for dotation_projet in projet.dotationprojet_set.all %}
                    {% if projet.dotationprojet_set.all|length > 1 %}
                        <h6>
                            {{ dotation_projet.dotation }}
                        </h6>
                    {% endif %}

                    <div class="fr-highlight fr-highlight--beige-gris-galet fr-ml-0 fr-mb-4w">
                        <p>
                            <b>Montant des dépenses éligibles retenues (€) :</b> {{ dotation_projet.assiette|euro:2 }}
                        </p>
                        <p>
                            <b>Montant accordé :</b> {{ dotation_projet.montant_retenu|euro:2 }}
                        </p>
                        <p>
                            <b>Taux de subvention (%) :</b> {{ dotation_projet.taux_retenu|percent:2 }}
                        </p>
                    </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div>
