<nav aria-label="sections projet">
    <ul class="fake fr-tabs__list ul-list">
        <li>
            {% url "projet:get-projet" projet_id=projet.id as projet_url %}
            <a href="{{ projet_url }}{% querystring %}"
               {% if request.path == projet_url %}aria-selected="true"{% endif %}
               class="fr-tabs__tab fr-icon-article-line fr-tabs__tab--icon-left">Projet</a>
        </li>
        <li>
            {% url "projet:get-projet-notes" projet_id=projet.id as notes_url %}
            <a href="{{ notes_url }}{% querystring %}"
               {% if request.path == notes_url %}aria-selected="true"{% endif %}
               class="fr-tabs__tab fr-icon-edit-line fr-tabs__tab--icon-left">Notes</a>
        </li>
    </ul>
</nav>
