{% extends "base.html" %}
{% load static dsfr_tags %}

{% block breadcrumb %}
{% endblock breadcrumb %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock extra_css %}

{% block title %}
    <title>
        {% if form.errors %}
            Erreur de connexion
        {% else %}
            Se connecter avec ProConnect ou une adresse e-mail
        {% endif %}
        — {{ SITE_CONFIG.site_title }}
    </title>
{% endblock title %}

{% block content %}
    <div class="fr-container fr-container--fluid fr-mb-md-14v">
        <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-py-10v fr-py-md-14v">
                    <div class="fr-grid-row fr-grid-row-gutters fr-grid-row--center">
                        <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
                            <h1>
                                Turgot
                            </h1>
                            <div class="fr-fieldset__element">
                                <p>
                                    Cet outil est destiné aux agents publics. Utilisez le bouton
                                    ProConnect ci-dessous.
                                </p>
                            </div>
                            <div class="fr-mb-6v">
                                <h2>
                                    Se connecter avec ProConnect
                                </h2>
                                <div class="fr-connect-group fr-my-2w">
                                    <a href="{% url 'oidc_authentication_init' %}" class="fr-connect">
                                        <span class="fr-connect__login">S’identifier avec</span>
                                        <span class="fr-connect__brand">ProConnect</span>
                                    </a>
                                    <p>
                                        <a href="https://www.proconnect.gouv.fr/"
                                           target="_blank"
                                           rel="noopener"
                                           title="Qu’est-ce que ProConnect ? - nouvelle fenêtre">
                                            Qu’est-ce que ProConnect ?
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
