{% extends "gsl_notification/tab_simulation_projet/tab_notifications.html" %}
{% load static gsl_filters %}
{% block notification_content %}
    <a class="fr-btn fr-btn--icon-left fr-btn--tertiary fr-icon-arrow-left-s-line fr-mb-4w"
       href="{% url 'gsl_notification:documents' projet.id %}">
        Annuler l'import
    </a>

    <div class="arrete-container">
        <h2 class="fr-mb-3w">
            Importer un document
        </h2>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button class="fr-btn fr-btn--icon-left fr-icon-file-text-line" type="submit">
                Importer sur Turgot
            </button>
        </form>
    </div>
{% endblock notification_content %}
