{% extends "gsl_notification/tab_simulation_projet/tab_notifications.html" %}

{% block notification_content %}
    <a class="fr-btn fr-btn--icon-left fr-btn--tertiary fr-icon-arrow-left-s-line fr-mb-4w"
       href="{% url 'gsl_notification:documents' projet.id %}">
        Annuler l'import
    </a>

    <div class="arrete-container">
        <h2 class="fr-mb-3w">
            Ajouter un document
        </h2>
        {% include "includes/_uploaded_document_form.html" %}
    </div>
{% endblock notification_content %}
