{% extends "htmx/_base_htmx_modal.html" %}
{% block button_label %}
    ✅ Accepté
{% endblock button_label %}

{% block content %}
    <h1 class="fr-modal__title success-color">
        <span class="fr-icon-checkbox-fill fr-icon--lg" aria-hidden="true"></span> Accepter le
        financement du projet
    </h1>
    {% if object.dotation_projet.assiette %}
        <p>
            Ce projet va être accepté dans toutes les simulations dans lesquelles il a été ajouté.
            Il apparaîtra dans la programmation officielle {{ object.enveloppe.dotation }} {{ object.enveloppe.annee }}.
        </p>
        <p>
            Êtes-vous sûr(e) d'accepter ce projet&nbsp;?
        </p>
        <form id="{{ modal_id }}-form"
              hx-post="{{ request.path }}"
              hx-target="#{{ modal_id }}"
              hx-swap="outerHTML">
            {{ form.non_field_errors }}
        </form>
    {% else %}
        <div class="fr-alert fr-alert--error fr-alert--sm fr-mt-6w">
            <p class="fr-alert__title">
                Impossible d'accepter le projet
            </p>
            <p>
                Le projet ne peut pas être accepté car il manque l'assiette subventionnable.
                Veuillez ajouter le montant des dépenses éligibles retenues avant d'accepter un projet.
            </p>
        </div>
    {% endif %}
{% endblock content %}

{% block confirmation_button %}
    <button type="submit"
            class="fr-btn fr-btn--primary"
            {% if not object.dotation_projet.assiette %}disabled="disabled"{% endif %}
            form="{{ modal_id }}-form">
        Confirmer
    </button>
{% endblock confirmation_button %}
