{% extends "htmx/_base_htmx_modal.html" %}
{% block button_label %}
    <span aria-hidden="true">⛔️</span> Classé sans suite
{% endblock button_label %}

{% block content %}
    <h1 class="fr-modal__title fr-text-default--warning"
        id="{{ modal_id }}-title">
        <i class="fr-icon-warning-fill"></i>
        Classer sans suite la demande de financement
    </h1>
    <p>
        Ce projet va être classé sans suite dans toutes les simulations dans lesquelles il a été
        ajouté. Le demandeur va être notifié.
    </p>
    <form id="{{ modal_id }}-form"
          hx-post="{% url 'gsl_simulation:dismiss-form' simulation_projet.id %}"
          hx-encoding="multipart/form-data"
          hx-target="#{{ modal_id }}"
          hx-swap="outerHTML"
          hx-disabled-elt="#{{ modal_id }}-submit-button, #{{ modal_id }}-cancel-button">
        {{ form }}
    </form>
    {% if simulation_projet.projet.dossier_ds.ds_state == "en_construction" %}
        <div class="fr-alert fr-alert--info fr-alert--sm fr-mt-6w">
            <p class="fr-alert__title">
                Dossier en construction
            </p>
            <p>
                Le dossier de ce projet est actuellement en construction sur Démarches
                Simplifiées. Le projet sera passé en instruction avant d’être réfusé.
            </p>
        </div>
    {% endif %}
{% endblock content %}

{% block confirmation_button %}
    <button type="submit"
            class="fr-btn fr-btn--primary"
            form="{{ modal_id }}-form"
            id="{{ modal_id }}-submit-button">
        Classer sans suite
    </button>
{% endblock confirmation_button %}
