{% extends "htmx/_base_htmx_modal.html" %}
{% load simulation_filters %}

{% block button_label %}
    {{ new_simulation_status|status_to_label }}
{% endblock button_label %}
{% block content %}
    <h1 class="fr-modal__title fr-text-default--error"
        id="{{ modal_id }}-title">
        <i class="fr-icon-group-fill"></i>
        Vous ne faites pas partie du groupe d'instructeurs de ce dossier
    </h1>
    <p>
        <b>Vous n’avez pas les droits pour changer le statut de ce dossier</b> car vous ne faites pas partie du
        groupe d’instructeurs ayant accès à ce dossier sur Démarche Numérique. Pour changer cela,
        veuillez vous rapprocher de la personne administratrice de cette démarche.
    </p>
{% endblock content %}
{% block confirmation_button %}
    <button class="fr-btn fr-btn--primary" aria-controls="{{ modal_id }}">
        Compris
    </button>
{% endblock confirmation_button %}
