<div class="fr-container fr-container--fluid fr-container-md confirmation-modal-container">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
            <div class="fr-modal__body">
                <div class="fr-modal__header">
                    <button aria-controls="refuse-confirmation-modal"
                            title="Fermer"
                            type="button"
                            class="fr-btn--close fr-btn close-modal">
                        Fermer
                    </button>
                </div>
                <div class="fr-modal__content">
                    <h1 class="fr-modal__title fr-text-default--error"
                        id="refuse-confirmation-modal-title">
                        <i class="fr-icon-warning-fill"></i>
                        Refuser le projet
                    </h1>
                    <p>
                        Ce projet va être refusé dans toutes les simulations dans lesquelles il a été ajouté.
                        Le demandeur va être notifié.
                    </p>
                    <form id="refuse-confirmation-form"
                          hx-post="{% url 'gsl_simulation:refuse-form' simulation_projet.id %}"
                          hx-encoding="multipart/form-data"
                          hx-target="#refuse-confirmation-modal"
                          hx-swap="innerHTML">
                        {{ form }}
                    </form>
                    {% if simulation_projet.projet.dossier_ds.ds_state == "en_construction" %}
                        <div class="fr-alert fr-alert--info fr-alert--sm fr-mt-6w">
                            <p class="fr-alert__title">
                                Dossier en construction
                            </p>
                            <p>
                                Le dossier de ce projet est actuellement en construction sur Démarches Simplifiées. Le
                                projet sera passé en instruction avant d'être réfusé.
                            </p>
                        </div>
                    {% endif %}
                </div>

                <div class="fr-modal__footer confirmation-modal-footer">
                    <button class="fr-btn fr-btn--secondary"
                            aria-controls="refuse-confirmation-modal">
                        Annuler
                    </button>
                    <button type="submit"
                            class="fr-btn fr-btn--primary"
                            form="refuse-confirmation-form">
                        Refuser
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
