{% extends "gsl_projet/projet/tab_projet.html" %}
{% load static gsl_filters %}

{% block status_action %}
    <div class="fr-callout fr-background-alt--blue-france">
        <h2 class="fr-callout__title">
            <i class="fr-icon-coin-fill blue-color" aria-hidden="true"></i>
            Décision de financement du projet
        </h2>

        <form action="{% url 'simulation:patch-simulation-projet-status' simu.id %}"
              method="POST">
            {% csrf_token %}
            <fieldset class="fr-fieldset fr-mb-0"
                      id="radio-rich-no-pictogram-inline"
                      aria-labelledby="todo => radio-rich-no-pictogram-inline-legend radio-r ich-no-pictogram-inline-messages">

                {% include "includes/_status_radio_button.html" with status_value="provisoire" status_label="Accepter provisoirement" disabled=1 icon="fr-icon-check-line" %}
                <div class="separator">
                </div>
                {% include "includes/_status_radio_button.html" with status_value="valid" status_label="Accepter" icon="fr-icon-checkbox-circle-line" %}
                {% include "includes/_status_radio_button.html" with status_value="cancelled" status_label="Refuser" icon="fr-icon-close-line" %}
                {% include "includes/_status_radio_button.html" with status_value="dismissed" status_label="Classer sans suite" disabled=1 icon="fr-icon-subtract-line" %}
                <div class="separator">
                </div>
                {% include "includes/_status_radio_button.html" with status_value="draft" status_label="En traitement" disabled=1 icon="fr-icon-draft-fill" %}
            </fieldset>
            <input type="submit" hidden />
        </form>
    </div>
{% endblock status_action %}
