{% extends "gsl_projet/projet/tab_projet.html" %}
{% load static gsl_filters %}

{% block status_action %}
    <div class="fr-callout fr-background-alt--blue-france">
        <h2 class="fr-callout__title">
            <i class="fr-icon-coin-fill blue-icon" aria-hidden="true"></i>
            Décision de financement du projet
        </h2>

        <fieldset class="fr-fieldset fr-mb-0"
                  id="radio-rich-no-pictogram-inline"
                  aria-labelledby="todo => radio-rich-no-pictogram-inline-legend radio-r ich-no-pictogram-inline-messages">

            <!--factorize this-->
            <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group fr-radio-rich radio-input-provisoire">
                    <input value="provisoire"
                           type="radio"
                           id="provisoire"
                           name="status-update"
                           {% if simu.status == "provisoire" %}checked{% endif %}>
                    <label class="fr-label" for="provisoire">
                        Accepter provisoirement
                        <i class="fr-icon-check-line" aria-hidden="true"></i>
                    </label>
                </div>
            </div>

            <div class="separator">
            </div>

            <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group fr-radio-rich radio-input-valid">
                    <input value="valid"
                           type="radio"
                           id="valid"
                           name="status-update"
                           {% if simu.status == "valid" %}checked{% endif %}>
                    <label class="fr-label" for="valid">
                        Accepter
                        <i class="fr-icon-checkbox-circle-line" aria-hidden="true"></i>
                    </label>
                </div>
            </div>

            <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group fr-radio-rich radio-input-cancelled">
                    <input value="cancelled"
                           type="radio"
                           id="cancelled"
                           name="status-update"
                           {% if simu.status == "cancelled" %}checked{% endif %}>
                    <label class="fr-label" for="cancelled">
                        Refuser
                        <i class="fr-icon-close-line" aria-hidden="true"></i>
                    </label>
                </div>
            </div>

            <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group fr-radio-rich radio-input-dismissed">
                    <input value="dismissed"
                           type="radio"
                           id="dismissed"
                           name="status-update"
                           {% if simu.status == "dismissed" %}checked{% endif %}>
                    <label class="fr-label" for="dismissed">
                        Classer sans suite
                        <i class="fr-icon-subtract-line" aria-hidden="true"></i>
                    </label>
                </div>
            </div>

            <div class="separator">
            </div>

            <div class="fr-fieldset__element fr-fieldset__element--inline">
                <div class="fr-radio-group fr-radio-rich radio-input-draft">
                    <input value="draft"
                           type="radio"
                           id="draft"
                           name="status-update"
                           {% if simu.status == "draft" %}checked{% endif %}>
                    <label class="fr-label" for="draft">
                        En traitement
                        <i class="fr-icon-draft-fill" aria-hidden="true"></i>
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
{% endblock status_action %}
