{% extends "gsl_projet/projet/tab_projet.html" %}
{% load static gsl_filters %}

{% block avis_commission_detr %}
    <div class="fr-callout fr-background-alt--blue-france fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters avis-commission-detr-block">
            <h2 class="fr-callout__title fr-text--lg">
                <span class="fr-icon fr-icon-team-fill blue-color fr-mr-3v"
                      aria-hidden="true"></span>Commission DETR (projet à + de 50k)
            </h2>

            <div class="avis-commission-detr-select-and-label">
                <label class="fr-label" for="avis-commission-detr">
                    Sélectionner l'avis de la commission d'élus DETR :
                </label>

                <div class="avis-commission-detr-select-group">
                    {% if projet.avis_commission_detr %}
                        <span class="fr-icon-chat-check-fill green-color" aria-hidden="true"></span>
                    {% elif projet.avis_commission_detr is False %}
                        <span class="fr-icon-chat-delete-fill red-color" aria-hidden="true"></span>
                    {% else %}
                        <span class="fr-icon-message-2-fill grey-color" aria-hidden="true"></span>
                    {% endif %}
                    <select name="avis_commission_detr"
                            id="avis-commission-detr"
                            class="fr-select"
                            onchange="this.form.submit()">
                        <option value='None'
                                {% if projet.avis_commission_detr is None %}selected{% endif %}>
                            En cours
                        </option>
                        <option value='True' {% if projet.avis_commission_detr %}selected{% endif %}>
                            Oui
                        </option>
                        <option value='False'
                                {% if projet.avis_commission_detr is False %}selected{% endif %}>
                            Non
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock avis_commission_detr %}

{% block status_action %}
    <div class="fr-callout fr-background-alt--blue-france">
        <h2 class="fr-callout__title">
            <i class="fr-icon-coin-fill blue-color" aria-hidden="true"></i>
            Décision de financement du projet
        </h2>

        <form action="{% url 'simulation:patch-simulation-projet-status' simu.id %}"
              method="POST">
            {% csrf_token %}
            <fieldset class="fr-fieldset fr-mb-0"
                      id="radio-rich-no-pictogram-inline"
                      aria-labelledby="todo => radio-rich-no-pictogram-inline-legend radio-r ich-no-pictogram-inline-messages">

                {% include "includes/_status_radio_button.html" with status_value="provisoire" status_label="Accepté provisoirement" icon="fr-icon-check-line" %}
                <div class="separator">
                </div>
                {% include "includes/_status_radio_button.html" with status_value="valid" status_label="Accepté" icon="fr-icon-checkbox-circle-line" %}
                {% include "includes/_status_radio_button.html" with status_value="cancelled" status_label="Refusé" icon="fr-icon-close-line" %}
                {% include "includes/_status_radio_button.html" with status_value="dismissed" status_label="Classé sans suite" icon="fr-icon-subtract-line" %}
                <div class="separator">
                </div>
                {% include "includes/_status_radio_button.html" with status_value="draft" status_label="En traitement" icon="fr-icon-draft-fill" %}
            </fieldset>
            <input type="submit" hidden />
        </form>
    </div>
{% endblock status_action %}
