{% load static %}
<li class="arrete-card fr-mt-4w">
    <div class="arrete-card__header">
        <span class="fr-tag">
            Fichier importé
        </span>

        <div class="gsl-dropdown">
            <button class="fr-btn fr-btn--tertiary fr-btn--icon-only fr-icon-more-fill arrete-card__actions-button"
                    data-fr-opened="false"
                    aria-controls="document-menu-arrete-signe"
                    aria-expanded="false"
                    title="Actions du document">
            </button>
            <div class="gsl-dropdown-content arrete-card__actions"
                 id="document-menu-arrete-signe">
                <ul class="no-list-style fr-m-0">
                    <li>
                        <form method="post"
                              id="delete-arrete-signe"
                              action="{% url 'gsl_notification:delete-arrete-signe' arrete_signe.id %}">
                            {% csrf_token %}
                            <button type="button"
                                    class="fr-btn fr-btn--secondary arrete-card__action arrete-delete-button"
                                    aria-controls="delete-arrete-signe-confirmation-modal"
                                    data-fr-opened="false">
                                Supprimer
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fr-enlarge-link">
        <img class="arrete-card__image"
             src="{% static 'img/arrete_vignette.png' %}"
             alt="Image d'un arrêté">
        <span class="show-on-hover fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-eye-line">Visualiser</span>
        <a class="fr-link fr-link--download"
           href="{{ arrete_signe.get_absolute_url }}">
            {{ arrete_signe.name }} -
            {{ arrete_signe.type|upper }} -
            {{ arrete_signe.size|filesizeformat }}
        </a>
    </div>
    <div>
        Ajouté le {{ arrete_signe.created_at|date:"d/m/Y" }} à {{ arrete_signe.created_at|time:"H:i" }}
        par {{ arrete_signe.created_by }}
    </div>
</li>
