<form method="post"
      enctype="multipart/form-data"
      id="arrete-signe-form"
      class="{% if not arrete_signe_form.errors %}hidden{% endif %}"
      action="{% url 'gsl_notification:create-arrete-signe' programmation_projet.id %}">
    {% if source_simulation_projet_id %}
        <input type="hidden"
               name="source_simulation_projet_id"
               value="{{ source_simulation_projet_id }}">
    {% endif %}

    {% if arrete_signe_form.errors %}
        <div class="fr-alert fr-alert--error fr-mb-1w">
            <p class="fr-alert__title">
                Erreur dans le formulaire
            </p>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% csrf_token %}
    <div class="fr-input-group">
        <label class="fr-label" for="id_file">
            Ajouter l'arrêté signé
        </label>
        <span class="fr-hint-text fr-mb-1w" id="id_file_helptext">
            Taille maximale : 20 Mo. Formats acceptés : jpg, png, pdf.
        </span>

        {{ arrete_signe_form.file }}
    </div>
    <input type="hidden" name="created_by" value="{{ user.id }}">
    <input type="hidden"
           name="programmation_projet"
           value="{{ programmation_projet.id }}">
    <button class="fr-btn" type="submit" id="submit-arrete-signe-form" disabled>
        Envoyer
    </button>
</form>
