<form method="post"
      enctype="multipart/form-data"
      id="arrete-form"
      class="hidden fr-mt-4w">
    {% csrf_token %}
    {% if source_simulation_projet_id %}
        <input type="hidden"
               name="source_simulation_projet_id"
               value="{{ source_simulation_projet_id }}">
    {% endif %}

    {{ arrete_form.errors }}
    <label for="editor" class="fr-label fr-mb-2w">
        <b>
            Création de l'arrêté sur Turgot :
        </b>
    </label>
    <div id="toolbar">
        <button data-action="bold" type="button">
            <b>Gras</b>
        </button>
        <button data-action="italic" type="button">
            <i>Italique</i>
        </button>
        <button data-action="underline" type="button">
            <u>Souligné</u>
        </button>
        <button data-action="heading" data-level="1" type="button">
            Titre 1
        </button>
        <button data-action="heading" data-level="2" type="button">
            Titre 2
        </button>
        <button data-action="bulletList" type="button">
            Liste à puces
        </button>
        <button data-action="orderedList" type="button">
            Liste numérotée
        </button>
        <button data-action="align" data-align="left" type="button">
            Gauche
        </button>
        <button data-action="align" data-align="center" type="button">
            Centrer
        </button>
        <button data-action="align" data-align="right" type="button">
            Droite
        </button>
        <button data-action="undo" type="button">
            Annuler
        </button>
        <button data-action="redo" type="button">
            Rétablir
        </button>
    </div>
    <div id="editor">
    </div>
    {{ arrete_form.content }}
    <input type="hidden" name="created_by" value="{{ user.id }}">
    <input type="hidden"
           name="programmation_projet"
           value="{{ programmation_projet.id }}">
    <div id="initial_content" hidden>
        {{ arrete_initial_content }}
    </div>
    <div class="next-step-buttons">
        <button type="button"
                id="cancel-arrete-form"
                class="fr-btn fr-btn--secondary">
            Annuler
        </button>
        <button type="submit" id="cancel-arrete-form" class="fr-btn">
            Enregistrer les modifications
        </button>
    </div>
</form>
