<form method="post"
      enctype="multipart/form-data"
      id="arrete-form"
      class="hidden fr-mt-4w">
    <label for="editor" class="fr-label fr-mb-2w">
        <b>
            Création de l'arrêté sur Turgot :
        </b>
    </label>
    {% comment %} <div id="toolbar">
    <button data-action="bold"  type="button">
      <b>Gras</b>
    </button>
    <button data-action="italic" type="button">
      <i>Italique</i>
    </button>
    <button data-action="undo" type="button">
      Annuler
    </button>
    <button data-action="redo" type="button">
      Rétablir
    </button>
    </div> {% endcomment %}
    <div id="editor">

    </div>
    {% comment %} {{ form.content }}   {% endcomment %}
    <div class="next-step-buttons">
        <button type="button"
                id="cancel-arrete-form"
                class="fr-btn fr-btn--secondary">
            Annuler
        </button>
        <button type="button" id="cancel-arrete-form" class="fr-btn">
            Enregistrer les modifications
        </button>
    </div>
</form>
