{% extends "includes/modals/modal_base.html" %}
{% block modal_id %}
    delete-arrete-confirmation-modal
{% endblock modal_id %}

{% block content %}
    <h1 class="fr-modal__title refuse-color">
        <span class="fr-icon-delete-fill fr-icon--lg" aria-hidden="true"></span> <span id="delete-arrete-modal-title">Suppression de l'arrêté créé avec Turgot</span>
    </h1>
    <p>
        Êtes-vous sûr(e) de vouloir supprimer cet arrêté ?
        Cette action est irréversible.
    </p>
{% endblock content %}

{% block confirmation_button %}
    <button class="fr-btn fr-btn--primary" id="confirm-delete-arrete">
        Supprimer
    </button>
{% endblock confirmation_button %}
