{% load static %}
<li class="arrete-card fr-mt-4w">
    <div class="arrete-card__header">
        <span class="fr-tag">
            {% if document.is_generated %}
                Créé sur Turgot
            {% else %}
                Importé
            {% endif %}
        </span>
        <span class="fr-tag fr-tag--success">
            {{ document.programmation_projet.enveloppe.dotation }}
        </span>

        <details name="document-actions">
            <summary class="fr-btn fr-btn--tertiary fr-btn--icon-only fr-icon-more-fill arrete-card__actions-button"
                     aria-label="Ouvrir les actions du document">
            </summary>
            <ul class="new-gsl-dropdown-content arrete-card__actions no-list-style fr-m-0">
                {% if document.is_generated %}
                    <li>
                        <a href="{% url "notification:modifier-document" document.programmation_projet.projet.id document.programmation_projet.dotation document.document_type %}"
                           class="fr-btn fr-btn--secondary arrete-card__action">
                            Modifier
                        </a>
                    </li>
                {% else %}
                    <li>
                        <button type="button"
                                class="fr-btn fr-btn--secondary arrete-card__action"
                                data-fr-opened="false"
                                aria-controls="delete-document-confirmation-modal"
                                aria-expanded="false"
                                data-name="{{ document.name }}"
                                data-type="{{ document.document_type }}"
                                data-form-action="{% url "notification:delete-uploaded-document" document.document_type document.id %}"
                                data-action="delete-notification-document-modal#updateModaleTitleAndSubmitAction">
                            Supprimer
                        </button>
                    </li>
                {% endif %}
            </ul>
        </details>
    </div>
    <div>
        <div class="fr-enlarge-link">
            <a href="{{ document.get_view_url }}"
               class="arrete-card__image-container">
                <img class="arrete-card__image"
                     src="{% static 'img/arrete_vignette.png' %}"
                     alt="Image d'un arrêté">
                <span class="show-on-hover fr-btn fr-btn--icon-left fr-btn--secondary fr-icon-eye-line">Visualiser</span>
            </a>
        </div>
        <a class="fr-link fr-link--download"
           href="{{ document.get_download_url }}">
            {{ document.name }} -
            {{ document.file_type|upper }} -
            {{ document.size|filesizeformat }}
        </a>
    </div>
    <div>
        Ajouté le {{ document.created_at|date:"d/m/Y" }} à {{ document.created_at|time:"H:i" }}
        par {{ document.created_by }}
    </div>
</li>
