{% if documents %}
    <div class="fr-table fr-mt-3w">
        <div class="fr-table__wrapper">
            <div class="fr-table__container">
                <div class="fr-table__content">
                    <table>
                        <caption class="fr-sr-only">{{ caption }}</caption>
                        <thead>
                            <tr>
                                <th scope="col" class="fr-cell--center">{{ date_label }}</th>
                                <th scope="col" class="fr-cell--center">Dotation</th>
                                <th scope="col" class="fr-cell--center">Nom du document</th>
                                <th scope="col" class="fr-cell--center">Actions</th>
                                <th scope="col" class="fr-cell--center">
                                    <span class="fr-sr-only">Supprimer</span>
                                    <i class="fr-icon-delete-fill fr-mr-1w" aria-hidden="true"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for document in documents %}
                                <tr>
                                    <td>{{ document.created_at|date:"d/m/Y H\hi" }}</td>
                                    <td>{{ document.programmation_projet.dotation }}</td>
                                    <td>
                                        <span class="document-name-cell" title="{{ document.name }}">{{ document.name }}</span>
                                    </td>
                                    <td>
                                        {% if is_imported %}
                                            {% if document.is_downloadable %}
                                                <div class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--centers fr-btns-group--icon-left fr-btns-group--sm">
                                                    <a href="{{ document.get_view_url }}"
                                                       class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-eye-line fr-btn--icon-left">
                                                        Visualiser
                                                    </a>
                                                    <a href="{{ document.get_download_url }}"
                                                       class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-line fr-btn--icon-left">
                                                        Télécharger ({{ document.size|filesizeformat }})
                                                    </a>
                                                </div>
                                            {% elif document.is_infected %}
                                                <span class="fr-error-text fr-text--sm">Fichier infecté détecté par l'antivirus</span>
                                            {% else %}
                                                <span class="fr-info-text fr-text--sm">Analyse antivirus en cours…</span>
                                            {% endif %}
                                        {% else %}
                                            <div class="fr-btns-group fr-btns-group--inline-sm fr-btns-group--centers fr-btns-group--icon-left fr-btns-group--sm">
                                                <a href="{{ document.get_view_url }}"
                                                   class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-eye-line">
                                                    Visualiser
                                                </a>
                                                <a href="{{ document.get_download_url }}"
                                                   class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-download-line">
                                                    Télécharger ({{ document.size|filesizeformat }})
                                                </a>
                                                <a href="{% url "notification:modifier-document" document.programmation_projet.projet.id document.programmation_projet.dotation document.document_type %}"
                                                   class="fr-btn fr-btn--sm fr-btn--secondary fr-icon-edit-line">
                                                    Modifier
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="fr-btns-group fr-btns-group--sm fr-btns-group--centers">
                                            <button type="button"
                                                    class="fr-btn fr-btn--secondary fr-btn--icon-only fr-icon-delete-line"
                                                    aria-controls="delete-document-confirmation-modal"
                                                    aria-expanded="false"
                                                    data-fr-opened="false"
                                                    data-name="{{ document.name }}"
                                                    data-type="{{ document.document_type }}"
                                                    data-form-action="{% url "notification:delete-document" document.document_type document.id %}"
                                                    data-delete-title="{{ document.delete_title }}"
                                                    data-delete-question="{{ document.delete_question }}"
                                                    data-action="delete-notification-document-modal#updateModaleTitleAndSubmitAction"
                                                    aria-label="Supprimer {{ document.name }}"></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="no-documents-info">{{ empty_message }}</div>
{% endif %}
