<p class="fr-mb-1w">
    Notifié le <b>{{ notification.created_at|date:"j F Y" }}</b> à <b>{{ notification.created_at|time }}</b>
    par <b>{{ notification.actor_name }}</b>
</p>
{% if notification.reason %}
    <p class="fr-text--bold fr-mb-1w">Message de motivation :</p>
    <p class="fr-mb-1w keep-breaklines">{{ notification.reason }}</p>
{% endif %}
{% if notification.notification_document %}
    <a href="{{ notification.notification_document.url }}"
       target="_blank"
       rel="noopener"
       class="fr-link fr-icon-download-line fr-link--icon-left">
        Document envoyé
    </a>
{% endif %}
