<div class="fr-container fr-container--fluid fr-container-md">
    <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
            <div class="fr-modal__body">
                <div class="fr-modal__header">
                    <button aria-controls="{{ modal_id }}"
                            title="Fermer"
                            type="button"
                            class="fr-btn--close fr-btn close-modal">
                        Fermer
                    </button>
                </div>
                <div class="fr-modal__content">
                    <h1 class="fr-modal__title fr-text-default--error"
                        id="{{ modal_id }}-title">
                        <i class="fr-icon-group-fill"></i>
                        Vous ne faites pas partie du groupe d'instructeurs de ce dossier
                    </h1>
                    <p>
                        <b>Vous n’avez pas les droits pour changer le statut de ce dossier</b> car vous ne faites pas partie du
                        groupe d’instructeurs ayant accès à ce dossier sur Démarche Numérique. Pour changer cela,
                        veuillez vous rapprocher de la personne administratrice de cette démarche.
                    </p>
                </div>

                <div class="fr-modal__footer confirmation-modal-footer">
                    <button class="fr-btn fr-btn--primary" aria-controls="{{ modal_id }}">
                        Compris
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
