{% load ui_tags %}
<div id="notification-message-block"
     {% if oob %}hx-swap-oob="true"{% endif %}>
    {% if projet.notified_at %}
        <p class="fr-text-default--success">
            Message de notification envoyé le {{ projet.notified_at|date }} à {{ projet.notified_at|time }} sur Démarche Numérique.
        </p>
    {% elif is_instructor %}
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-md-9 fr-col-lg-6">
                <form method="post"
                      data-controller="form-utils"
                      data-action="form-utils#disableButtons"
                      hx-post="{% url 'fragment:gsl_notification:notification_message' projet.pk %}"
                      hx-target="#notification-message-block"
                      hx-swap="outerHTML">
                    {% csrf_token %}
                    {% ui_form_errors form=form %}

                    {{ form.message.as_field_group }}

                    {% if projet.dotation_not_treated %}
                        <div role="alert" class="fr-alert fr-alert--warning fr-alert--sm fr-mb-2w">
                            <p>
                                La dotation {{ projet.dotation_not_treated }} est en attente de traitement.
                            </p>
                        </div>
                    {% elif dotation_projets_without_signed_document %}
                        <div role="alert" class="fr-alert fr-alert--warning fr-alert--sm fr-mb-2w">
                            <p>
                                Documents manquants pour notifier&nbsp;:
                            </p>
                            <ul>
                                {% for dotation_projet in dotation_projets_without_signed_document %}
                                    <li>
                                        Lettre de notification et arrêté signés {{ dotation_projet.dotation }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <button type="submit"
                            class="fr-btn fr-icon-mail-line fr-btn--icon-right"
                            {% if projet.dotation_not_treated or dotation_projets_without_signed_document %}disabled{% endif %}>
                        Notifier
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <p class="fr-text-default--info">
            Vous ne pouvez pas notifier le projet car vous n'êtes pas instructeur de ce dossier.
        </p>
    {% endif %}
</div>
