<form method="post"
      enctype="multipart/form-data"
      action="{% url 'gsl_notification:upload-a-document' programmation_projet.id document_type %}">

    {% if form.errors %}
        <div class="fr-alert fr-alert--error fr-mb-1w">
            <p class="fr-alert__title">
                Erreur dans le formulaire
            </p>
            <ul>
                {% for error in form.non_field_errors %}
                    <li>
                        {{ error }}
                    </li>
                {% endfor %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% csrf_token %}
    <div class="fr-upload-group fr-mb-4w">
        <label class="fr-label" for="id_file">
            Importer un document
        </label>
        <span class="fr-hint-text fr-mb-1w" id="id_file_helptext">
            Taille maximale : 20 Mo. Formats acceptés : jpg, png, pdf.
        </span>

        <input type="file" name="file" id="id_file" required="" class="fr-upload">
    </div>
    <input type="hidden" name="created_by" value="{{ user.id }}">
    <input type="hidden"
           name="programmation_projet"
           value="{{ programmation_projet.id }}">
    <button class="fr-btn" type="submit" id="submit-arrete-signe-form" disabled>
        Envoyer
    </button>
</form>
