html {
    scroll-behavior: smooth;
}

.fr-header__operator .fr-responsive-img {
    max-width: 8rem;
}

.dgcl-logo-footer {
    max-width: 12rem;
}

.header-items {
    position: relative;
}

.header-items #user-menu > ul {
    max-width: 200px;
}

/* Utils */

.gsl-nowrap {
    white-space: nowrap;
}

ul.no-list-style {
    list-style-type: none;
    padding-inline-start: 0;
}

ul.no-list-style li {
    padding: 0;
}

.gsl-money {
    font-variant-numeric: tabular-nums;
    text-align: right !important;
}

.gsl-no-underline {
    background-image: none;
}

.stick-to-bottom {
    position: sticky;
    bottom: 1em;
}

.text-align-right {
    text-align: right;
}

/* Colors */

.color-red {
    color: var(--status-color-red);
}

.color-green {
    color: var(--status-color-green);
}

.color-blue {
    color: var(--status-color-blue);
}

.color-brown {
    color: var(--status-color-brown);
}

/* Page un projet */

.gsl-projet-container {
    border-top: 1px solid #ddd;
}

.gsl-projet-menu {
    border-right: 1px solid #ddd;
}

.gsl-projet h3 {
    display: flex;
    align-items: center;
    margin: 2em 0 1em;
}

.gsl-projet h3::before {
    content: "";
    background: #000091;
    width: 1.1em;
    height: .35em;
    margin: 0 .5em .1em 0;
}

.gsl-projet h3::after {
    content: "";
    flex-grow: 1;
    margin-left: 1em;
    height: 1px;
    background: #ddd;
}

.gsl-projet h4 {
    font-size: 1.25rem;
}

.gsl-projet h5 {
    font-size: 1.125rem;
}

.gsl-projet > section {
    padding: 3em;
}

.gsl-projet > section + section {
    border-top: 1px solid #ddd;
}

.block-avis-commission-detr {
    display: inline-flex;
    gap: 16px;
    align-items: center;
}

/* Liste de projets */
.gsl-projet-table thead {
    background-image: linear-gradient(0, #6a6af4, #6a6af4);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #e3e2fd;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
}

.gsl-projet-table thead th {
    padding: 1em .75em;
    text-align: center;
    line-height: 1.3;
}

.gsl-projet-table thead th,
.gsl-projet-table thead th .fr-badge {
    font-size: calc(9rem / 16); /* = 9px */
}

.max_180_width {
    max-width: 180px;
    width: 180px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max_160_width {
    max-width: 160px;
    width: 160px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max_80_width {
    max-width: 100px;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max_120_width {
    max-width: 140px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.gsl_projet_table__total {
    width: 100%;
    justify-content: center;
    color: var(--text-title-blue-france);
    font-weight: 500;
    line-height: calc(14rem / 16);
    display: inline-flex;
}

.gsl-projet-table__total-cost {
    background-color: var(--background-alt-blue-france);
}

.gsl-projet-table__total-asked {
    background-color: var(--artwork-background-green-tilleul-verveine);
}

.gsl-projet-table__total-granted {
    background-color: var(--background-contrast-success);
}


.gsl-projet-table thead th:first-child {
    padding-left: 1.5em;
}

.gsl-projet-table,
.gsl-projet-table table tbody td .fr-select,
.gsl-projet-table table tbody td .fr-input {
    font-size: .6rem; /* = 10px */
}

.gsl-projet-table table {
    width: 100%;
    border-collapse: collapse;
}

.gsl-projet-table table tbody td {
    border-bottom: 1px solid #929292;
    padding: .75em;
    line-height: 1.5;
}

.gsl-projet-table table tbody td:first-child {
    padding-left: 1.5em;
}

/* Nécessaire car on utilise pas la structure de
div et de classes du DSFR, hors le sélecteur ne s'applique que dans .fr-table__content */
.gsl-projet-table .fr-cell--center {
  text-align: center;
}


.fr-table__footer {
    justify-content: center;
}


.gsl-tooltip {
    padding-top: 0;
    padding-bottom: 4px;
    max-height: 28px;
    min-height: 24px;
}

.projet_status__accepted {
    color: var(--text-default-success)
}

.projet_status__refused {
    color: var(--text-default-error)
}

/* projet detail */
.badge-projet-status{
    min-width: max-content;
}

.badge-projet-status__accepted,
.badge-projet-status__valid {
    background-color: var(--background-contrast-success);
    color: var(--text-default-success);
}

.badge-projet-status__refused,
.badge-projet-status__cancelled {
    background-color: var(--background-contrast-error);
    color: var(--text-default-error);
}

/* .badge-projet-status__processing {
    background-color: var(--background-contrast-info);
    color: var(--text-default-info);
} */

.badge-projet-status__dismissed {
    background-color: var(--background-contrast-warning);
    color: var(--text-default-warning);
}

.badge-projet-status__provisionally_accepted {
    background-color: var(--background-contrast-info);
    color: var(--text-default-info);
}

.badge-projet-status__provisionally_refused {
    background-color: var(--background-contrast-beige-gris-galet);
    color: var(--text-action-high-orange-terre-battue);
}

/* common */
.blue-color {
    color: var(--blue-france-sun-113-625);
}

.success-color,
.green-color {
    color: var(--text-default-success);
}

.refuse-color,
.red-color {
    color: var(--text-default-error);
}

.grey-color {
    color: var(--text-default-grey);
}

.processing-color {
  color: var(--text-default-grey);
}

.dismiss-color {
    color: var(--text-default-warning);
}


/* detail projet */

.fr-tabs__list.fake {
    list-style-type: none;
}

.fake-tab-panel {
    border: 1px solid #ddd;
    padding: 2rem;
    transform: translateY(-5px);
}

.sticky-menu {
    position: sticky;
    top: 1.5rem;
}

.callout-without-left-border {
  background-image: none;
}

/* dropdown */

.gsl-dropdown > button {
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gsl-dropdown > .fr-input {
  display: flex;
}

.gsl-dropdown > button > span {
  margin-top: 1px; /* Alignement vertical de l'icône */
}


.gsl-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 260px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 20%);
  padding: 10px;
  z-index: 1000;
  gap: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}


.gsl-dropdown .gsl-dropdown-content {
  gap: 6px;
  min-width: auto;
}


/* New gsl-dropdown without JS ! Migrate to this then, remove gsl-dropdown-content (or rename the new to the old) */

.new-gsl-dropdown-content {
  display: grid;
  position: absolute;
  background-color: white;
  min-width: 260px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 20%);
  padding: 10px;
  z-index: 1000;
  gap: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}

.projet-notification-status {
  margin-top: 4px;
  display: flex;
  gap: 6px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  align-items: center;
}

.projet__to_notify {
  color: var(--text-default-error);
}

.projet__notified {
  color: var(--blue-france-sun-113-625);
}

/* modal */

.confirmation-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

/* programmation */
.tab-submenu ul {
    display: flex;
}

.tab-submenu ul li + li {
    margin-left: 2em;
}

.tab-submenu .active-link {
    color: var(--text-title-blue-france);
}

/* ce serait peut-être mieux de garder le souligné sur ces liens: */
.secondary-link {
    --underline-thickness: 0px;
}

.secondary-link:hover {
    --underline-thickness: calc(0.0625em + 0.25px)
}

.modelearrete-form-wrapper {
    display: flex;
}

.modelearrete-form-wrapper > form {
    flex-grow: 1;
}

.arrete-step-1-more-info {
    width: 50%;
    text-align: right;
    padding: 2em 0 0 2em;
}

.arrete-step-1-more-info img {
    max-width: 80%;
}

/* Spinner animation for loading buttons */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fr-icon-spin::before,
.fr-icon-spin::after {
  animation: spin 1s linear infinite;
}

.fr-icon-loader::before,
.fr-icon-loader::after {
  mask-image: url("../img/refresh-line.svg") !important;
}

