html {
    scroll-behavior: smooth;
}

.fr-header__operator .fr-responsive-img {
    max-width: 8rem;
}

.dgcl-logo-footer {
    max-width: 12rem;
}

/* Utils */

.gsl-pull-right {
    float: right;
}

.gsl-nowrap {
    white-space: nowrap;
}

ul.no-list-style {
    list-style-type: none;
    padding-inline-start: 0;
}

ul.no-list-style li {
    padding: 0;
}

.gsl-money {
    font-variant-numeric: tabular-nums;
    text-align: right !important;
}

.gsl-no-underline {
    background-image: none;
}

/* Colors */

.color-red {
    color: var(--status-color-red);
}
.color-green {
    color: var(--status-color-green);
}
.color-blue {
    color: var(--status-color-blue);
}

/* Page un projet */

.gsl-projet-container {
    border-top: 1px solid #ddd;
}

.gsl-projet-menu {
    border-right: 1px solid #ddd;
}

.gsl-projet h4 {
    display: flex;
    align-items: center;
    margin: 2em 0 1em;
}

.gsl-projet h4::before {
    content: "";
    background: #000091;
    width: 1.1em;
    height: .35em;
    margin: 0 .5em .1em 0;
}

.gsl-projet h4::after {
    content: "";
    flex-grow: 1;
    margin-left: 1em;
    height: 1px;
    background: #ddd;
}

.gsl-projet > section {
    padding: 3em;
}

.gsl-projet > section + section {
    border-top: 1px solid #ddd;
}

/* Liste de projets */
.gsl-projet-table thead {
    background-image: linear-gradient(0, #6a6af4, #6a6af4);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #e3e2fd;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    z-index: 1;
}

.gsl-projet-table thead th {
    padding: 1em .75em;
    text-align: center;
    line-height: 1.3;
}

.gsl-projet-table thead th,
.gsl-projet-table thead th .fr-badge {
    font-size: calc(9rem / 16); /* = 9px */
}

.max_180_width {
    max-width: 180px;
    width: 180px;
    min-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max_80_width {
    max-width: 100px;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max_120_width {
    max-width: 140px;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gsl_projet_table__total {
    width: 100%;
    justify-content: center;
    color: var(--text-title-blue-france);
    font-weight: 500;
    line-height: calc(14rem / 16);
    display: inline-flex;
}

.gsl-projet-table__total-cost {
    background-color: var(--background-alt-blue-france);
}

.gsl-projet-table__total-asked {
    background-color: var(--artwork-background-green-tilleul-verveine);
}

.gsl-projet-table__total-granted {
    background-color: var(--background-contrast-success);
}


.gsl-projet-table thead th:first-child {
    padding-left: 1.5em;
}

.gsl-projet-table,
.gsl-projet-table table tbody td .fr-select,
.gsl-projet-table table tbody td .fr-input {
    font-size: .6rem; /* = 10px */
}

.gsl-projet-table table {
    width: 100%;
    border-collapse: collapse;
}

.gsl-projet-table table tbody td {
    border-bottom: 1px solid #929292;
    padding: .75em;
    line-height: 1.5;
}

.gsl-projet-table table tbody td:first-child {
    padding-left: 1.5em;
}

.projets-filters-layout {
    background: var(--background-alt-blue-france);
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding: 1rem max(calc((100vw - 1200px) / 2), 1.5rem);
}

.fr-table__footer {
    justify-content: center;
}


.gsl-tooltip{
    padding-top: 0;
    padding-bottom: 4px;
    max-height: 28px;
    min-height: 24px;
}

/* TODO utilister des variables avec un préprocesseur ? */
@media (max-width: 768px) {
    .projets-filters-layout {
        padding: 1rem;
    }
}

.projet_status__accepted {
    color: var(--text-default-success)
}

.projet_status__refused {
    color: var(--text-default-error)
}

/* projet detail */
.badge-projet-status__accepted,
.badge-projet-status__valid {
    background-color: var(--background-contrast-success);
    color: var(--text-default-success);
}

.badge-projet-status__refused,
.badge-projet-status__cancelled {
    background-color: var(--background-contrast-error);
    color: var(--text-default-error);
}

/* .badge-projet-status__processing {
    background-color: var(--background-contrast-info);
    color: var(--text-default-info);
} */

.badge-projet-status__dismissed {
    background-color: var(--background-contrast-warning);
    color: var(--text-default-warning);
}

.badge-projet-status__provisoire {
    background-color: var(--background-contrast-info);
    color: var(--text-default-info);
}

/* common */
.blue-color {
    color: var(--blue-france-sun-113-625);
}

.success-color {
    color: var(--text-default-success);
}
  