<div hx-swap-oob="beforeend:body">
    <div class="fr-modal"
         id="dossier-not-up-to-date-modal"
         aria-labelledby="dossier-not-up-to-date-modal-title"
         aria-hidden="true">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button aria-controls="dossier-not-up-to-date-modal"
                                    title="Fermer"
                                    type="button"
                                    class="fr-btn--close fr-btn close-modal">
                                Fermer
                            </button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 class="fr-modal__title" id="dossier-not-up-to-date-modal-title">
                                <i class="fr-icon-warning-fill"></i>Des informations ont été modifiées sur
                                Démarches Simplifiées
                            </h1>
                            <p>
                                Les informations des dossiers sont récupérées sur Démarches Simplifiées et mises à jour
                                sur
                                Turgot toutes les heures.
                                <b>Nous remarquons des changements sur ce dossier, sur Démarches Simplifiées, qui datent
                                    de
                                    moins d'une heure</b>.
                                </p>
                                <p>
                                    Vous devez actualiser depuis DS les informations de ce dossier et le réexaminer avant de
                                    le
                                    notifier.
                                </p>
                                <form action="{% url "gsl_demarches_simplifiees:refresh-one-dossier" object.dossier.ds_number %}"
                                      method="post"
                                      id="refresh-dossier-form">
                                    {% csrf_token %}
                                </form>
                            </div>
                            <div class="fr-modal__footer">
                                <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-right">
                                    <li>
                                        <button type="submit"
                                                form="refresh-dossier-form"
                                                class="fr-btn fr-icon-refresh-line">
                                            Actualiser depuis DS
                                        </button>
                                    </li>
                                    <li>
                                        <button class="fr-btn fr-btn--secondary close-modal">
                                            Annuler
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="fr-mt-0 fr-btn fr-btn--icon-left fr-icon-mail-line"
            id="to_notify_button"
            type="button"
            aria-controls="dossier-not-up-to-date-modal"
            data-fr-opened="false">
        Notifier le demandeur
    </button>
