{% extends "gsl_notification/modele_arrete/modelearrete_form_base.html" %}
{% load static dsfr_tags gsl_filters csp %}

{% block submit_button_text %}
    Enregistrer le modèle
{% endblock submit_button_text %}
{% block extra_js %}
    {{ mention_items|json_script:"mention-items-data" }}
    <script src="{% static 'js/formOnSeveralPages.js' %}"></script>
    <script nonce="{{request.csp_nonce}}">
        const CONTENT_FIELD_NAME="{{ wizard.form.prefix }}-content";
        const WITH_MENTION=true;
    </script>
    <script type="module" src="{% static 'js/tiptap.js' %}"></script>
{% endblock extra_js %}

{% block more_content_in_form %}
    <div>
        <h4>
            Rédiger le contenu de ce modèle d’arrêté
        </h4>
        <p>
            Veuillez remplir le contenu de votre arrêté. Pour ajouter des variables des valeurs de remplissage automatique pour le publipostage, merci d’utiliser le signe "@".
        </p>
    </div>

    <div id="toolbar">
        <button data-action="bold" type="button">
            <b>Gras</b>
        </button>
        <button data-action="italic" type="button">
            <i>Italique</i>
        </button>
        <button data-action="underline" type="button">
            <u>Souligné</u>
        </button>
        <button data-action="heading" data-level="1" type="button">
            Titre 1
        </button>
        <button data-action="heading" data-level="2" type="button">
            Titre 2
        </button>
        <button data-action="bulletList" type="button">
            Liste à puces
        </button>
        <button data-action="orderedList" type="button">
            Liste numérotée
        </button>
        <button data-action="align" data-align="left" type="button">
            Gauche
        </button>
        <button data-action="align" data-align="center" type="button">
            Centrer
        </button>
        <button data-action="align" data-align="justify" type="button">
            Justifier
        </button>
        <button data-action="align" data-align="right" type="button">
            Droite
        </button>
        <button data-action="undo" type="button">
            Annuler
        </button>
        <button data-action="redo" type="button">
            Rétablir
        </button>
    </div>
    <div id="editor">
    </div>
    <div id="initial_content" hidden>
        <p>
            Écrivez ici le contenu de votre arrêté
        </p>
    </div>
{% endblock more_content_in_form %}
