{% extends "gsl_notification/modele_arrete/modelearrete_form_base.html" %}
{% load static dsfr_tags gsl_filters %}

{% block tab_content %}
    <div class="fr-m-4w">
        <h1>
            Création d’un nouveau modèle d’arrêté {{ dotation }}
        </h1>
        {% dsfr_stepper current_step_id=wizard.steps.step1 total_steps=wizard.steps.count current_step_title=step_title next_step_title=next_step_title %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form.as_table }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form }}
                {% endif %}
            </table>
            <div class="fr-mt-3w modele-arrete-form-btns">
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step"
                            class="fr-btn fr-btn--icon-left fr-icon-arrow-left-s-line"
                            type="submit"
                            value="{{ wizard.steps.prev }}">
                        Étape précédente
                    </button>
                {% endif %}
                <button class="fr-btn fr-btn--icon-right fr-icon-arrow-right-s-line"
                        type="submit">
                    Étape suivante
                </button>
            </div>
        </form>
    </div>
{% endblock tab_content %}
